{% extends "layouts/admin/base.html" %}

{% set pageId = 'users' %}

{% block content %}

  {% include 'includes/primary-nav.html' %}

  <div class="govuk-width-container">
    {{govukBackLink({
      href: '/app/account/users/approve-users'
    })}}
    <main role="main" class="govuk-main-wrapper">

      <h1 class="govuk-heading-xl">Approve John Smith</h1>

      <form action="/app/account/users/approve-users-approved">


        {{ govukCheckboxes({
          idPrefix: "permissions",
          name: "permissions",
          fieldset: {
            legend: {
              text: "Permissions",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "All users can submit applications and view applications made by other users. You can also give them additional permissions."
          },
          items: [
            {
              value: "users",
              text: "Manage users",
              hint: {
                text: "Invite, approve and delete users; change permissions"
              }
            },
            {
              value: "org",
              text: "Manage organisation",
              hint: {
                text: "View and edit details"
              }
            },
            {
              value: "payment",
              text: "Manage payment",
              hint: {
                text: "View payments; add and delete accounts"
              }
            }
          ]
        }) }}

          {{govukButton({
            text: 'Save'
          })}}
        </form>


    </main>
  </div>

{% endblock %}