{% extends "./layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set primaryNavId = 'terms' %}
{% block page_title %}Terms{% endblock %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <a class="hmcts-header__link" href="/">Manage cases</a>
        <div class="hmcts-header__content">
            <nav class="hmcts-header__navigation">
                <ul class="hmcts-header__navigation-list">
                    <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="/sign-out">
                            Sign out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endblock %}
{% block content%}
<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="column-two-thirds">
                    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
                    <p class="govuk-body">Try again later.</p>
                </div>
            </div>
        </div>
</div>
</div>
</main>
</div>
</div>
{% endblock %}