{% extends "layouts/service/base.html" %}
{% set serviceName = '' %}
{% block content %}
<div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="/mvp/register-organisation/idam-account-created">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Create a password
                            </h1>
                        </legend>
                        <p>It needs to include at least:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>8 characters</li>
                            <li>a capital letter</li>
                            <li>a number</li>
                        </ul>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="">
                                Password
                            </label>
                            <input type="password" class="govuk-input" id="" name="" type="text" aria-describedby="">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="">
                                Confirm password
                            </label>
                            <input type="password" class="govuk-input" id="" name="" type="text" aria-describedby="">
                        </div>
                        <button type="submit" class="govuk-button">
                            Continue
                        </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}