{% extends "layouts/unbranded.html" %}
{% block content%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">From: <b>HM Courts & Tribunals Registrations &lt;hm.courts.and.tribunals.registrations@notifications.service.gov.uk&gt;</b><br>
            Sent: <b>18 Oct 2018, 11:31am</b><br>Subject: <b>Register to manage civil and family law cases</b></p>
        <p class="govuk-body">Your organisation has been invited by HM Courts & Tribunals Service to register to manage civil and family law cases online.</p>
        <h2 class="govuk-heading-m">What you need to do</h2>
        <p class="govuk-body">You need to <a href="/mvp-4/register-organisation/start">register your organisation</a>.</p>
        <p class="govuk-body">At the same time, you'll give us details to create your user account.</p>
        <h2 class="govuk-heading-m">After you've registered</h2>
        <p class="govuk-body">We’ll approve the registration within 3 working days and send you an email asking you to finish creating your account.</p>
        <p class="govuk-body">Once you've done this, you can <a href="/mvp-4/manage-case/start-manage-case">sign in to your account</a>. You'll be able to invite other people to use the service.</p>
        <p class="govuk-body">Yours</p>
        <p class="govuk-body">HM Courts & Tribunals Service</p>
    </div>
</div>
{% endblock %}