{% extends "mvp-4/manage-organisation/layout.html" %}
{% set serviceName = 'Register to manage civil and family law cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Register to manage civil and family law cases</a>
    </div>
</header>
{% endblock %}
{% block content%}
<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Register to manage civil and family law cases</h1>
                <p class="govuk-body">At the same time as you register your organisation, you'll give us details to create your user account.</p>
                <p class="govuk-body">We’ll approve the registration within 3 working days and send you an email asking you to finish creating your account.</p>
                {{ govukButton({
                text: "Start",
                href: "/mvp-4/register-organisation/organisation-name",
                classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                }) }}
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </main>
</div>
</div>
{% endblock %}