{% extends "layouts/unbranded.html" %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Subject: Registration submitted for HM Courts and Tribunals Service (HMCTS) professional services</h1>

    <p class="govuk-body">From: <b>HMCTS online services</b> &lt;online.services@hmcts.gov.uk&gt;<br>Sent: 3 Oct 2018, 11:30am</p>
    <p class="govuk-body">You have submitted a registration to use HM Courts and Tribunals Service (HMCTS) professional services.</p>
    <p class="govuk-body">We'll email you again either to confirm your registration or to ask for more information. Contact HMCTS if you do not receive another email within 3 working days.</p>
    <p class="govuk-body">Yours</p>
    <p class="govuk-body">HM Courts and Tribunals Service</p>

  </div>
</div>
{% endblock %}
