{% extends "govuk_template_unbranded.html" %}

{% set serviceName = 'Register organisation for HMCTS services' %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Subject: Register to use HM Courts and<br> Tribunals Service (HMCTS) online services</h1>

    <p class="govuk-body">From: <b>HMCTS online services</b> &lt;online.services@hmcts.gov.uk&gt;<br>Sent: 1 Oct 2018, 11:31am</p>
    <p class="govuk-body">Your organisation has been invited to register for HM Courts and Tribunals Service (HMCTS)<br> online services. After you register, you'll be able to apply online for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>divorce</li>
        <li>financial remedy</li>
        <li>probate</li>
      </ul>
    <p class="govuk-body">You'll also be able to invite other people in your organisation to use these online services.</p>
    <h2 class="govuk-heading-l">What you need to do</h2>
    <p class="govuk-body">You need to <a href="/create-account-v2/start">register your organisation</a>. At the same time you'll set up a user account for yourself.</p>
    <h2 class="govuk-heading-l">When you need to register by</h2>
    <p class="govuk-body">You need to register by the end of Friday 12 October 2018. After that you'll need to contact<br> HMCTS to get a new invitation.</p>

    <p class="govuk-body">Yours</p>
    <p class="govuk-body">HM Courts and Tribunals Service</p>

  </div>
</div>
{% endblock %}
