{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS account' %}

{% block content %}
<div class="govuk-width-container">

    {{govukBackLink({
      href: '/create-account/email'
    })}}

    <main role="main" class="govuk-main-wrapper">
      <h1 class="govuk-heading-xl">Create a password</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/create-account-v2/check">

            {{ govukInput({
              label: {
                text: "Enter your password",
                classes: 'govuk-label--m',
                isPageHeading: false
              },
              type: 'password',
              id: "password",
              name: "password"
            }) }}

            {{ govukInput({
              label: {
                text: "Confirm your password",
                classes: 'govuk-label--m',
                isPageHeading: false
              },
              type: 'password',
              id: "confirm-password",
              name: "confirm-password"
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#name')
    })
  </script>
{% endblock %}