{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register organisation for HMCTS services' %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register your organisation for HMCTS online services</h1>

    <p class="govuk-body">You'll create your own user account at the same time as registering your organisation. It will take around 5 minutes.</p>

    <p class="govuk-body">We'll contact you within 3 working days to confirm that you can use HMCTS online services. You'll then be able to sign in to your user account to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>create cases and check their status</li>
      <li>create accounts for people in your organisation to use HMCTS online services</li>
    </ul>

    {{ govukButton({
      text: "Start",
      href: "/create-account-v2/organisation-name",
      classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
<!--
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
 -->
  </div>
</div>
{% endblock %}