{% extends "layouts/admin/base.html" %}

{% block page_title %}Create new direction {% endblock %}

{% block content %}
  {% include "includes/casebar.html" %}

  <div class="jui-width-container">

    <main role="main" class="govuk-main-wrapper">

      <form action="/app/case/{{caseId}}/create-direction" method="post">

        {{ govukBackLink({
          "text": "Back",
          "href": "/app/case/"+caseId+"/directions"
        }) }}

        <h1 class="govuk-heading-l">Create direction</h1>

        {{ govukRadios({
          "idPrefix": "party",
          "name": "party",
          "fieldset": {
            "legendHtml": 'Party'
          },
          "items": [
            {
              "value": "Alan Jones",
              "text": "Alan Jones"
            },
            {
              "value": "DWP",
              "text": "DWP"
            }
          ]
        }) }}

        {{ govukRadios({
          "idPrefix": "type",
          "name": "type",
          "fieldset": {
            "legendHtml": 'Type'
          },
          "items": [
            {
              "value": "Document request",
              "text": "Document request"
            },
            {
              "value": "Statement confirmation",
              "text": "Statement confirmation"
            }
          ]
        }) }}

        {{ govukTextarea({
          "name": "message",
          "id": "message",
          "classes": "govuk-input--width-30",
          "label": {
            "html": 'Direction'
          }
        }) }}

        {{ govukInput({
          "label": {
            "html": 'Due date'
          },
          "id": "dueDate",
          "name": "dueDate",
          "classes": "govuk-input--width-10"
        }) }}



        {{ govukButton({
          "text": "Create direction"
        }) }}

      </form>

    </main>

  </div>

{% endblock %}