{% extends "layouts/admin/base.html" %}

{% set casenavId = "casefile" %}

{% block page_title %}Documents - Judicial UI prototype{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">

    {% include "includes/secondary-nav.html" %}

    <h1 class="govuk-heading-l">Documents</h1>

    <div class="jui-casefile  govuk-!-mb-r6">

      <div class="jui-casefile-files">

        <ul class="jui-casefile-list">
          <li><a href="/app/cases/{{casenav.id}}/casefile" aria-current="true">A. Key facts</a></li>
          <li><a href="/app/cases/{{casenav.id}}/casefile/b">B. Applicant</a>
            <ul class="hidden">
              <li><a href="">Application for decree nisi</a></li>
              <li><a href="">Petition for divorce</a></li>
              <li><a href="">Marriage certificate</a></li>
            </ul>
          </li>
          <li><a href="">C. Respondent</a></li>
        </ul>

      </div>

      <div class="jui-casefile-page">

        <!-- page 1 -->
        <div class="jui-casefile-page-content">

          <div class="jui-casefile-page-head">
            <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
          </div>

          <div class="jui-casefile-page-body">

            <h2 class="govuk-heading-l">Key facts</h2>

            {{ govukTable({
              "firstCellIsHeader": true,
              "caption": "1. Petitioner details",
              "captionClasses": "govuk-heading-s",
              "classes": "govuk-!-f-16  govuk-!-mb-r8  jui-table  jui-table--fixed",
              "rows": [
                [
                  {"text": "Full name"},
                  {"text": "David Francis"}
                ],
                [
                  {"text": "Date of birth"},
                  {"text": "7 June 1981"}
                ],
                [
                  {"text": "Address"},
                  {"html": "24 Park Road<br>Lewisham<br>London<br>E11 4PR"}
                ]
              ]
            }) }}


            {{ govukTable({
              "firstCellIsHeader": true,
              "caption": "2. Respondent details",
              "captionClasses": "govuk-heading-s",
              "classes": "govuk-!-f-16  govuk-!-mb-r8  jui-table  jui-table--fixed",
              "rows": [
                [
                  {"text": "Full name"},
                  {"text": "Susan Francis"}
                ],
                [
                  {"text": "Date of birth"},
                  {"text": "16 April 1979"}
                ],
                [
                  {"text": "Address"},
                  {"html": "89 London Road<br>Hinckley<br>London<br>LE10 1HH"}
                ]
              ]
            }) }}


            {{ govukTable({
              "firstCellIsHeader": true,
              "caption": "3. Facts relied upon",
              "captionClasses": "govuk-heading-s",
              "classes": "govuk-!-f-16  govuk-!-mb-r8  jui-table  jui-table--fixed",
              "rows": [
                [
                  {"text": "Reason for divorce"},
                  {"text": "Separated for 2 years and consent"}
                ],
                [
                  {"text": "Length of separation"},
                  {"text": "2 years 3 months"}
                ],
                [
                  {"text": "Date of petition"},
                  {"html": "3 April 2018<br>Changes since petition (none)"}
                ],
                [
                  {"text": "Date of marriage"},
                  {"text": "1 January 2014 (4 years 3 months)"}
                ],
                [
                  {"text": "Place of marriage"},
                  {"html": "London, England, United Kingdom"}
                ]
              ]
            }) }}


            {{ govukTable({
              "firstCellIsHeader": true,
              "caption": "4. Service and Respondent’s response",
              "captionClasses": "govuk-heading-s",
              "classes": "govuk-!-f-16  govuk-!-mb-r8  jui-table  jui-table--fixed",
              "rows": [
                [
                  {"text": "Acknowledged by Respondent"},
                  {"text": "Yes"}
                ],
                [
                  {"text": "Intention to Defend"},
                  {"text": "No"}
                ],
                [
                  {"text": "Consent to divorce"},
                  {"text": "Yes"}
                ],
                [
                  {"text": "Jurisdiction response"},
                  {"html": "England and Wales (both habitually resident)<br>Respondent agrees (yes)"}
                ]
              ]
            }) }}


            {{ govukTable({
              "firstCellIsHeader": true,
              "caption": "5. Other details",
              "captionClasses": "govuk-heading-s",
              "classes": "govuk-!-f-16  jui-table  jui-table--fixed",
              "rows": [
                [
                  {"text": "Address last lived"},
                  {"html": "24 Park Road<br>Lewisham<br>London<br>E11 4PR"}
                ],
                [
                  {"text": "Date of application for decree nisi"},
                  {"html": "5 May 2018"}
                ],
                [
                  {"text": "Changes since petition"},
                  {"html": "None"}
                ]
              ]
            }) }}

          </div>

        </div>

      </div>

    </div>

  </main>

</div>

{% endblock %}