{% extends "layouts/admin/base.html" %}

{% set casenavId = "parties" %}

{% block page_title %}Parties - Judicial UI prototype{% endblock %}

{% block body_start %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block content %}

  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      {% include "includes/casenav.html" %}

      <h1 class="govuk-heading-l">Parties</h1>

			{% set petitionerHtml %}
			<div class="govuk-grid">

				<div class="govuk-grid__item  govuk-grid__item--one-half">

					<h2 class="gov-heading-s  govuk-!-mb-r2  govuk-!-mt-r6">Petitioner</h2>

					{{ govukTable({
						"classes": "jui-table  govuk-!-f-16",
						"firstCellIsHeader": true,
						"rows": [
							[
								{"text": "Full name"},
								{"text": "David Francis"}
							],
							[
								{"text": "Date of birth"},
								{"text": "7 June 1981"}
							],
							[
								{"text": "Address"},
								{"html": "24 Park Road<br>Lewisham<br>London<br>E11 4PR"}
							],
							[
								{"text": "Phone"},
								{"text": "07787 557 967"}
							],
							[
								{"text": "Email"},
								{"text": "david.francis@gmail.com"}
							],
							[
								{"text": "Representative"},
								{"text": "Unrepresented"}
							]
						]
					}) }}

				</div>

			</div>
      {% endset %}

      {% set respondentHtml %}
			<div class="govuk-grid">

				<div class="govuk-grid__item  govuk-grid__item--one-half">

					<h2 class="gov-heading-s  govuk-!-mb-r2  govuk-!-mt-r6">Respondent</h2>

					{{ govukTable({
						"classes": "jui-table  govuk-!-f-16",
						"firstCellIsHeader": true,
						"rows": [
							[
								{"text": "Full name"},
								{"text": "Susan Francis"}
							],
							[
								{"text": "Date of birth"},
								{"text": "16 April 1979"}
							],
							[
								{"text": "Address"},
								{"html": "89 London Road<br>Hinckley<br>London<br>LE10 1HH"}
							],
							[
								{"text": "Phone"},
								{"text": "07700 900 772"}
							],
							[
								{"text": "Email"},
								{"text": "susan.francis@gmail.com"}
							],
							[
								{"text": "Representative"},
								{"text": "Unrepresented"}
							]
						]
					}) }}

				</div>

			</div>
      {% endset %}

      {{govukTabbedPanel({
        tabs: [{
          id: 'petitioner',
          label: 'Petitioner',
          panel: {
            html: petitionerHtml
          }
        }, {
          id: 'respondent',
          label: 'Respondent',
          panel: {
            html: respondentHtml
          }
        }]
      })}}

		</main>

	</div>

{% endblock %}

{% block page_scripts %}
  <script>
    if(TabbedPanel) {
      new TabbedPanel($('.govuk-tabbed-panel').eq(0));
    } else {
      $('.govuk-tabbed-panel .js-hidden').removeClass('js-hidden');
      $('.js-tabs-enabled').removeClass('js-tabs-enabled');
    }
  </script>
{% endblock %}