{% extends "layouts/admin/base.html" %}

{% set casenavId = "timeline" %}

{% block page_title %}Timeline - Judicial UI prototype{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    {% include "includes/secondary-nav.html" %}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Timeline</h1>

        {{juiTimeline({
          "classes": "govuk-!-mb-r7",
          "isPageSpecific": true,
          "events": events
        })}}

      </div>

    </div>

  </main>

</div>

{% endblock %}