{% extends "layouts/admin/base.html" %}

{% set casenavId = "timeline" %}

{% block page_title %}Timeline - Judicial UI prototype{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    {% include "includes/casenav.html" %}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Timeline</h1>

        {{juiTimeline({
          "classes": "govuk-!-mb-r7",
          "isPageSpecific": true,
          "events": [
            {
              "title": "DWP response recieved",
              "dateAdded": "2018-02-18T11:17",
              "addedBy": "DWP"
            }, 
            {
              "title": "Appeal lodged",
              "dateAdded": "2018-02-17T11:17",
              "addedBy": "Appellant"
            }, 
            {
              "title": "MRN issued",
              "dateAdded": "2018-02-02T12:53",
              "addedBy": "DWP"
            }, 
            {
              "title": "MRN requested",
              "dateAdded": "2018-02-01T09:28",
              "addedBy": "Appellant"
            }, 
            {
              "title": "Decision issued",
              "dateAdded": "2018-01-03T10:32",
              "addedBy": "DWP"
            }
          ]
        })}}

      </div>

    </div>

  </main>

</div>

{% endblock %}