<!-- Javascript -->
<script src="/node_modules/hmcts-frontend/vendor/jquery.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/node_modules/hmcts-frontend/all.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/casefile/casefile.js"></script>
<script src="/public/javascripts/tree/tree.js"></script>
<script src="/public/javascripts/filter-menu-button/filter-menu-button.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
