<!-- Javascript -->
<script src="/node_modules/hmcts-frontend/vendor/jquery.js"></script>
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<!-- <script src="/node_modules/hmcts-frontend/all.js"></script> -->

<script src="/node_modules/hmcts-frontend/all.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
