<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/rangy/rangy-core.js"></script>
<script src="/public/javascripts/rangy/rangy-highlighter.js"></script>
<script src="/public/javascripts/rangy/rangy-classapplier.js"></script>
<script src="/public/javascripts/rangy/rangy-selectionsaverestore.js"></script>
<script src="/public/javascripts/rangy/rangy-serializer.js"></script>
<script src="/public/javascripts/rangy/rangy-textrange.js"></script>
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<script src="/public/javascripts/govuk-frontend-0.0.29-alpha.min.js"></script>
<script src="/public/javascripts/tabs/Tabs.js"></script>
<script src="/public/javascripts/add-another/AddAnother.js"></script>

{% if useAutoStoreData %}
<script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}