<nav class="jui-secondary-nav" aria-label="Case navigation">
  <ul class="jui-secondary-nav__list">
    <li class="jui-secondary-nav__item">
      <a class="jui-secondary-nav__link" {{ 'aria-current=page' if casenavId == 'summary'}} href="/app/cases/{{casenav.id}}">Summary</a>
    </li>
    {% if casenav.parties %}
    <li class="jui-secondary-nav__item">
      <a class="jui-secondary-nav__link" {{ 'aria-current=page' if casenavId == 'parties'}} href="/app/cases/{{casenav.id}}/parties">Parties</a>
    </li>
    {% endif %}
    <li class="jui-secondary-nav__item">
      <a class="jui-secondary-nav__link" {{ 'aria-current=page' if casenavId == 'casefile'}} href="/app/cases/{{casenav.id}}/documents">Documents</a>
    </li>
    <li class="jui-secondary-nav__item">
      <a class="jui-secondary-nav__link" {{ 'aria-current=page' if casenavId == 'timeline'}} href="/app/cases/{{casenav.id}}/timeline">Timeline</a>
    </li>
    {% if casenav.questions %}
      <li class="jui-secondary-nav__item">
        <a class="jui-secondary-nav__link" {{ 'aria-current=page' if casenavId == 'questions'}} href="/app/cases/{{casenav.id}}/questions">Questions</a>
      </li>
    {% endif %}
    {% if casenav.directions %}
      <li class="jui-secondary-nav__item">
        <a class="jui-secondary-nav__link" {{ 'aria-current=page' if casenavId == 'directions'}} href="/app/cases/{{casenav.id}}/directions">Directions</a>
      </li>
    {% endif %}
    {% if casenav.notes %}
      <li class="jui-secondary-nav__item">
        <a class="jui-secondary-nav__link" {{ 'aria-current=page' if casenavId == 'notes'}} href="/app/cases/{{casenav.id}}/notes">Notes</a>
      </li>
    {% endif %}
    {% if casenav.correspondence %}
      <li class="jui-secondary-nav__item">
        <a class="jui-secondary-nav__link" {{ 'aria-current=page' if casenavId == 'casecomms'}} href="/app/cases/">Case comms.</a>
      </li>
    {% endif %}
  </ul>
</nav>