
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


      <div class="column-two-thirds"> 
                  <h1 class="govuk-heading-xl">Using this service</h1>

  <h2 class="govuk-heading-m">Terms and conditions</h2>
<p>We’ve recently updated the <a href="#" rel="noopener noreferrer" target="_blank">terms and conditions</a>.</p>

<p>You must review and accept them.</p>

<button class="govuk-button" data-module="govuk-button">
   Confirm
</button></p>

    </div>
  </div>
</div>