{% extends "layouts/service/base.html" %}

{% block content %}

  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">

        {{ govukPanel({
          titleText: "Transfer requested",
          html: 'Reference PAS12345'
        }) }}

        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">
          We'll contact the organisation you have told us about and take you off the case accordingly.
        </p>

        <p class="govuk-body">
          <a href="/manage-case">Find another case</a>
        </p>


    </main>
  </div>

{% endblock %}