{% extends "layouts/service/base.html" %}

{% block content %}

  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">

        {{ govukPanel({
          titleText: "Transfer requested",
          html: 'Reference PAS12345'
        }) }}

        <h3 class="govuk-heading-m">What happens next</h3>

        <div class="govuk-body">
          <p>
            We've contacted {{data['transfer-email-address']}} to tell them that you want to transfer the case to them.
          </p>

          <p>
            You can no longer access the case. 
          </p>

          <p>
            <a href="/manage-case">Find another case</a>
          </p>

        </div>

    </main>
  </div>

{% endblock %}