{% set toggleSearchHtml %}
  <div class="hmcts-search-toggle">
    <div class="hmcts-search-toggle__toggle"></div>
    <div class="hmcts-search-toggle__search">
      {{ hmctsSearch({
        action: '/v1-1/search-results',
        classes: 'hmcts-search--ondark hmcts-search--toggle hmcts-hidden',
        input: {
          id: 'search2',
          name: 'search2'
        },
        label: {
          classes: 'govuk-visually-hidden',
          text: 'Search'
        },
        hint: {
          text: 'Enter case number or party name.'
        },
        button: {
          text: 'Search'
        }
      }) }}
    </div>
  </div>
{% endset %}

