{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set pageId = 'users' %}
{% block header %}
{{hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
})}}
{{hmctsPrimaryNavigation({
classes: "govuk-!-margin-bottom-0",
items: [ {
text: 'Organisation',
href: '/manage-admin-i3',
active: false
}, {
text: 'Users',
href: '/manage-admin-i3/users',
active: true
},{
text: 'Cases',
href: '/manage-admin-i3/cases',
active: false
}, {
text: 'Fee accounts',
href: '/manage-admin-i3/payments',
active: false
}]
})}}
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukPanel({
                titleText: "You've invited",
                html: 'amyvenkatanarasimharaj@wedlakebell.com'
                }) }}
                <h3 class="govuk-heading-m">What happens next</h3>
                <p class="govuk-body">
                    Your colleague will receive an email from HM Courts & Tribunals so they can finish setting up their account. It can take up to 1 hour for the account to become active.</p>
                <p class="govuk-body">Remind them to check their inbox. They’ll need to click the link in the email to create a password and activate their account.
                    If your colleague already has an account, they’ll be able to log in with their existing username and password.
                </p>
                <p class="govuk-body">
                    <a href="/manage-admin-i3/users/view-pending-users">Go back to manage users</a>
                </p>
                <!--
         <p><a style ="color:white" href="/create-user-account-v2">Link to Idam email</a></p>
-->
            </div>
        </div>
    </main>
</div>
{% endblock %}