{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set pageId = 'users' %}
{% block header %}
{{hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
})}}
{{hmctsPrimaryNavigation({
classes: "govuk-!-margin-bottom-0",
items: [ {
text: 'Organisation',
href: '/manage-admin-i3',
active: false
}, {
text: 'Users',
href: '/manage-admin-i3/users',
active: true
},{
text: 'Cases',
href: '/manage-admin-i3/cases',
active: false
}, {
text: 'Fee accounts',
href: '/manage-admin-i3/payments',
active: false
}]
})}}
{% endblock %}
{% block content %}

<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
        <div class="hmcts-page-heading">
            <div class="hmcts-page-heading__title-wrapper">
                <span class="govuk-caption-xl">Wedlake Bell</span>
                <h1 class="govuk-heading-xl">Users</h1>
            </div>
            <div class="hmcts-page-heading__actions-wrapper">
                {{govukButton({
                text: 'Invite user',
                href: '/manage-admin-i3/users/new',
                classes: 'hmcts-page-heading__button'
                })}}
            </div>
        </div>
        <nav class="hmcts-sub-navigation">
            <ul class="hmcts-sub-navigation__list">
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" aria-current="page" href="/manage-admin-i3/users/">
                        Active
                    </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="/manage-admin-i3/users/view-pending-users">
                        Pending
                    </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="/manage-admin-i3/users/view-revoked-users">
                        Suspended
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <p>Showing <b>12</b> users</p>
        </div>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Name</button></th>
                    <th scope="col" class="govuk-table__header" aria-sort="decending"><button type="button" data-index="0">Email address</button></th>
                      <th scope="col" class="govuk-table__header" aria-sort="decending"><button type="button" data-index="0">Role</button></th>
                    <th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="/manage-admin-i3/users/view">Joe Bloggs</a></td>
                    <td class="govuk-table__cell" scope="row">joe.bloggs@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">Administrator</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="/manage-admin-i3/users/view-2">Jill Smith</a></td>
                    <td class="govuk-table__cell" scope="row">jill.smith@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Dominika Garner</a></td>
                    <td class="govuk-table__cell" scope="row">dominika.garnerh@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Jadene Harris</a></td>
                    <td class="govuk-table__cell" scope="row">jadene.harris@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Lyndsey Mora</a></td>
                    <td class="govuk-table__cell" scope="row">lyndsey.mora@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Eryn Marriott</a></td>
                    <td class="govuk-table__cell" scope="row">eryn.marriott@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Bonita Bannister</a></td>
                    <td class="govuk-table__cell" scope="row">bonita.bannister@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Kofi Bowman</a></td>
                    <td class="govuk-table__cell" scope="row">kofi.bowman@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Terence Williams</a></td>
                    <td class="govuk-table__cell" scope="row">terence.williams@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Ivy-Rose Ireland</a></td>
                    <td class="govuk-table__cell" scope="row">ivy-rose.ireland@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Michele Serrano</a></td>
                    <td class="govuk-table__cell" scope="row">michele.serrano@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Kaya Mccullough</a></td>
                    <td class="govuk-table__cell" scope="row">kaya.mcculloughn@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <!-- Break 
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="/manage-admin-i3/users/view">Joe Bloggs</a></td>
                    <td class="govuk-table__cell" scope="row">joe.bloggs@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="/manage-admin-i3/users/view-2">Jill Smith</a></td>
                    <td class="govuk-table__cell" scope="row">jill.smith@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Dominika Garner</a></td>
                    <td class="govuk-table__cell" scope="row">dominika.garnerh@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Jadene Harris</a></td>
                    <td class="govuk-table__cell" scope="row">jadene.harris@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Lyndsey Mora</a></td>
                    <td class="govuk-table__cell" scope="row">lyndsey.mora@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Eryn Marriott</a></td>
                    <td class="govuk-table__cell" scope="row">eryn.marriott@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Bonita Bannister</a></td>
                    <td class="govuk-table__cell" scope="row">bonita.bannister@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Kofi Bowman</a></td>
                    <td class="govuk-table__cell" scope="row">kofi.bowman@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Terence Williams</a></td>
                    <td class="govuk-table__cell" scope="row">terence.williams@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Ivy-Rose Ireland</a></td>
                    <td class="govuk-table__cell" scope="row">ivy-rose.ireland@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Michele Serrano</a></td>
                    <td class="govuk-table__cell" scope="row">michele.serrano@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="#">Kaya Mccullough</a></td>
                    <td class="govuk-table__cell" scope="row">kaya.mcculloughn@wedlakebell.com</td>
                    <td class="govuk-table__cell" scope="row">User</td> 
                </tr>-->
            </tbody>
        </table>
    </main>
</div>
{% endblock %}