{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set pageId = 'users' %}
{% block header %}
{{hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
})}}
{{hmctsPrimaryNavigation({
classes: "govuk-!-margin-bottom-0",
items: [ {
text: 'Organisation',
href: '/manage-admin-i3',
active: false
}, {
text: 'Users',
href: '/manage-admin-i3/users',
active: true
},{
text: 'Cases',
href: '/manage-admin-i3/cases',
active: false
}, {
text: 'Fee accounts',
href: '/manage-admin-i3/payments',
active: false
}]
})}}
{% endblock %}
{% block content %}
  <div class="hmcts-width-container">
      {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
    {{govukBackLink({
      href: './view-2'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Wedlake Bell</span><h1 class="govuk-heading-l">User</h1>

      <form action="/manage-admin-i3/users/view-2" method="post">
        {{ govukInput({
          label: {
            text: "First name",
            classes: 'govuk-label--m'
          },
          id: "firstname",
          name: "firstname",
          value: "Jill"
        }) }}
        {{ govukInput({
          label: {
            text: "Last name",
            classes: 'govuk-label--m'
          },
          id: "lastname",
          name: "lastname",
          value: "Smith"
        }) }}


        {{govukButton({
          text: 'Save'
        })}}
      </form>

    </div>



        </div>
      </div>
    </main>
  </div>
{% endblock %}
