{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS case' %}

{% block beforeContent %}
{{ super() }}
{{govukBackLink({
  href: '/create-case/fr/9'
})}}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">

    <div class="hmcts-add-another">

      <h1 class="govuk-heading-xl hmcts-add-another__heading">
        <span class="govuk-caption-xl">Create a financial remedy case</span>
        Additional documents (optional)
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/create-case/fr/11" method="post">

            {% call govukFieldset({
              classes: 'hmcts-add-another__item',
              legend: {
                text: '',
                classes: 'hmcts-add-another__title  govuk-fieldset__legend--m'
              }
            }) %}



            {{ govukFileUpload({
              id: "files[0][file]",
              name: "files[0][file]",
              label: {
                text: "File",
                classes: 'govuk-label--m'
              },
              attributes: {
                'data-name': 'files[%index%][file]',
                'data-id': 'files[%index%][file]'
              }
            }) }}



            {% endcall %}

            <div class="hmcts-button-action">
              {{ govukButton({
                text: 'Add another file',
                classes: 'hmcts-button--secondary  hmcts-add-another__add-button  govuk-!-margin-bottom-4'
              }) }}
            </div>

            <div class="hmcts-button-action">
              {{ govukButton({
                text: 'Continue'
              }) }}
            </div>


          </form>
        </div>
      </div>
    </div>

    </main>
  </div>
{% endblock %}


{% block pageScripts %}
<script>
  new HMCTSFrontend.AddAnother($('.hmcts-add-another'));
</script>
{% endblock %}