{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS case' %}

{% block beforeContent %}
{{ super() }}
{{govukBackLink({
  href: '/create-case/fr/3'
})}}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Create a financial remedy case</span>
            Respondent's contact details
          </h1>

          <form action="/create-case/fr/5" method="get">

              {{ govukInput({
                label: {
                  html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>',
                  classes: 'govuk-label--m'
                },
                id: "address-line-1",
                name: "address-line-1"
              }) }}

              {{ govukInput({
                label: {
                  html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>',
                  classes: 'govuk-label--m'
                },
                id: "address-line-2",
                name: "address-line-2"
              }) }}

              {{ govukInput({
                label: {
                  text: "Town or city",
                  classes: 'govuk-label--m'
                },
                classes: "govuk-!-width-two-thirds",
                id: "address-town",
                name: "address-town"
              }) }}

              {{ govukInput({
                label: {
                  text: "County",
                  classes: 'govuk-label--m'
                },
                classes: "govuk-!-width-two-thirds",
                id: "address-county",
                name: "address-county"
              }) }}

              {{ govukInput({
                label: {
                  text: "Postcode",
                  classes: 'govuk-label--m'
                },
                classes: "govuk-input--width-10",
                id: "address-postcode",
                name: "address-postcode"
              }) }}


              {{ govukInput({
                label: {
                  html: 'Email address',
                  classes: 'govuk-label--m'
                },
                id: "email",
                name: "email"
              }) }}

              {{ govukInput({
                label: {
                  html: 'Phone number',
                  classes: 'govuk-label--m'
                },
                classes: 'govuk-!-width-two-thirds',
                id: "phone",
                name: "phone"
              }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
