{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS case' %}

{% block beforeContent %}
{{ super() }}
{{govukBackLink({
  href: '/create-case/fr/7'
})}}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">


      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Create a financial remedy case</span>
        Consent order
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/create-case/fr/9" method="post">


              {{ govukFileUpload({
                id: "file-upload-1",
                name: "file-upload-1",
                label: {
                  text: "Draft consent order",
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'Upload a scanned copy signed by both parties'
                }
              }) }}

              {{ govukFileUpload({
                id: "file-upload-1",
                name: "file-upload-1",
                label: {
                  text: "Text verson of draft consent order (optional)",
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'The judge may be able to make a quicker decision if you upload this'
                }
              }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
