{% extends "./layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Manage organisation</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="index">
            Organisation
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="#">
            Users
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="#">
            Unassigned cases
          </a>
        </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link"  href="#">
                        Assigned cases
                    </a>
                </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="#">
                        Fee accounts
                    </a>
                </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {% include "./includes/phase-banner.html" %}
    {{govukBackLink({
    href: './'
    })}}
    <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Add or remove an address</h1>
          <div class="govuk-inset-text">
              If there are active cases associated with the address you are removing, you will be asked to select a replacement address for the cases.
          </div>

          <table class="govuk-table govuk-!-margin-bottom-9">
<!--              <caption class="govuk-table__caption govuk-table__caption&#45;&#45;m">Dates and amounts</caption>-->
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Address</th>
                  <th scope="col" class="govuk-table__header">DX number</th>
                  <th scope="col" class="govuk-table__header">DX exchange</th>
                  <th scope="col" class="govuk-table__header"></th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                      102 Petty France<br />
                      London<br />
                      SW1 9AJ</td>
                  <td class="govuk-table__cell">152738</td>
                  <td class="govuk-table__cell">Westminster 8</td>
                  <td class="govuk-table__cell"></td>
              </tr>
              </tbody>
          </table>

          <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Why is there no option to remove an address?
                </span>
              </summary>
              <div class="govuk-details__text">
                  Your organisation must always have at least one address.
              </div>
          </details>

          <br />

          <div class="govuk-button-group">
              <form class="govuk-form-group" action="add-new-address" method="get" style="display: inline-block;">
                  <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
                      Add a new address
                  </button>
              </form>
<!--              <form class="govuk-form-group" action="remove-address-1" method="get" style="display: inline-block;">-->
<!--                  <button class="govuk-button govuk-button&#45;&#45;secondary" data-module="govuk-button">-->
<!--                      Remove an address-->
<!--                  </button>-->
<!--              </form>-->
          </div>

      </div>
    </div>
    </main>
</div>
{% endblock %}
