/* ==========================================================================
   #TABS

   1. Tabbed navigation (clicking a tab takes you to a whole new page)
   2. Tabbed panels
   ========================================================================== */


// 1. Tabbed navigation
.govuk-tabbed-nav__list {
  @include tabs-list;

  @include mq($from: tablet) {
    @include tabs-enhanced-list;
  }

}

.govuk-tabbed-nav__list-item {
  @include tabs-list-item;

  @include mq($from: tablet) {
    @include tabs-enhanced-list-item;
  }

}

.govuk-tabbed-nav__title {
  @include tabs-title;

  @include mq($from: tablet) {
    display: none;
  }

}

.govuk-tabbed-nav__tab {
  @include tabs-tab;

  @include mq($from: tablet) {
    @include tabs-enhanced-tab;

    &[aria-current=true] {
      @include tabs-enhanced-tab-selected;
    }

  }

}


// 2. Tabbed panel
.govuk-tabbed-panel__list {
  @include tabs-list;
}

.govuk-tabbed-panel__title {
  @include tabs-title;
}

.govuk-tabbed-panel__list {
  @include tabs-list;
}

.govuk-tabbed-panel__list-item {
  @include tabs-list-item;
}

.govuk-tabbed-panel__tab {
  @include tabs-tab;
}


// JavaScript enabled
.js-tabs-enabled .govuk-tabbed-panel {

  @include mq($from: tablet) {

    .govuk-tabbed-panel__list {
      @include tabs-enhanced-list;
    }

    .govuk-tabbed-panel__list-item {
      @include tabs-enhanced-list-item;
    }

    .govuk-tabbed-panel__title {
      display: none;
    }

    .govuk-tabbed-panel__tab {
      @include tabs-enhanced-tab;
      color: $govuk-black;

      &[aria-selected=true] {
        @include tabs-enhanced-tab-selected;
      }

    }

    .govuk-tabbed-panel__content {
      @include tabs-content;
    }

  }

}