<div class="jui-casebar">

  <div class="hmcts-width-container">

    <div class="jui-casebar__details">

        <span class="jui-casebar__reference">PBA0241163</span>
        <a class="jui-casebar__title" href="/manage-account-v2/payments">Switch account</a>

    </div>

  </div>

</div>