/* ==========================================================================
   #GENERAL CONFIGURATIONS
   ========================================================================== */

$jui-page-width: 960px;
$jui-gutter: $govuk-spacing-scale-6;
$jui-gutter-half: $govuk-gutter / 2;

// Assets path
$jui-assets-path : "/public/images/";

@mixin pui-container($max-width: 960px) {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;

  @include govuk-if-ie8 {
    width: $max-width;
  }

  // On mobile, add half width gutters
  padding: 0 $jui-gutter-half;

  // On tablet, add full width gutters
  @include mq($from: tablet) {
    padding: 0 $jui-gutter;
  }

  // As soon as the viewport is greater than the width of the page plus the
  // gutters, just centre the content instead of adding gutters.
  @include mq($and: "(min-width: #{($jui-page-width + $jui-gutter * 2)})") {
    margin: 0 auto;
  }
}
