{% extends "./layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Manage organisation</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="index">
            Organisation
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="#">
            Users
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="#">
            Unassigned cases
          </a>
        </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link"  href="#">
                        Assigned cases
                    </a>
                </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="#">
                        Fee accounts
                    </a>
                </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {% include "./includes/phase-banner.html" %}
    {{govukBackLink({
    href: 'manage-address-1'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <h1 class="govuk-heading-xl">Remove address</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">
              <strong>Address to be removed</strong><br />
              46 High street<br />
              Guildford<br />
              GU1 1AH
          </p>

          <br />

          <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  There are active cases associated with the address you have selected to be removed.
              </strong>
          </div>

          <p class="govuk-body">
              Review the cases associated with this address or continue to choose a replacement address which will receive the active cases.
          </p>

          <br />
          <br />

            <form id="formSubmit" class="govuk-form-group" action="remove-address-3" method="post" style="display: inline-block;">
              <button class="govuk-button govuk-!-margin-right-3" data-module="govuk-button">
                  Review cases
              </button>
            </form>
          <form id="formSubmit" class="govuk-form-group" action="remove-address-4" method="post" style="display: inline-block;">
              <button class="govuk-button govuk-button--secondary govuk-!-margin-right-3" data-module="govuk-button">
                  Continue
              </button>
          </form>
          <form id="formSubmit" class="govuk-form-group" action="remove-address-1" method="post" style="display: inline-block;">
              <button class="govuk-button govuk-button--secondary govuk-!-margin-right-3" data-module="govuk-button">
                  Cancel
              </button>
          </form>



      </div>
    </div>
    </main>
</div>

<script>

  document.getElementById('findAddressBtn').addEventListener("click", showAddressSelect);
  document.getElementById('addressSelect').addEventListener("change", showManualEntry);

  var addressSelectGroup = document.getElementById('addressSelectGroup')
  var chosenAddress = document.getElementById('addressSelect')


  function showAddressSelect() {
    addressSelectGroup.style.display = 'block'
  }

  function showManualEntry() {
    if (chosenAddress.value == "123 Church Road, Swindon, SN1 7DS"){
      document.getElementById('manualAddress').style.display = 'block'
      document.getElementById('addressEnterManually').style.display = 'none'
    }
  }


  // function validateForm() {
  //   let x = document.getElementById('addressSelect').value
  //   if (x == "") {
  //     alert("Name must be filled out");
  //     return false;
  //   }
  // }




</script>
{% endblock %}
