{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set pageId = 'users' %}
{% block header %}
{{hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
})}}
{{hmctsPrimaryNavigation({
classes: "govuk-!-margin-bottom-0",
items: [ {
text: 'Organisation',
href: '/manage-admin-i3',
active: false
}, {
text: 'Users',
href: '/manage-admin-i3/users',
active: false
}, {
text: 'Cases',
href: '/manage-admin-i3/cases',
active: true
},{
text: 'Fee accounts',
href: '/manage-admin-i3/payments',
active: false
}]
})}}
{% endblock %}

{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: './'
    })}}
    <main class="govuk-main-wrapper" role="main">
    {{hmctsSubNavigation({
      items: [ {
        text: 'Summary',
        href: '/manage-admin-i3/cases/case-summary',
        active: false
      }, {
      text: 'Application details',
      href: '#',
      active: false
    }, {
      text: 'Documents',
      href: '#',
      active: false
    },
      {
        text: 'Access',
        href: '/manage-admin-i3/cases/access',
        active: true
      }]
    })}}
     



      {{ hmctsPageHeaderWithActions({
        title: {
          html: '<h1 class="govuk-heading-xl">Access</h1>'
        },
        classes: 'govuk-!-margin-bottom-7',
        items: [{
          text: 'Invite user',
          href: '/manage-admin-i3/cases/invite'
        }]
      }) }}

      {% if data['shared-email'] %}
      {% set rows = [
        [
          {
            text: data['shared-email']
          },
          {
            html: '<a href="access">Remove</a>'
          }
        ]
      ] %}
      {% else %}
        {% set rows = [
          [
            {
              text: ""
            },
            {
              html: ''
            }
          ]
       
        ] %}
      {% endif %}


      {{ govukTable({
        head: [
          {
            text: "Email address"
          },
          {
            text: "Actions"
          }
        ],
        rows: rows
      }) }}

   </div>

      </div>
    </div>

{% endblock %}
