{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set pageId = 'users' %}
{% block header %}
{{hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
})}}
{{hmctsPrimaryNavigation({
classes: "govuk-!-margin-bottom-0",
items: [ {
text: 'Organisation',
href: '/manage-admin-i3',
active: false
}, {
text: 'Users',
href: '/manage-admin-i3/users',
active: false
}, {
text: 'Cases',
href: '/manage-admin-i3/cases',
active: true
},{
text: 'Fee accounts',
href: '/manage-admin-i3/payments',
active: false
}]
})}}
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukPanel({
                titleText: "All done",
                text: ""
                }) }}
                <h3 class="govuk-heading-m">What happens next</h3>
                <p class="govuk-body">
                    Users you have shared with will be able to access the case from their case list.</p>
                        <p class="govuk-body">
                    Users you have removed with will no longer have access.</p>

                <p class="govuk-body">
                    <a href="/manage-admin-i3/cases/index">Go back to your cases</a>
                </p>
                <!--
         <p><a style ="color:white" href="/create-user-account-v2">Link to Idam email</a></p>
-->
            </div>
        </div>
    </main>
</div>
{% endblock %}