{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set pageId = 'users' %}
{% block header %}
{{hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
})}}
{{hmctsPrimaryNavigation({
classes: "govuk-!-margin-bottom-0",
items: [ {
text: 'Organisation',
href: '/manage-admin-i3',
active: false
}, {
text: 'Users',
href: '/manage-admin-i3/users',
active: false
}, {
text: 'Cases',
href: '/manage-admin-i3/cases',
active: true
},{
text: 'Fee accounts',
href: '/manage-admin-i3/payments',
active: false
}]
})}}
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: './share-org'
    })}}
    <main class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post">
                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                       <label class="govuk-label govuk-label--xl" for="reason">
      Notes for recipient
    </label>
    
  </h1>

  
  
  <span id="reason-hint" class="govuk-hint">
    Why are you sharing the case with them? What do they need to know?
  </span>


  <textarea class="govuk-textarea" id="reason" name="reason" rows="5" aria-describedby="reason-hint"></textarea>
</div> 
                              {{govukButton({
        text: 'Continue',
        href: './confirmation'
        })}}
                </form>
            </div>
        </div>
    </main>
</div>
</div>
</div>
</div>
</div>
{% endblock %}