{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set pageId = 'users' %}
{% block header %}
{{hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
})}}
{{hmctsPrimaryNavigation({
classes: "govuk-!-margin-bottom-0",
items: [ {
text: 'Organisation',
href: '/manage-admin-i3',
active: false
}, {
text: 'Users',
href: '/manage-admin-i3/users',
active: false
}, {
text: 'Cases',
href: '/manage-admin-i3/cases',
active: true
},{
text: 'Fee accounts',
href: '/manage-admin-i3/payments',
active: false
}]
})}}
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'share-org-new-remove'
    })}}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Share case</span>Check and confirm your selection </h1>
                <h2 class="govuk-heading-l">Cases</h2>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header govuk-!-font-size-27" scope="col" colspan="4">Paul Saddlebrook Vs Jennifer Saddlebrook&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="govuk-caption-m govuk-!-font-size-19">4748-2828-7712-8233</span></th>
                            <th class="govuk-table__header" scope="col"><a class="govuk-link govuk-body" href="#">Change</a></th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Name</th>
                            <th class="govuk-table__header" scope="col">Email address</th>
                            <th class="govuk-table__header" scope="col" colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Ivy-Rose Ireland</td>
                            <td class="govuk-table__cell">ivy-rose.ireland@wedlakebell.com</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge hmcts-badge--red">to be removed</span> </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Michele Serrano</td>
                            <td class="govuk-table__cell"> michele.serrano@wedlakebell.com</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge">To be added</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Terence Williams</td>
                            <td class="govuk-table__cell"> terence.williams@wedlakebell.com</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge">To be added</span></td>
                        </tr>
                    </tbody>
                </table>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header govuk-!-font-size-27" scope="col" colspan="4">Neha Venkatanarasimharaj Vs Sanjet Venkatanarasimharaj<span class="govuk-caption-m govuk-!-font-size-19">9417-3739-9576-5131</span></th>
                            <th class="govuk-table__header" scope="col"><a class="govuk-link govuk-body" href="#">Change</a></th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Name</th>
                            <th class="govuk-table__header" scope="col">Email address</th>
                            <th class="govuk-table__header" scope="col" colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Michele Serrano</td>
                            <td class="govuk-table__cell"> michele.serrano@wedlakebell.com</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge">To be added</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Terence Williams</td>
                            <td class="govuk-table__cell"> terence.williams@wedlakebell.com</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge">To be added</span></td>
                        </tr>
                    </tbody>
                </table>
                {{govukButton({
                text: 'Confirm',
                href: './confirmation'
                })}}
                </dl>
            </div>
        </div>
</div>
</main>
{% endblock %}