/* ==========================================================================
   #BUTTON
   ========================================================================== */

.govuk-button--secondary {
  background-color: $govuk-grey-3;
  box-shadow: 0 2px 0 rgba($govuk-grey-1, .7);
  color: $govuk-black;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-text-colour;
  }

  &:hover,
  &:focus,
  &:link:focus {
    background-color: rgba($govuk-grey-2, .7);
    color: $govuk-text-colour;
  }

}


/* ==========================================================================
   #TABLE
   ========================================================================== */

.govuk-table--fixed {
  table-layout: fixed;
}

.govuk-table__header {
  vertical-align: top;
}

.govuk-table__cell {
  vertical-align: top;
}