// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "/public/images/";

$hmcts-page-width: 1220px;
$govuk-page-width: 1220px;

$govuk-global-styles: true;

@import "node_modules/govuk-frontend/all";
@import "node_modules/@hmcts/frontend/all";

// Patterns that aren"t in GOV.UK Frontend
@import "patterns/check-your-answers";
@import "patterns/related-items";
@import "patterns/accessible-autocomplete";

// JUI styles
@import "pui/all";


// close button for banner messages

#close-banner {
    float:right;
    display:inline-block;
    padding:0px 0px 20px 5px;
    background:#fff;
    font-size: 18px;
    font-weight: bold;
    color: govuk-colour("black");
}


.govuk-list--alpha {
  padding-left: 20px;
  list-style-type: lower-alpha;
}



// PBA styles
@import "pui/pba";

// Home office icon-small
.side-space {
           margin-right: .5em;
         }
         .icon-medium {
           font-size: 24px;
           &:before {
             vertical-align: bottom;
             padding-bottom: 1em;
           }
         }
         .icon-small {
           font-size: 18px;
           &:before {
             vertical-align: middle;
             padding-bottom: 1em;
           }
         }


.js-enabled .js-hidden {
  display: none !important;
}

mark.comment {
  background-color: govuk-colour('orange');
}

.pui-case-action-alert {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(4);
}

.pui-case-action-alert__heading {
  color: inherit;
  @include govuk-font(
    $size: 24,
    $weight: bold
  );
  color: inherit;
  margin-bottom: govuk-spacing(2);
  margin-top: 0;
}

.pui-case-action-alert__content {
  color: inherit;

  p:last-child {
    margin-bottom: 0;
  }

}

.pui-case-action-alert__link:link,
.pui-case-action-alert__link:visited {
  color: govuk-colour("white");
}

.hmcts-navigation {
  @include mq($from: desktop) {
    position: absolute;
    right: 0;
    top: 12px;
  }

}


@include govuk-media-query($from: tablet) {

  .hmcts-page-heading {
    text-align: justify;
    font-size: .1px; // Hide whitespace between elements

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }

  }

  .hmcts-page-heading__title-wrapper {
    display: inline-block;
    vertical-align: top;

    .hmcts-page-heading__title {
      text-align: left;
      margin-right: govuk-spacing(4);
    }

  }

  .hmcts-page-heading__actions-wrapper {
    display: inline-block;
    vertical-align: top;

    .hmcts-page-heading__button:first-child  {
      margin-left: 0;
    }

  }

  .hmcts-page-heading__button {
    margin-left: govuk-spacing(4);
    margin-top: govuk-spacing(1);
  }

}

//Home office css */

          .side-space {
          	margin-right: .5em;
          }
          .icon-medium {
            font-size: 24px;
            &:before {
              vertical-align: bottom;
              padding-bottom: 1em;
            }
          }
          .icon-small {
            font-size: 18px;
            &:before {
              vertical-align: middle;
              padding-bottom: 1em;
            }
          }


.hmcts-filter-menu {
  display: inline-block;
  margin-right: 10px;

  @include govuk-media-query($from: tablet) {
    // border: 10px solid #ccc;
  }

  button {
    margin-bottom: 0;
  }


}

.hmcts-action-bar {
  vertical-align: top;
  font-size: .1px;
}

.hmcts-action-bar .hmcts-menu {
  display: inline-block;
}

// remove when fixed in HMCTS Frontend
// @media (min-width: 48.0625em) {
//   .js-enabled .hmcts-search-toggle__search {
//     z-index: 10;
//   }
// }

.app-phase-banner {
  border-bottom: 0;
}

/* Timeout Modal */
@media (max-width: 640px) {
  .timeout-dialog {
    width: 280px !important;
  }
}

.timeout-overlay {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

html.noScroll {
  overflow: hidden;
}

.timeout-dialog {
  z-index: 1002;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 435px;
  padding: 30px;
  border: 5px solid black;
  background-color: #fff;
}

.timeout-dialog p {
  font-size: 19px;
  line-height: 1.31579;
}

.timeout-dialog .countdown {
  display: inline-block;
  white-space: nowrap;
  font-weight: 700;
}

.timeout-dialog .button {
  margin-bottom: 1em;
  font-size: 19px;
}

.timeout-dialog .button.button--link {
  margin: 0;
  padding: .526315em .789473em .263157em;
}
