// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "/public/images/";

$hmcts-page-width: 1220px;

$govuk-global-styles: true;

@import "node_modules/govuk-frontend/all";
@import "node_modules/@hmcts/frontend/all";

// Patterns that aren"t in GOV.UK Frontend
@import "patterns/check-your-answers";
@import "patterns/related-items";
@import "patterns/accessible-autocomplete";

// JUI styles
@import "pui/all";

// PBA styles
@import "pui/pba";

// Home office icon-small
.side-space {
           margin-right: .5em;
         }
         .icon-medium {
           font-size: 24px;
           &:before {
             vertical-align: bottom;
             padding-bottom: 1em;
           }
         }
         .icon-small {
           font-size: 18px;
           &:before {
             vertical-align: middle;
             padding-bottom: 1em;
           }
         }


.js-enabled .js-hidden {
  display: none !important;
}

mark.comment {
  background-color: govuk-colour('orange');
}

.pui-case-action-alert {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(4);
}

.pui-case-action-alert__heading {
  color: inherit;
  @include govuk-font(
    $size: 24,
    $weight: bold
  );
  color: inherit;
  margin-bottom: govuk-spacing(2);
  margin-top: 0;
}

.pui-case-action-alert__content {
  color: inherit;

  p:last-child {
    margin-bottom: 0;
  }

}

.pui-case-action-alert__link:link,
.pui-case-action-alert__link:visited {
  color: govuk-colour("white");
}

.hmcts-navigation {
  @include mq($from: desktop) {
    position: absolute;
    right: 0;
    top: 12px;
  }

}


@include govuk-media-query($from: tablet) {

  .hmcts-page-heading {
    text-align: justify;
    font-size: .1px; // Hide whitespace between elements

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }

  }

  .hmcts-page-heading__title-wrapper {
    display: inline-block;
    vertical-align: top;

    .hmcts-page-heading__title {
      text-align: left;
      margin-right: govuk-spacing(4);
    }

  }

  .hmcts-page-heading__actions-wrapper {
    display: inline-block;
    vertical-align: top;

    .hmcts-page-heading__button:first-child  {
      margin-left: 0;
    }

  }

  .hmcts-page-heading__button {
    margin-left: govuk-spacing(4);
    margin-top: govuk-spacing(1);
  }

}

//Home office css */

          .side-space {
          	margin-right: .5em;
          }
          .icon-medium {
            font-size: 24px;
            &:before {
              vertical-align: bottom;
              padding-bottom: 1em;
            }
          }
          .icon-small {
            font-size: 18px;
            &:before {
              vertical-align: middle;
              padding-bottom: 1em;
            }
          }


.hmcts-filter-menu {
  display: inline-block;
  margin-right: 10px;

  @include govuk-media-query($from: tablet) {
    // border: 10px solid #ccc;
  }

  button {
    margin-bottom: 0;
  }


}

.hmcts-action-bar {
  vertical-align: top;
  font-size: .1px;
}

.hmcts-action-bar .hmcts-menu {
  display: inline-block;
}

// remove when fixed in HMCTS Frontend
// @media (min-width: 48.0625em) {
//   .js-enabled .hmcts-search-toggle__search {
//     z-index: 10;
//   }
// }