// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

//Import GOV.UK Frontend
@import "@govuk-frontend/all/all";

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/related-items';

// Components that aren't in Frontend
@import 'components/admin-header';
@import 'components/success';
@import 'components/case-header';
@import 'components/case-nav';
@import 'components/primary-nav';
@import 'components/tabs';

.code {
  color: $govuk-text-colour;
  background-color: $govuk-grey-4;

  text-shadow: 0 1px $govuk-white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  border: 1px solid $govuk-border-colour;
  padding: 4px 4px 2px;
}


// Local fixes to GOV.UK frontend

.markdown hr {
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
}

.govuk-list + .govuk-heading-l,
.govuk-list + .govuk-heading-m,
.govuk-list + .govuk-heading-s,
.govuk-prose-scope ul + h2,
.govuk-prose-scope ul + h3,
.govuk-prose-scope ul + h4,
.govuk-prose-scope pre + h2,
.govuk-prose-scope pre + h3,
.govuk-prose-scope pre + h4 {
  @include govuk-responsive-padding($govuk-spacing-responsive-4, "top");
}

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Site width and grid gutters
$jui-page-width: 1220px;

$jui-gutter: $govuk-spacing-scale-6;
$jui-gutter-half: $govuk-gutter / 2;

@mixin jui-width-container {
  // Limit the width of the container to the page width
  max-width: $jui-page-width;

  @include govuk-ie-lte(8) {
    width: $jui-page-width;
  }

  // On mobile, add half width gutters
  margin: 0 $jui-gutter-half;

  // On tablet, add full width gutters
  @include mq($from: tablet) {
    margin: 0 $jui-gutter;
  }

  // As soon as the viewport is greater than the width of the page plus the
  // gutters, just centre the content instead of adding gutters.
  @include mq($and: "(min-width: #{($jui-page-width + $jui-gutter * 2)})") {
    margin: 0 auto;
  }
}

.jui-o-width-container {
  @include jui-width-container;
}



