{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register organisation for HMCTS services' %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Registration submitted"
      }) }}

      <p class="govuk-body">It takes up to 3 working days for us to approve your registration. We'll contact you within that time if there's a problem.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
       We'll email you to ask you to finish creating your account.
      </p>

    </div>
  </div>

<p><a style ="color:white" href="confirmation-email">Link to email</a></p>

{% endblock %}
