{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register organisation for HMCTS services' %}

{% block beforeContent %}
  {{ super() }}
  {{govukBackLink({
    href: '/create-account/name'
  })}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-account-v3/check">

        {{ govukInput({
          label: {
            text: "What's the your email address?",
            classes: 'govuk-label--xl',
            isPageHeading: true
          },
          id: "emailaddress",
          name: "emailaddress"
        }) }}


        <!-- <p class="govuk-body"><a href="#">Can't find your organistaion?</a></p> -->

        {{govukButton({
          text: 'Continue'
        })}}
      </form>
    </div>
  </div>

{% endblock %}

