{% extends "layouts/unbranded.html" %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Subject: Register to use HM Courts and Tribunals Service (HMCTS) professional services</h1>

    <p class="govuk-body">From: <b>HMCTS professional services</b> &lt;professional.services@hmcts.gov.uk&gt;<br>Sent: 1 Oct 2018, 11:31am</p>
    <p class="govuk-body">You've been invited to register your organisation to use HM Courts and Tribunals Service (HMCTS) professional services. You'll be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>apply for divorce, financial remedy or probate online</li>
        <li>check the status of a case - if you applied online</li>
        <li>invite other people in your organisation to use HMCTS professional services</li>
        <li>check your organisation's fee account balance and recent transactions</li>
      </ul>
    <h2 class="govuk-heading-l">What you need to do</h2>
    <p class="govuk-body">You need to <a href="/create-account-v3/start">register your organisation</a>. You'll only need to do this once for your whole organisation.</p>
    <p class="govuk-body">If you are not authorised to do this, you can forward this email to someone else in your organisation.</p>
    <p class="govuk-body">After we approve your registration, you'll get an email asking you to finish creating your account. You'll need to click the link in the email and create a password.</p>
    <h2 class="govuk-heading-l">After you've created your password</h2>
    <p class="govuk-body">Once you've created your password, you'll be able to sign in to:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li><a href="">create and manage cases</a></li> 
    <li><a href="">manage your account</a> - including inviting other people in your organisation</li>
    </ul>
    <p class="govuk-body">Yours</p>
    <p class="govuk-body">HM Courts and Tribunals Service</p>

  </div>
</div>
{% endblock %}
