{% extends "layouts/admin/logged-in.html" %}

{% block footer %}
  {{ hmctsFooter({
    help: {
      heading: 'Help',
      email: {
        address: '#',
        text: 'service-desk@hmcts.gov.uk'
      },
      phone: {
        text: '0207 633 4140'
      },
      opening: {
        text: 'Monday to Friday, 8am to 6pm (excluding public holidays)'
      }
    },
    navigation: {
      items: [{
        text: 'Terms and conditions',
        href: '/manage-admin/terms'
      }, {
        text: 'Cookies',
        href: '/manage-admin/cookies'
      }, {
        text: 'Privacy policy',
        href: '/manage-admin/privacy'
      }]
    }
  }) }}
{% endblock %}
