{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage HMCTS account' %}

{% block content %}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Profile',
    href: '/manage-account-v4',
    active: false
  },  {
    text: 'Organisation',
    href: '/manage-account-v4/organisation',
    active: true
  }, {
    text: 'Users',
    href: '/manage-account-v4/users',
    active: false
  },
  {
    text: 'Payments',
    href: '/manage-account-v4/payments',
    active: false
  }]
})}}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">


    <h1 class="govuk-heading-xl">Organisation</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {{ govukTable({
            firstCellIsHeader: true,
            rows: [
              [
                {
                  text: "Name"
                },
                {
                  text: "Sherwin Davis"
                },
                {
                  html: '<a href="/">Change</a>'
                }
              ],
              [
                {
                  text: "Organisation address"
                },
                {
                  html: "1 The Road<br>London<br>W91SF"
                },
                {
                  html: '<a href="/">Change</a>'
                }
              ],
              [
                {
                  text: "Organisation address"
                },
                {
                  html: "22 Lane Avenue<br>Norwich<br>N11 2NN"
                },
                {
                  html: '<a href="/">Change</a>'
                }
              ]
            ]
          }) }}

          <p class="govuk-body"><a href="./addresses">Add another address</a></p>

          <!-- <ul class="govuk-list">
            <li><a href="./access">Manage organisation access</a></li>
          </ul> -->




        <!--<h2 class="govuk-heading-l">Organisation</h2>

        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: "Name"
              },
              {
                text: "Sherwin Davis"
              },
              {
                html: '<a href="/">Change</a>'
              }
            ],
            [
              {
                text: "Address 1"
              },
              {
                html: "31 High Street<br>Norwich<br>NR2 8GG"
              },
              {
                html: '<a href="/">Change</a>'
              }
            ],
            [
              {
                text: "Address 2"
              },
              {
                html: "3 Trickle Street<br>Borehamwood<br>H1 8GG"
              },
              {
                html: '<a href="/">Change</a>'
              }
            ]
          ]
        }) }}


        <ul class="govuk-list">
          <li><a href="./access">Manage organisation access</a></li>
          <li><a href="./addresses">Add a new address</a></li>
        </ul>-->

      </div>
    </div>




  </main>

</div>

{% endblock %}