{% extends "./layout.html" %}

{% set serviceName = 'Manage organisation details for civil and family law cases' %}

{% set primaryNavId = 'cookies' %}

{% block page_title %}Cookies{% endblock %}

{% block preContent %}

{% endblock %}

{% block content%}
<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

    <main role="main" class="govuk-main-wrapper">
{% block mainContent %}

  {% include "includes/cookies.html" %}
{% endblock %}

  <div class="govuk-grid-column-one-third">

  </div>
</div>
</main>
</div>
</div>
{% endblock %}
