{% extends "layouts/admin/logged-in.html" %}

{% block footer %}
  {{ hmctsFooter({
    help: {
      heading: 'Help',
      email: {
      
        text: 'Contact your service representative for further help and information.'
      }
    },
       navigation: {
      items: [{
        text: 'Terms and conditions',
        href: './manage-organisation/terms'
      }, {
        text: 'Cookies',
        href: './manage-organisation/cookies'
      }, {
        text: 'Privacy policy',
        href: './manage-organisation/privacy'
      }]
    }
  }) }}
{% endblock %}

<!--
     text: 'Accessibility',
        href: '/manage-organisation/accessibility'
      }, {

      -->