{% extends "./layout.html" %}

{% set primaryNavId = 'privacy' %}

{% block page_title %}Terms{% endblock %}

{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">    
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
      <a class="hmcts-header__link" href="/">Manage organisation details for civil and family law cases</a>
      <div class="hmcts-header__content">
        <nav class="hmcts-header__navigation">
          <ul class="hmcts-header__navigation-list">
              <li class="hmcts-header__navigation-item">
                <a class="hmcts-header__navigation-link" href="/sign-out" >
                  Sign out
                </a>
              </li>
          </ul>
        </nav>
      </div>   
<div class="hmcts-primary-navigation govuk-!-margin-bottom-0">
  <div class="hmcts-primary-navigation__container">
    <div class="hmcts-primary-navigation__nav">
      <nav class="hmcts-primary-navigation">
        <ul class="hmcts-primary-navigation__list">
          
            <li class="hmcts-primary-navigation__item">
              <a class="hmcts-primary-navigation__link"  aria-current="page" href="/mvp-4/manage-organisation">
                Organisation
              </a>
            </li>
            <li class="hmcts-primary-navigation__item">
              <a class="hmcts-primary-navigation__link"  href="/mvp-4/manage-organisation/users">
                Users
              </a>
            </li>
       <li class="hmcts-primary-navigation__item">
              <a class="hmcts-primary-navigation__link"  href="/mvp-4/manage-organisation/payments">
                Fee accounts
              </a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
  </div>
</header>
{% endblock %}



{% block content%}
<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

    <main role="main" class="govuk-main-wrapper">
{% block mainContent %}

  {% include "includes/privacy.html" %}
{% endblock %}


  <div class="govuk-grid-column-one-third">

  </div>
</div>
</main>
</div>
</div>
{% endblock %}

