{% extends "./layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">    
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
			<a class="hmcts-header__link" href="/">Manage organisation details for civil and family law cases</a>
      <div class="hmcts-header__content">
        <nav class="hmcts-header__navigation">
          <ul class="hmcts-header__navigation-list">
              <li class="hmcts-header__navigation-item">
                <a class="hmcts-header__navigation-link" href="/sign-out" >
                  Sign out
                </a>
              </li>
          </ul>
        </nav>
      </div>   

  </div>
</header>
{% endblock %}

{% set serviceName = 'Manage organisation details for civil and family law cases' %}

{% set primaryNavId = 'terms' %}


{% block page_title %}Terms{% endblock %}

{% block preContent %}

  {% include "./includes/phase-banner.html" %}

{% endblock %}

{% block mainContent %}
  {% include "includes/terms-mc.html" %}
{% endblock %}