{% extends "./layout.html" %}
{% set serviceName = 'Manage organisation details for civil and family law cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Manage organisation details for civil and family law cases</a>
        <div class="hmcts-header__content">
            <nav class="hmcts-header__navigation">
                <ul class="hmcts-header__navigation-list">
                    <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="/sign-in">
                            Sign out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>{{hmctsPrimaryNavigation({
        classes: "govuk-!-margin-bottom-0",
        items: [ {
        text: 'Organisation',
        href: '/mvp-4/manage-organisation',
        active: true
        }, {
        text: 'Users',
        href: '/mvp-4/manage-organisation/users',
        active: false
        }, {
        text: 'Fee accounts',
        href: '/mvp-4/manage-organisation/payments',
        active: false
        }]
        })}}
    </div>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
        <h1 class="govuk-heading-xl">Organisation</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukTable({
                firstCellIsHeader: true,
                rows: [
                [
                {
                text: "Name"
                },
                {
                text: "Wedlake Bell"
                },
                {
                html: ''
                }
                ],
                [
                {
                text: "Address"
                },
                {
                html: "Market Street<br>Newbury<br>RG14 5LD"
                },
                {
                html: ''
                }
                ]
                ]
                }) }}
                <form action="timeout-modal-ok">
                    <div id="timeout-dialog" class="timeout-dialog" role="dialog" aria-labelledby="timeout-message" tabindex="-1" aria-live="polite">
                        <h1 class="govuk-heading-m push--top">We are about to sign you out</h1>
                        <p id="govuk-body" role="text">For your security, we will sign you out of your account in <span id="timeout-countdown" class="govuk-!-font-weight-bold">3 minutes</span>.</p><p>Any information you have not saved will be lost.</p>
                        {{ govukButton({
                        text: "Stay signed in"
                        }) }}
                        <p id="govuk-body"> <a href="#">Sign out</a></p>
                    </div>
                    <div id="timeout-overlay" class="timeout-overlay"></div>
            </div>
            </form>
        </div>
</div>
</main>
</div>
{% endblock %}