{% extends "./layout.html" %}

{% set serviceName = 'Register to manage civil and family law cases' %}

{% block header %}
<header class="hmcts-header" role="banner">

<div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">    
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
<a class="hmcts-header__link" href="/">Register to manage civil and family law cases</a>

</div>

</header>
{% endblock %}

{% block content %}

<div class="hmcts-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
   {{govukBackLink({
      href: 'start'
    })}}
  <main role="main" class="govuk-main-wrapper">


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/mvp-4/register-organisation/organisation-address">


        {{ govukInput({
          label: {
            text: "You've been signed out",
            classes: 'govuk-label--xl',
            isPageHeading: true
          },
          id: "org-name",
          name: "org-name"
        }) }}


        <p class="govuk-body">You’ve been inactive for too long so we’ve signed you out of your Help to Save account to keep it secure.</p>

        {{govukButton({
          text: 'Sign in'
        })}}
      </form>
    </div>
  </div>
</main>
</div>


{% endblock %}











