{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS account' %}

{% block content%}
<style>
  .autocomplete__wrapper {
    position: relative;
}
.autocomplete__hint,
.autocomplete__input {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 0;
    width: 100%;
}
.autocomplete__input {
    background-color: transparent;
    position: relative;
}
.autocomplete__hint {
    color: #bfc1c3;
    position: absolute;
}
.autocomplete__input--default {
    padding: 4px;
}
.autocomplete__input--focused {
    outline-offset: 0;
    outline: 3px solid #ffbf47;
}
.autocomplete__input--show-all-values {
    padding: 4px 34px 4px 4px;
    cursor: pointer;
}
.autocomplete__dropdown-arrow-down {
    z-index: -1;
    display: inline-block;
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
    top: 10px;
}
.autocomplete__menu {
    background-color: #fff;
    border: 2px solid #0b0c0c;
    border-top: 0;
    color: #34384b;
    margin: 0;
    max-height: 342px;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    width: calc(100% - 4px);
}
.autocomplete__menu--visible {
    display: block;
}
.autocomplete__menu--hidden {
    display: none;
}
.autocomplete__menu--overlay {
    box-shadow: rgba(0,0,0,.256863) 0 2px 6px;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 100;
}
.autocomplete__menu--inline {
    position: relative;
}
.autocomplete__option {
    border-bottom: solid #bfc1c3;
    border-width: 1px 0;
    cursor: pointer;
    display: block;
    position: relative;
}
.autocomplete__option > * {
    pointer-events: none;
}
.autocomplete__option:first-of-type {
    border-top-width: 0;
}
.autocomplete__option:last-of-type {
    border-bottom-width: 0;
}
.autocomplete__option--odd {
    background-color: #fafafa;
}
.autocomplete__option--focused,
.autocomplete__option:hover {
    background-color: #005ea5;
    border-color: #005ea5;
    color: #fff;
    outline: 0;
}
.autocomplete__option--no-results {
    background-color: #fafafa;
    color: #646b6f;
    cursor: not-allowed;
}
.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
    font-size: 16px;
    line-height: 1.25;
}
.autocomplete__hint,
.autocomplete__option {
    padding: 4px;
}
@media (min-width:641px) {
    .autocomplete__hint,
    .autocomplete__input,
    .autocomplete__option {
        font-size: 19px;
        line-height: 1.31579;
    }
}
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create an account for HMCTS professional online services</h1>

    <p class="govuk-body">Once you have an account for HM Courts and Tribunals Service (HMCTS) online services, you'll be able to apply on behalf of clients for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>divorce</li>
      <li>financial remedy</li>
      <li>probate</li>
      <li>civil money claims</li>
    </ul>

    <p class="govuk-body">You'll also be able to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check the status of a case</li>
      <li>update a case - for example to provide additional information</li>
      <li>send messages to court staff</li>
      <li>give your colleagues access to the case</li>
    </ul>

    {{ govukButton({
      text: "Start now",
      href: "/create-account/organisation-name",
      classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">It will take around 5 minutes to create your account.</p>
    <p class="govuk-body">If your organisation has not used HMCTS online services before, we'll need to check your application. We'll contact you within 5 working days to confirm or to ask for more information.</p>

    </ul>

  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
<!--
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
 -->
  </div>
</div>
{% endblock %}