{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS account' %}

{% block content %}
<div class="govuk-width-container">

    {{govukBackLink({
      href: '/create-account/check-organisation'
    })}}

    <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/create-account/email">

            {{ govukInput({
              label: {
                text: "What's your name?",
                classes: 'govuk-label--xl',
                isPageHeading: true
              },
              id: "name",
              name: "name"
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#name')
    })
  </script>
{% endblock %}