{% extends "../layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Manage organisation</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation">
            Organisation
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="/oct-2020/manage-organisation/users">
            Users
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/cases/">
            Unassigned cases
          </a>
        </li>
        <!--  <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/payments">
                        Fee accounts
                    </a>
                </li> -->
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
  {% include "../includes/phase-banner.html" %}
  <main role="main" class="govuk-main-wrapper">
    <div class="hmcts-page-heading">
      <div class="hmcts-page-heading__title-wrapper">
        <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
      </div>
      <div class="hmcts-page-heading__actions-wrapper">
        {{govukButton({
                text: 'Invite user',
                href: '/oct-2020/manage-organisation/users/new',
                classes: 'hmcts-page-heading__button'
                })}}
      </div>
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="/oct-2020-aat/manage-organisation/users/view.html">Abid Dixon</a></th>
          <td class="govuk-table__cell">abid.dixon@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Adelaide Oliver</a></th>
          <td class="govuk-table__cell">adelaide.oliver@wedlakebell.com</td>
          <td class="govuk-table__cell">Pending</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Aden Horn</a></th>
          <td class="govuk-table__cell">aden.horn@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Adrian Crawford</a></th>
          <td class="govuk-table__cell">adrian.crawford@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Aj Perez</a></th>
          <td class="govuk-table__cell">jaj.perez@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Akram Nairn</a></th>
          <td class="govuk-table__cell">akram.nairn@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Anabelle Potter</a></th>
          <td class="govuk-table__cell">anabelle.potter@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Anand Ross</a></th>
          <td class="govuk-table__cell">anand.ross@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Aneesah Hernandez</a></th>
          <td class="govuk-table__cell">aneesah.hernandez@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Annette Hensley</a></th>
          <td class="govuk-table__cell">annette.hensley@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Archibald Blevins</a></th>
          <td class="govuk-table__cell">archibald.blevins@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Areeba Small</a></th>
          <td class="govuk-table__cell">areeba.small@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Ashton Weeks</a></th>
          <td class="govuk-table__cell">ashton.weeks@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Bethaney Sanderson</a></th>
          <td class="govuk-table__cell">bethaney.sanderson@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Beverly Calhoun</a></th>
          <td class="govuk-table__cell">beverly.calhoun@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Brandy Dowling</a></th>
          <td class="govuk-table__cell">brandy.dowling@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Carl Pineda</a></th>
          <td class="govuk-table__cell">carl.pineda@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Catherine Malone</a></th>
          <td class="govuk-table__cell">catherine.malone@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Chardonnay Rees</a></th>
          <td class="govuk-table__cell">chardonnay.rees@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Charley Mcdaniel</a></th>
          <td class="govuk-table__cell">charley.mcdaniel@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Daniel Chaney</a></th>
          <td class="govuk-table__cell">daniel.chaney@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Deen Stewart</a></th>
          <td class="govuk-table__cell">deen.stewart@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Desiree Houghton</a></th>
          <td class="govuk-table__cell">desiree.houghton@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Dhruv Richardson</a></th>
          <td class="govuk-table__cell">dhruv.richardson@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Donell Bernal</a></th>
          <td class="govuk-table__cell">donell.bernal@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Ellise Nixon</a></th>
          <td class="govuk-table__cell">ellise.nixon@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Elysia Flowers</a></th>
          <td class="govuk-table__cell">elysia.flowers.@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Emer Wardle</a></th>
          <td class="govuk-table__cell">emer.wardle@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Ernie Fischer</a></th>
          <td class="govuk-table__cell">ernie.fischer@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Eva Nielsen</a></th>
          <td class="govuk-table__cell">eva.nielsen@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Fateh Humphrey</a></th>
          <td class="govuk-table__cell">fateh.humphrey@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Fatimah Hartman</a></th>
          <td class="govuk-table__cell">fatimah.hartman@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Gary Burrows</a></th>
          <td class="govuk-table__cell">gary.burrows@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Gurdeep Solis</a></th>
          <td class="govuk-table__cell">gurdeep.solis@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Husna Turnbull</a></th>
          <td class="govuk-table__cell">husna.turnbull@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Hywel Mclaughlin</a></th>
          <td class="govuk-table__cell">hywel.mclaughlin@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Ilyas Wickens</a></th>
          <td class="govuk-table__cell">ilyas.wickens@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Iosif Brooks</a></th>
          <td class="govuk-table__cell">iosif.brooks@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Israr Gilliam</a></th>
          <td class="govuk-table__cell">israr.gilliam@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Jagoda Whitley</a></th>
          <td class="govuk-table__cell">jagoda.whitley@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Jonty Higgins</a></th>
          <td class="govuk-table__cell">jonty.higgins@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Jozef Mcintosh</a></th>
          <td class="govuk-table__cell">jozef.mcintosh@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Keiran Whiteley</a></th>
          <td class="govuk-table__cell">keiran.whiteley@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Khalil O'Moore</a></th>
          <td class="govuk-table__cell">khalil.o'moore@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Kody Eastwood</a></th>
          <td class="govuk-table__cell">kody.eastwood@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Lewys Schaefer</a></th>
          <td class="govuk-table__cell">lewys.schaefer@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Lilianna Stacey</a></th>
          <td class="govuk-table__cell">lilianna.stacey@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Lilly-Mae Holden</a></th>
          <td class="govuk-table__cell">lilly-mae.holden@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Lily Whittle</a></th>
          <td class="govuk-table__cell">lily.whittle@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Lleyton Hilton</a></th>
          <td class="govuk-table__cell">lleyton.hilton@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Maci Escobar</a></th>
          <td class="govuk-table__cell">maci.escobar@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Marianna Cameron</a></th>
          <td class="govuk-table__cell">marianna.cameron@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Maximilian Pemberton</a></th>
          <td class="govuk-table__cell">maximilian.pemberton@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Mea Wilde</a></th>
          <td class="govuk-table__cell">mea.wilde@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Nolan Hines</a></th>
          <td class="govuk-table__cell">nolan.hines@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Nyah Trevino</a></th>
          <td class="govuk-table__cell">nyah.trevino@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Oran Kramer</a></th>
          <td class="govuk-table__cell">oran.kramer@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Ozan Hastings</a></th>
          <td class="govuk-table__cell">ozan.hastings@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Percy Bartlett</a></th>
          <td class="govuk-table__cell">percy.bartlett@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Poppy-Mae Begum</a></th>
          <td class="govuk-table__cell">poppy-mae.begum@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Rhyley Moran</a></th>
          <td class="govuk-table__cell">rhyley.moran@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Rian Keller</a></th>
          <td class="govuk-table__cell">rian.keller@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Richie Whelan</a></th>
          <td class="govuk-table__cell">richie.whelan@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Rick Duggan</a></th>
          <td class="govuk-table__cell">rick.duggan@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Roman Morales</a></th>
          <td class="govuk-table__cell">roman.morales@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Ruqayyah Findlay</a></th>
          <td class="govuk-table__cell">ruqayyah.findlay@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Samah Hodge</a></th>
          <td class="govuk-table__cell">samah.hodge@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Scarlett-Rose Tanner</a></th>
          <td class="govuk-table__cell">scarlett-rose.tanner@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Shyam Hutchings</a></th>
          <td class="govuk-table__cell">shyam.hutchings@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Susanna Dillards</a></th>
          <td class="govuk-table__cell">susanna.dillard@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Tahmina Sykes</a></th>
          <td class="govuk-table__cell">tahmina.sykes@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Tanya Bond</a></th>
          <td class="govuk-table__cell">tanya.bond@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Taylah Oakley</a></th>
          <td class="govuk-table__cell">taylah.oakley@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Thea Donnelly</a></th>
          <td class="govuk-table__cell">thea.donnelly@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Tiegan Cano</a></th>
          <td class="govuk-table__cell">tiegan.cano@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Vernon Jenkins</a></th>
          <td class="govuk-table__cell">vernon.jenkins@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Veronika Brewer</a></th>
          <td class="govuk-table__cell">veronika.brewer@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Wilma Corona</a></th>
          <td class="govuk-table__cell">wilma.corona@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Winifred Anthony</a></th>
          <td class="govuk-table__cell">winifred.anthony@wedlakebell.com¬</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Yasir Moses</a></th>
          <td class="govuk-table__cell">yasir.moses@wedlakebell.com</td>
          <td class="govuk-table__cell">Active</td>
        </tr>
      </tbody>
    </table>
    <nav class="hmcts-pagination" id="pagination-label">

      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

      <ul class="hmcts-pagination__list">

        <li class="hmcts-pagination__item  hmcts-pagination__item--prev">
          <span class="hmcts-pagination__link">Previous</span><span class="govuk-visually-hidden"> set of pages</span>
        </li>
        <li class="hmcts-pagination__item hmcts-pagination__item--active">1</li>
        <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=1">2</a></li>

        <li class="hmcts-pagination__item"><a class="hmcts-pagination__link" href="/page=5">3</a></li>

        <li class="hmcts-pagination__item  hmcts-pagination__item--next">
          <a class="hmcts-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>

      </ul>

      <p class="hmcts-pagination__results">Showing <b>1</b> to <b>80</b> of <b>178</b> results</p>

    </nav>
  </main>
</div>
<!--     {
            text: "Manage fee accounts"
          },
        -->
{% endblock %}