{% extends "layouts/layout.html" %}

{# {% from "macros/alerts.html" import successAlert %} #}

{% set casenavId = "summary" %}

{% block page_title %}
  Case summary
{% endblock %}

{% block content %}

{% include "v1/includes/casebar.html" %}

  <div class="jui-width-container">
    <main role="main" class="govuk-o-main-wrapper">
      {% if success %}

				{% call successAlert() -%}
					Case added to your case list
				{%- endcall %}

			{% endif %}

			{% include "v1/includes/casenav.html" %}

    	<h1 class="govuk-heading-l"> Summary </h1>

			<div class="govuk-o-grid">
			  <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
			    {{ govukTable({
            "classes": "govuk-!-f-16",
            "caption": "Case details",
            "captionClasses": 'govuk-!-f-24',
            "firstCellIsHeader": true,
            "rows": detailsRows
          }) }}
			  </div>
			  <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
			    {{ govukTable({
            "classes": "govuk-!-f-16",
            "caption": "Panel",
            "captionClasses": 'govuk-!-f-24',
            "firstCellIsHeader": true,
            "rows": [
              [
                {
                  "text": "Judge"
                },
                {
                  "html": 'Prita Shah'
                }
              ],
              [
                {
                  "text": "Medical member"
                },
                {
                  "text": "Veronica George"
                }
              ],
              [
                {
                  "text": "Disability qualified member"
                },
                {
                  "text": "Mike Parsens"
                }
              ]
            ]
          }) }}
			  </div>
			</div>

    </main>
  </div>
{% endblock%}