{% extends "./layout.html" %}

{% set serviceName = 'Manage HMCTS fee accounts' %}
{% set primaryNavId = 'accounts' %}

{% block content %}

<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <h1 class="hmcts-page-heading__title govuk-heading-xl">Payments</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {{ govukTable({
            head: [
              {
                text: "Account number"
              },
              {
                text: "Acount name"
              }
            ],
            rows: [
              [
                {
                  html: '<a class="govuk-link" href="/fees-and-payments-v2/summary">PBA0241163</a>'
                },
                {
                  html: 'West Berkshire Council	- Account A'
                }
              ],
              [
                {
                  html: '<a class="govuk-link" href="#">PBA222333</a>'
                },
                {
                  html: 'West Berkshire Council	- Account B'
                }
              ]
            ]
          }) }}





    </div>
    </div>





  </main>

</div>


{% endblock %}
