{% extends "layouts/service/base.html" %}

{% block content %}
  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/app/share-case/shared-with-added">

            {{ govukTextarea({
              label: {
                text: "Email addresses",
                classes: 'govuk-label--xl',
                isPageHeading: true
              },
              hint: {
                html: 'You can enter multiple email addresses separate by a comma'
              },
              id: "name",
              name: "name"
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
