{% extends "layouts/service/base.html" %}

{% set serviceName = 'Manage access to a case' %}

{% block content %}
  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/app/share-case/shared-with">

            {{ govukInput({
              label: {
                html: '<h1 class="govuk-label__heading govuk-!-margin-bottom-0">Find a case</h1>',
                isPageHeading: true
              },
              hint: {
                html: 'Enter a case number. For example, 123456.'
              },
              id: "case-number",
              name: "case-number"
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
