{% extends "layouts/service/base.html" %}

{% set pageId = 'users' %}
{% set serviceName = 'Manage access to a case' %}

{% block content %}

  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Case number 123456</span>
        Manage user access
      </h1>

      <p class="govuk-body">You have shared the case with 3 users.</p>

      {{ govukTable({
        head: [
          {
            text: "Name"
          },
          {
            text: "Email address"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            {
              html: 'John Smith'
            },
            {
              text: "john.smith@sherwindavis.co.uk"
            },
            {
              html: '<a href="/app/account/users/approve-user">Remove</a>'
            }
          ],
          [
            {
              html: 'Stephanie Black'
            },
            {
              text: "stephanie.black@sherwindavis.co.uk"
            },
            {
              html: '<a href="/app/account/users/approve-user">Remove</a>'
            }
          ],
          [
            {
              html: 'Judith Robinson'
            },
            {
              text: "judith.robinson@sherwindavis.co.uk"
            },
            {
              html: '<a href="/app/account/users/approve-user">Remove</a>'
            }
          ]
        ]
      }) }}

      {{govukButton({
        text: 'Share with another user',
        href: '/app/share-case/email'
      })}}

      <p><a href="/app/manage-a-case/case-1">Go to the case</a></p>

    </main>
  </div>

{% endblock %}