{# {% extends "layout.html" %} #}
{% extends "divorce/layouts/layout.html" %}

{% block page_title %}Summary - Judicial UI prototype{% endblock %}

{% block content %}

{% include "divorce/includes/casebar.html" %}

<div class="jui-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    <h1 class="govuk-heading-l">Summary</h1>

    <div class="govuk-o-grid">
        
      <div class="govuk-o-grid__item  govuk-o-grid__item--one-half">
        
        <table class="govuk-c-table">

          <caption class="govuk-c-table__caption  govuk-!-f-24  govuk-!-mb-r2">Case details</caption>

          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="row">Case number</th>
              <td class="govuk-c-table__cell ">{{cases.id}}</td>
            </tr>
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="row">Case type</th>
              <td class="govuk-c-table__cell ">{{cases.type}}</td>
            </tr>
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="row">Case status</th>
              <td class="govuk-c-table__cell ">{{cases.status}}</td>
            </tr>
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="row">Reason for divorce</th>
              <td class="govuk-c-table__cell ">{{cases.reason}}</td>
            </tr>
          </tbody>

        </table>

      </div>

      <div class="govuk-o-grid__item  govuk-o-grid__item--one-half">

        <table class="govuk-c-table">

          <caption class="govuk-c-table__caption  govuk-!-f-24  govuk-!-mb-r2">Representitives</caption>

          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="row">Petitioner</th>
              <td class="govuk-c-table__cell">{{cases.petitioner}}</td>
            </tr>
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="row">Respondent</th>
              <td class="govuk-c-table__cell">{{cases.respondent}}</td>
            </tr>
          </tbody>

        </table>

      </div>
      
    </div>

    <h2 class="govuk-heading-m">Timeline of events</h2>

    <p>Below is the most recent events that have happend on this case.<br>You can view a <a href="#">full timeline</a> of events.</p>

    <div class="jui-timeline">

      {% for events in cases.events -%}
      <div class="jui-timeline__item">
        
        <div class="jui-timeline__header">
          <time datetime="">{{events.date}}</time>
        </div>

        <div class="jui-timeline__body">
          
          <div class="jui-timeline__event">

            <div class="jui-timeline__title">
              <h4>Application for divorce submitted <span class="jui-timeline__byline"> by {{events.actionBy}}</span></h4>
            </div>

            {% for file in events.files -%}
            <div class="jui-document">
              <a class="jui-document__link" href="{{file.url}}">
                <span class="jui-document__icon"></span>
                <span class="jui-document__title">{{file.name}}</span>
                <span class="jui-document__meta">{{file.type}}, {{file.size}}, {{file.pages}}</span>
              </a>
            </div>
            {% endfor %}

          </div>

        </div>
        
      </div>
      {% endfor %}

    </div>

  </main>

</div>

{% endblock %}