{{ hmctsGlobalFooter({
  help: {
    heading: 'Help',
    email: {
      address: '#',
      text: 'service-desk@hmcts.gov.uk'
    },
    phone: {
      text: '0207 633 4140'
    },
    opening: {
      text: 'Monday to Friday, 8am to 6pm (excluding public holidays)'
    }
  },
  navigation: {
    items: [{
      text: 'Terms and conditions',
      href: '/v1-1/terms'
    }, {
      text: 'Cookies',
      href: '/v1-1/cookies'
    }, {
      text: 'Privacy policy',
      href: '/v1-1/privacy'
    }]
  }
}) }}