{% extends "oct-2020/manage-organisation/layout.html" %}
{% set serviceName = 'Register to manage civil and family law cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Register to manage civil and family law cases</a>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'start'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="/oct-2020/register-organisation/organisation-address-another-address">
                    {% call govukFieldset({
                    legend: {
                    text: "Enter a name for this office",
                    classes: "govuk-fieldset__legend--xl",
                    isPageHeading: true
                    }
                    }) %}
                    <div id="event-name-hint" class="govuk-hint">
                        For example 'Manchester office', 'Probate office' etc.<br />
                        This will be used when searching for cases and so on.
                    </div>
                    <br>
                    {{ govukInput({
                    classes: "govuk-input--width-40",
                    id: "office-name",
                    name: "office-name"
                    }) }}
                    {% endcall %}
                    <!-- <p class="govuk-body"><a href="#">Can't find your organistaion?</a></p> -->
                    {{govukButton({
                    text: 'Continue'
                    })}}
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}