{% extends "oct-2020/manage-organisation/layout.html" %}
{% set serviceName = 'Register to manage civil and family law cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Register to manage civil and family law cases</a>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'organisation-address'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">This organisation is already registered</h1>

                <p>You are registering an organisation account, not a user account.</p>
                <p>If you want to create a user account for {{ data['org-name'] or 'Smith & Co' }}, contact Jim Smith, your organisation administrator and ask them to invite you to the organisation.</p>

                <p>If you are sure you want to set up a second organisational account for Smith & Co, you can <a href="/oct-2020/register-organisation/organisation-address">continue your registration</a>.</p>

        </div>
        </div>
    </main>
</div>
{% endblock %}