{% extends "oct-2020/manage-organisation/layout.html" %}
{% set serviceName = 'Register to manage civil and family law cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Register to manage civil and family law cases</a>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'organisation-address'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="/oct-2020/register-organisation/name">
                    {% call govukFieldset({
                    legend: {
                        text: "What's the payment by account (PBA) number for your organisation?",
                        classes: "govuk-fieldset__legend--xl",
                        isPageHeading: true
                    }
                    }) %}
                    <fieldset id="pbas" class="govuk-fieldset">
                        {{ govukInput({
                        label: {
                        html: 'PBA number (optional)',
                        classes: 'govuk-label--m'
                        },
                        id: "pba-1",
                        name: "pba-1",
                        classes: 'govuk-input--width-20'
                        }) }}
                    </fieldset>
                    <p><a href="#" onclick="return addAnotherPBA();">Add another PBA number</a></p>

                    {% endcall %}
                    {{govukButton({
                    text: 'Continue'
                    })}}
                </form>
            </div>
        </div>
    </main>
</div>
<script>
    function addAnotherPBA() {

        $('#pba-1').parent().clone().appendTo('fieldset#pbas');

        return false;
    }
</script>
{% endblock %}