{% extends "oct-2020/manage-organisation/layout.html" %}
{% set serviceName = 'Register to manage civil and family law cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span> 
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Register to manage civil and family law cases</a>
    </div>
</header>
{% endblock %}
{% block content%}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'organisation-address-another'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="/oct-2020/register-organisation/organisation-dx2">
                    {{ govukFieldset({
                    legend: {
                    text: "Add an address for your organisation",
                    classes: "govuk-fieldset__legend--xl",
                    isPageHeading: true
                    }
                    }) }}

                    <p class="govuk-body">You’ll be able to add more addresses later.</p>
                    <br>

<!--                    {% if data['add-new'] != 'true' %}-->
<!--                    <p class="govuk-body">This should be the main address for your organisation. You’ll be able to add more office addresses later.</p>-->
<!--                    <br>-->
<!--                    {% endif %}-->

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            You must only enter your firm's office address here, not a personal address.
                        </strong>
                    </div>

                    <br />

                    <div class="govuk-form-group govuk-!-margin-bottom-1" id="address_postcode-finder">
                        <label class="govuk-label govuk-label--m" for="address_postcode">
                            Enter a UK postcode
                        </label>

                        <input class="govuk-input govuk-input--width-10 postcode" id="address_postcode" name="postcodeFinder" type="text">

                        <button class="govuk-button govuk-button--secondary find-button" data-module="govuk-button" id="findAddressBtn">
                            Find address
                        </button>
                    </div>

                    <!--              <div class="form-group error" id="address_postcode-seach-error" style="margin-top: 20px;">-->
                    <!--                          <span class="error-message">-->
                    <!--                            We can't find an address for that postcode. Try again or enter the address manually.-->
                    <!--                          </span>-->
                    <!--              </div>-->

                    <div id="addressSelectGroup" class="form-group select-address" style="display: none;">
                        <label class="govuk-label govuk-label--s" for="addressSelect">
                            Select the correct address
                        </label>

                        <select id="addressSelect" class="govuk-select" name="address-select" title="Pick an address" style="margin-bottom: 20px; width: 450px;">
                            <option value="">Please select...</option>
                            <option value="46 High street, Guildford, GU1 1AH">46 High street, Guildford, GU1 1AH</option>
                        </select>
                        <br />
                        <br />
                    </div>

                    <fieldset class="govuk-fieldset" id="manualAddress" style="display: none;">

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="address_street-1">
                                Address <span class="govuk-visually-hidden">line 1 of 3</span>
                            </label>
                            <input class="govuk-input" id="address_street-1" name="address2_Line1" type="text" value="46 High street"></div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="address_street-2">
                                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                            </label>
                            <input class="govuk-input" id="address_street-2" name="address2_Line2" type="text"></div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="address_street-3">
                            </label>
                            <input class="govuk-input" id="address_street-3" name="address2_Line3" type="text"></div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="address_town">
                                Town or city
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="address_town" name="address2_city" type="text" value="Guildford"></div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="address_postcode-full">
                                Postcode
                            </label>
                            <input class="govuk-input govuk-input--width-10" id="address_postcode-full" name="address2_Postcode" type="text" value="GU1 1AH"></div>

                    </fieldset>

                    <div id="addressEnterManually" class="enter-manually">
                        <p class="govuk-body"><a class="govuk-link" href="organisation-address2-manual">Enter the address manually</a></p>
                    </div>

<!--                    <div class="govuk-form-group" id="address_postcode-finder">-->
<!--                        <label class="govuk-label govuk-label&#45;&#45;m" for="address-postcode">-->
<!--                        Enter a UK postcode-->
<!--                        </label>-->

<!--                        <input class="govuk-input govuk-input&#45;&#45;width-10 postcode" id="address_postcode" name="postcodeFinder" type="text">-->

<!--                        <button class="govuk-button govuk-button&#45;&#45;secondary find-button" data-module="govuk-button" onclick="showSelectAddress( 'address' )" style="margin-bottom: 0;">-->
<!--                          Find address-->
<!--                        </button>-->
<!--                    </div>-->

<!--                    <div class="form-group error" id="address_postcode-seach-error" class="postcode-seach-error" style="display:none; margin-top: 20px;">-->
<!--                          <span class="error-message">-->
<!--                            We can't find an address for that postcode. Try again or enter the address manually.-->
<!--                          </span>-->
<!--                    </div>-->

<!--                    <div id="address_select-address" class="form-group select-address" style="display: none;">-->
<!--                        <label class="govuk-label govuk-label&#45;&#45;s">-->
<!--                        Pick an address-->
<!--                        </label>-->

<!--                      <select id="address_addressList" class="govuk-select" name="addressSelect" onchange="updateAddress(this.value, 'address')" title="Pick an address" style="margin-bottom: 20px;">-->
<!--                        <option value="">Select an address</option>-->

<!--                      </select>-->

<!--                    </div>-->


<!--                    <fieldset class="govuk-fieldset" id="address_manual-address" class="manual-address" style="display: none;">-->

<!--                      <div class="govuk-form-group">-->
<!--                        <label class="govuk-label" for="address_street-1">-->
<!--                          Address <span class="govuk-visually-hidden">line 1 of 3</span>-->
<!--                        </label>-->
<!--                        <input class="govuk-input" id="address_street-1" name="address_Line1" type="text"></div>-->

<!--                      <div class="govuk-form-group">-->
<!--                        <label class="govuk-label" for="address_street-2">-->
<!--                          <span class="govuk-visually-hidden">Building and street line 2 of 2</span>-->
<!--                        </label>-->
<!--                        <input class="govuk-input" id="address_street-2" name="address_Line2" type="text"></div>-->

<!--                      <div class="govuk-form-group">-->
<!--                        <label class="govuk-label" for="address_street-3">-->
<!--                        </label>-->
<!--                        <input class="govuk-input" id="address_street-3" name="address_Line3" type="text"></div>-->

<!--                      <div class="govuk-form-group">-->
<!--                        <label class="govuk-label" for="address_town">-->
<!--                          Town or city-->
<!--                        </label>-->
<!--                        <input class="govuk-input govuk-!-width-two-thirds" id="address_town" name="address_city" type="text"></div>-->

<!--                      <div class="govuk-form-group">-->
<!--                        <label class="govuk-label" for="address_postcode-full">-->
<!--                          Postcode-->
<!--                        </label>-->
<!--                        <input class="govuk-input govuk-input&#45;&#45;width-10" id="address_postcode-full" name="address_Postcode" type="text"></div>-->

<!--                    </fieldset>-->


<!--                      <div id="address_enter-manually" class="enter-manually">-->
<!--                        <p><a class="link" href="#" onclick="return showAbroadAddress( 'address' );">Enter address manually</a></p>-->
<!--                      </div>-->

                    <br />
                    <br />


                  {{govukButton({
                  text: 'Continue'
                  })}}




                </form>
            </div>
        </div>
    </main>
</div>



<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script>

  document.getElementById('findAddressBtn').addEventListener("click", function(e){
    e.preventDefault();
    addressSelectGroup.style.display = 'block'
  })
  document.getElementById('addressSelect').addEventListener("change", function(e){
    e.preventDefault();
    document.getElementById('manualAddress').style.display = 'block'
    document.getElementById('addressEnterManually').style.display = 'none'
  })

  var addressSelectGroup = document.getElementById('addressSelectGroup')
  var chosenAddress = document.getElementById('addressSelect')


  // function showAddressSelect() {
  //   //e.preventDefault();
  //   addressSelectGroup.style.display = 'block'
  // }

  // function showManualEntry() {
  //   if (chosenAddress.value == "123 Church Road, Swindon, SN1 7DS"){
  //     document.getElementById('manualAddress').style.display = 'block'
  //     document.getElementById('addressEnterManually').style.display = 'none'
  //   }
  // }

// $( document ).ready(function() {
//
//
//     $(".summary-link").click(function(){
//         $(".sub").toggle();
//     });
//
//     $(".summary-link2").click(function(){
//         $(".sub2").toggle();
//     });
//
//     if ($('form.postcode')) {
//
//         $('#continue-button').removeClass('button');
//         $('#continue-button').addClass('secondary-button');
//         $('.find-button').click(function(e){
//           e.preventDefault();
//           showSelectAddress();
//         });
//           $('#continue-button').click(function(e){
//             e.preventDefault();
//             $('.select-address').addClass('error');
//             $('.select-address .error-message').show();
//           });
//         $('#postcode-seach-error').hide();
//     }
// });
//
// function showSelectAddress( strPrefix ) {
//
//     $('#' + strPrefix + '_address-select-container').removeClass('error');
//     $('#' + strPrefix + '_address-select-container .error-message').hide();
//     $('#' + strPrefix + '_enter-manually').show();
//
//
//     $.ajax({
//       url: "/postcode-lookup?postcode=" + encodeURIComponent($('#' + strPrefix + '_postcode').val()),
//       method: "GET",
//       success: function(data, status, xhr){
//         if(status === "success" && data.results && data.results.length){
//
//           var html = '<option>' + data.results.length + ' addresses found </option>';
//           jQuery.each( data.results, function(key, value){
//             var details = value.DPA;
//             var formatted_address = [
//               ( details.ORGANISATION_NAME || details.SUB_BUILDING_NAME || '' ) + ' ' + ( details.BUILDING_NUMBER || details.BUILDING_NAME || ''),
//               details.THOROUGHFARE_NAME || details.DEPENDENT_LOCALITY,
//               details.POST_TOWN,
//               details.POSTCODE
//             ];
//             html += '<option value="' + formatted_address.join(', ').trim() + '">' + formatted_address.join(', ').trim() + '</option>';
//           });
//
//           $('#' + strPrefix + '_addressList').html(html);
//
//           $('.postcode-as-text p').html($('#' + strPrefix + '_postcode').val());
//           $('#' + strPrefix + '_enter-postcode').hide();
//           $('#' + strPrefix + '_select-address').show();
//           $('#' + strPrefix + '_selected-address').hide();
//           $('#' + strPrefix + '_manual-address').hide();
//           $('#' + strPrefix + '_postcode-seach-error').hide();
//           $('#' + strPrefix + '_continue-button').unbind('click').click(function(e){
//             e.preventDefault();
//             $('#' + strPrefix + '_address-select-container').addClass('error');
//             $('#' + strPrefix + '_address-select-container .error-message').show();
//           });
//
//         } else {
//           $('#' + strPrefix + '_postcode-seach-error').show();
//           showManaulEntry( strPrefix );
//
//         }
//
//       },
//       dataType: 'JSON'
//     });
//   }
//
//  function showSelectedAddress( strPrefix ) {
//     $('#' + strPrefix + '_address-select-container').removeClass('error');
//     $('#' + strPrefix + '_address-select-container .error-message').hide();
//     $('#' + strPrefix + '_enter-postcode').hide();
//     $('#' + strPrefix + '_select-address').show();
//     $('#' + strPrefix + '_selected-address').hide();
//     $('#' + strPrefix + '_manual-address').show();
//   }
//
//   function updateAddress( address, strPrefix ) {
//     showSelectedAddress( strPrefix );
//     var addresses = $('#' + strPrefix + '_addressList').val().split(', ');
// console.log( addresses);
//     $('#' + strPrefix  + "_street-1").val(addresses[0]);
//     $('#' + strPrefix  + "_street-2").val(addresses[1]);
//     $('#' + strPrefix  + "_town").val(addresses[2]);
//     $('#' + strPrefix  + "_postcode-full, #" + strPrefix  + "_postcode-full-auto").val(addresses[3]);
//     $('#' + strPrefix + '_continue-button').unbind('click');
//     $('#' + strPrefix + '_find-button').addClass('secondary-button');
//     $('#' + strPrefix + '_continue-button').removeClass('secondary-button');
//     $('#' + strPrefix + '_continue-button').addClass('button');
//     $('#' + strPrefix + '_enter-manually').hide();
//   }
//
//   function showAbroadAddress( strPrefix ) {
//     $('#' + strPrefix + '_street-label').html('Address');
//     $('#' + strPrefix + '_postcode-label').html('Postcode');
//     $('#' + strPrefix + '_manual-address').show();
//     $('#' + strPrefix + '_country').attr('type', 'text');
//     $('#' + strPrefix + '_manual-address').addClass( 'abroad' );
//     $('#' + strPrefix + '_enter-manually').hide();
//     $('#' + strPrefix + '_postcode-finder').hide();
//     $('#' + strPrefix + '_enter-automatic').show();
//     $('#' + strPrefix + '_select-address').hide();
//
//     $('#' + strPrefix + '_continue-button').unbind('click');
//     $('#' + strPrefix + '_continue-button').removeClass('secondary-button');
//     $('#' + strPrefix + '_continue-button').addClass('button');
//     return false
//   }
//
//  function showPostcodeLookup( strPrefix ) {
//     $('#' + strPrefix + '_manual-address').hide();
//     $('#' + strPrefix + '_enter-manually').show();
//     $('#' + strPrefix + '_postcode-finder').show();
//     $('#' + strPrefix + '_enter-automatic').hide();
//
//     return false
//   }
//
//
//   function showManaulEntry( strPrefix ) {
//     console.log(strPrefix);
//     $('#' + strPrefix + '_manual-address').show();
//     $('#' + strPrefix  + "_postcode-full").val( $('#' + strPrefix + '_postcode').val() );
//     $('#' + strPrefix + '_continue-button').unbind('click');
//     $('#' + strPrefix + '_find-button').addClass('secondary-button');
//     $('#' + strPrefix + '_continue-button').removeClass('secondary-button');
//     $('#' + strPrefix + '_continue-button').addClass('button');
//     return false;
//
//   }

</script>
{% endblock %}