{% extends "oct-2020/manage-organisation/layout.html" %}
{% set serviceName = 'Register to manage civil and family law cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Register to manage civil and family law cases</a>
    </div>
</header>
{% endblock %}
{% block content%}
<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Register an organisation to manage civil and family law cases</h1>

                <p class="govuk-body">By registering, you will:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>create an account for your organisation</li>
                  <li>act as the organisation’s administrator</li>
                </ul>

                <p class="govuk-body">You will then be responsible for inviting other people from your organisation to join the account.</p>
 
                <h2 class="govuk-heading-l">Before you start</h2>
 
                <p class="govuk-body">You should make sure that nobody from your organisation has already created an account.</p>
 
                <p class="govuk-body">If an account already exists, you should ask the organisation administrator to invite you to join.</p>
 
                <p class="govuk-body">We’ll approve the registration within 3 working days. You’ll receive an email asking you to finish creating your account.</p>
 
                {{ govukButton({
                text: "Start",
                href: "/oct-2020/register-organisation/organisation-name",
                classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                }) }}
                <h2 class="govuk-heading-m">Already registered for a MyHMCTS account?</h2>
                <p>You can:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/oct-2020/manage-case/sign-in">manage your cases</a>, for example track a case's progress</li>
                    <li><a href="/oct-2020/manage-organisation/sign-in">manage your organisation</a>, for example invite new users</li>
                </ul>
            </div>
        </div>
    </main>
</div>
</div>
{% endblock %}