{% extends "oct-2020/manage-organisation/layout.html" %}
{% set serviceName = 'Register to manage civil and family law cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Register to manage civil and family law cases</a>
    </div>
</header>
{% endblock %}
{% block content%}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'organisation-dx'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="/oct-2020/register-organisation/check" method="post">


                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                          <h1 class="govuk-fieldset__heading">
                            Which office do you normally work from?
                          </h1>
                        </legend>
                        <div class="govuk-radios">

                          {% for address in data['addresses'] %}

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="office{{ address.addressNo }}" name="office" type="radio" value="{{ address.address }}">
                            <label class="govuk-label govuk-radios__label" for="office{{ address.addressNo }}">
                              {{ address.address }}
                            </label>
                          </div>

                          {% endfor %}

                        </div>

                      </fieldset>
                    </div>


                    {{govukButton({
                    text: 'Continue'
                    })}}

                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}