{% extends "layouts/admin/base.html" %}

{% set casenavId = "Confirmation" %}

{% block page_title %}Check your answers - Continous Online Resolution{% endblock %}

{% block content %}

  {% include "includes/casebar.html" %}

  <div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Check your questions before sending</h1>

          <dl class="govuk-check-your-answers  govuk-check-your-answers--short  govuk-!-mb-r6">

            {% for question in questions %}
              <div class="govuk-check-your-answers__contents">

                <dt class="govuk-check-your-answers__question">{{question.subject}}</dt>

                <dd class="govuk-check-your-answers__answer">{{question.body}}</dd>

                <dd class="govuk-check-your-answers__change">
                  <a href="/app/case/{{_case.id}}/questions/{{question.id}}/edit">Change <span class="visually-hidden">{{question.subject}}</span></a>
                </dd>

              </div>
            {% endfor %}
          </dl>

          <form method="post" action="/app/case/{{_case.id}}/questions/send">
            {{ govukButton({
              "text": "Send questions"
            }) }}
          </form>

        </div>

      </div>

    </main>

  </div>

{% endblock %}