{% extends "layouts/admin/base.html" %}

{% set casenavId = "questions" %}

{% block page_title %}Create questions - Continous Online Resolution{% endblock %}

{% block content %}
  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": "./"
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <div class="jui-add-another">

            <h1 class="govuk-heading-xl jui-add-another__heading" tabindex="-1">Create questions</h1>

            <form method="post" action="/app/case/{{_case.id}}/questions/create-questions">

              {% call govukFieldset({
                classes: 'jui-add-another__item',
                legend: {
                  text: "Question",
                  classes: "govuk-fieldset__legend--m  govuk-heading-m",
                  isPageHeading: false
                }
              }) %}

                {{ govukInput({
                  "label": {
                    "html": "Subject"
                  },
                  "id": "questions[0][subject]",
                  "name": "questions[0][subject]",
                  "attributes": {
                    "data-name": "questions[%index%][subject]",
                    "data-id": "questions[%index%][subject]"
                  }
                }) }}

                {{ govukTextarea({
                  "name": "questions[0][question]",
                  "id": "questions[0][question]",
                  "attributes": {
                    "data-name": "questions[%index%][question]",
                    "data-id": "questions[%index%][question]"
                  },
                  "label": {
                    "html": "Question"
                  }
                }) }}

                {% endcall %}

              <div class="jui-button-action">
                {{ govukButton({
                  "text": "Add another question",
                  "classes": "govuk-button--secondary  govuk-!-mb-r4  jui-add-another__add-button"
                }) }}
              </div>

              <div class="jui-button-action">
                {{ govukButton({
                  "text": "Save questions"
                }) }}
              </div>

            </form>

          </div>

        </div>

      </div>

		</main>

	</div>
{% endblock %}

{% block page_scripts %}
  <script>
    new AddAnother($('.jui-add-another'));
  </script>
{% endblock %}