{% extends "layouts/admin/base.html" %}

{% set casenavId = "questions" %}

{% block page_title %}Edit question - Continous Online Resolution{% endblock %}

{% block content %}

  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Edit question</h1>

          <form method="post">

            {{ govukInput({
              "label": {
                "text": "Subject"
              },
              "id": "subject",
              "name": "subject",
              "value": question.subject
            }) }}

            {{ govukTextarea({
              "label": {
                "text": "Question"
              },
              "id": "body",
              "name": "body",
              "value": question.body
            }) }}

            {{ govukButton({
              "text": "Save question"
            }) }}

          </form>

        </div>

      </div>

	  </main>

  </div>
{% endblock %}