{% extends "layouts/admin/base.html" %}

{% set casenavId = "questions" %}

{% block page_title %}Questions - Continous Online Resolution{% endblock %}

{% block content %}

  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      {% include "includes/secondary-nav.html" %}

      {% if success %}
        {{ juiAlert(
          {
            "icon": true,
            "iconClasses": "jui-alert__icon--success",
            "iconText": "Success!",
            "alertText": success,
            "alertClasses": "jui-alert--success"
          })
        }}
      {% endif %}

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Questions to appellant</h1>

          {% if draftRound %}

            {% if draftRound.questions.length %}

              <h2 class="govuk-heading-m">Round {{draftRound.number}}</h2>

              <p>You have not sent these questions to the appellant.</p>
              <!--<p>You have written {{draftRound.questions.length}} question(s).</p>
              <p>You can add more questions, edit the existing questions or send all questions to the appellant.</p>-->

              <div class="jui-questions govuk-!-mb-r6">
                {% for question in draftRound.questions %}
                  <div class="jui-questions__item">
                    <h3 class="jui-questions__subject"><a href="/app/case/{{casenav.id}}/questions/{{question.id}}">{{question.subject}}</a> {% if isNew %}{{ juiStatus({"classes": "jui-status--new", "text": "New"}) }} {% endif %}</h3>
                    <p class="jui-questions__meta">From <span class="jui-questions__author">{{question.author}}</span>, last edited on <time datetime="{{questions.dateChanged | date('YYYY-MM-DDTHH:mm')}}">{{question.dateChanged | govDate}} at {{question.dateChanged | govTime }}</time></p>
                  </div>
                {% endfor %}
              </div>

              <div class="jui-button-action">
                {{ govukButton({
                  "text": "Add questions",
                  "href": createQuestionsLink.href,
                  "classes": "jui-button--secondary  govuk-!-mb-r4"
                }) }}
              </div>

              <div class="jui-button-action">
                {{ govukButton({
                  "text": "Send questions",
                  "href": sendQuestionsLink.href
                }) }}
              </div>

            {% else %}

              <h2 class="govuk-heading-m">Round {{draftRound.number}}</h2>
              <p>You haven't asked any questions.</p>
              {{ govukButton({
                "text": "Add questions",
                "href": createQuestionsLink.href
              }) }}

            {% endif %}

          {% endif %}

          {% if sentRounds %}
            <br>
            {% for round in sentRounds %}
              <h2 class="govuk-heading-m">Round {{round.number}}</h2>
              <p>You sent {{round.questions.length}} question(s) to the appellant at {{round.dateSent | govTime }} on {{round.dateSent | govDate }}.</p>
              <p>The appellant has until {{round.dateDue | govTime }} on {{round.dateDue | govDate }} to reply.</p>

              <div class="jui-questions govuk-!-mb-r6">
                {% for question in round.questions %}
                  <div class="jui-questions__item">

                    {% if question.response %}

                      <h3 class="jui-questions__subject">
                        <a href="/app/case/{{casenav.id}}/questions/{{question.id}}">
                          {{question.subject}}</a> {{ juiStatus({"text": "Replied"}) }}
                      </h3>
                      <p class="jui-questions__meta">
                        From <span class="jui-questions__author">{{question.response.author}}</span>,
                        received on <time datetime="{{question.response.date | date('YYYY-MM-DDTHH:mm')}}">{{question.response.date | govDate}} at {{question.dateChanged | govTime }}</time>
                      </p>

                    {% elseif (round.overdue) %}

                      <h3 class="jui-questions__subject"><a href="/app/case/{{casenav.id}}/questions/{{question.id}}">{{question.subject}}</a> {{ juiStatus({"classes": "jui-status--urgent", "text": "Expired"}) }}</h3>
                      <p class="jui-questions__meta">From <span class="jui-questions__author">{{question.author}}</span>, added on <time datetime="{{question.dateAdded | date('YYYY-MM-DDTHH:mm')}}">{{question.dateAdded | govDate}} at {{question.dateChanged | govTime }}</time></p>

                    {% else %}

                      <h3 class="jui-questions__subject"><a href="/app/case/{{casenav.id}}/questions/{{question.id}}">{{loop.index}}. {{question.subject}}</a></h3>
                      <p class="jui-questions__meta">From <span class="jui-questions__author">{{question.author}}</span>, added on <time datetime="{{questions.dateAdded | date('YYYY-MM-DDTHH:mm')}}">{{question.dateAdded | govDate}} at {{question.dateChanged | govTime }}</time></p>

                    {% endif %}

                  </div>
                {% endfor %}
              </div>
            {% endfor %}

          {% endif %}

        </div>

      </div>

		</main>

	</div>
{% endblock %}