{% extends "layouts/admin/base.html" %}

{% set casenavId = "questions" %}

{% block page_title %}{{question.subject}} - Continous Online Resolution{% endblock %}

{% block content %}
  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": "./"
    }) }}

    <main role="main" class="govuk-main-wrapper">


      <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">{{question.subject}}</h1>

          <div class="jui-question">

            <p class="jui-question__meta">From <span class="jui-question__author">{{question.author}}</span>, added on <time datetime="{{question.dateAdded | date('YYYY-MM-DDTHH:mm')}}">{{question.dateAdded | date('D MMMM YYYY')}}</time></p>

            <div class="govuk-prose-scope">

              <p>{{question.body | safe}}</p>

            </div>

          </div>

          {% if isDraftQuestion %}
            {{ govukButton({
              text: "Edit question",
              href: editQuestionLink.href
            }) }}
          {% endif %}

          {% if response %}

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <h2 class="govuk-heading-m">Response</h2>


            <div class="jui-response">

              <p class="jui-question__meta">From <span class="jui-question__author">{{response.author}}</span>, received on <time datetime="2018-03-02">{{response.date | date('D MMMM YYYY')}}</time></p>

              <div class="govuk-prose-scope">

                {{response.body | safe}}

              </div>

            </div>


            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <form method="post">

              {% call govukFieldset({
                legend: {
                  text: "Add follow up question to round 2",
                  classes: "govuk-fieldset__legend--m",
                  isPageHeading: false
                }
              }) %}

              {{ govukInput({
                label: {
                  text: "Subject"
                },
                id: "subject",
                name: "subject",
                value: question.subject
              }) }}

              {{ govukTextarea({
                label: {
                  text: "Question"
                },
                id: "question",
                name: "question"
              }) }}

              {{ govukButton({
                "text": "Add question"
              }) }}

              {% endcall %}

            </form>
          {% endif %}

        </div>


      </div>


		</main>

	</div>
{% endblock %}