{% extends "layouts/admin/base.html" %}

{% set casenavId = "questions" %}

{% block page_title %}How do you do your shopping? - Continous Online Resolution{% endblock %}

{% block content %}
  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": "./"
    }) }}

    <main role="main" class="govuk-main-wrapper">


      <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">{{question.subject}}</h1>

          <div class="jui-question">

            <p class="jui-question__meta">From <span class="jui-question__author">{{question.author}}</span>, added on <time datetime="{{question.dateAdded | date('YYYY-MM-DDTHH:mm')}}">{{question.dateAdded | date('D MMMM YYYY')}}</time></p>

            <div class="govuk-prose-scope">

              <p>{{question.body}}</p>

              <!-- <p>Your walk to the doctors. The DWP healthcare professional noted that you occassionally walk to the GP’s surgery. In 2017, please describre the journey, inluding:</p>

              <ul class="govuk-bullet">
                <li>how long it took</li>
                <li>whether you needed to stop on the way, if so, for how long</li>
                <li>if you used any aids to help you walk</li>
                <li>if you did, what aids did you use</li>
              </ul> -->

            </div>

          </div>

          {% if not question.response %}

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <h2 class="govuk-heading-m">Response</h2>


            <div class="jui-response">

              <p class="jui-question__meta">From <span class="jui-question__author">Appellant</span>, received on <time datetime="2018-03-02">2 Mar 2018</time></p>

              <div class="govuk-prose-scope">

                <p>The GP is a little way away from me and it takes me quite a while to get there. I take my stick as I have a lot of trouble walking. I stop at the bench on the main road and then again at the bus stop near to the doctor. It takes me longer than half an hour to get there.</p>

                <p>I am in pain throughout the trip.</p>

              </div>

            </div>


            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <form method="post">

              {% call govukFieldset({
                legend: {
                  text: "Add follow up question to round 2",
                  classes: "govuk-fieldset__legend--m",
                  isPageHeading: false
                }
              }) %}

              {{ govukInput({
                label: {
                  text: "Subject"
                },
                id: "subject",
                name: "subject",
                value: "How do you do your shopping?"
              }) }}

              {{ govukTextarea({
                label: {
                  text: "Question"
                },
                id: "question",
                name: "question"
              }) }}

              {{ govukButton({
                "text": "Add question"
              }) }}

              {% endcall %}

            </form>
          {% endif %}


        </div>


      </div>


		</main>

	</div>
{% endblock %}