{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register to manage civil and family law cases' %}

{% block beforeContent %}
  {{ super() }}
  {{govukBackLink({
    href: '/mvp/register-organisation/organisation-pba'
  })}}
{% endblock %}

{% block content %}
<div class="govuk-width-container">



    <main role="main" class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/mvp/register-organisation/organisation-dx">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "has-dx",
          name: "has-dx",
          fieldset: {
            legend: {
              text: "Do you have a DX reference for your main office?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{govukButton({
          text: 'Continue'
        })}}
      </form>
    </div>
  </div>
    </main>
  </div>
{% endblock %}
