{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage HMCTS account' %}

{% block content %}

  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">


        {{ govukPanel({
          titleText: "You've invited",
          html: data['emailaddress']
        }) }}

        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">
          We've emailed them a link so they can complete their registration.
        </p>

        <p class="govuk-body">
          <a href="/manage-account-v4/users">Go back to manage users</a>
        </p>

         <p><a style ="color:white" href="/../create-user-account-v2">Link to Idam email</a></p>


    </main>
  </div>

{% endblock %}