{% extends "layouts/admin/base.html" %}

{% set casenavId = "casefile" %}

{% block page_title %}Documents{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">

    {% include "includes/secondary-nav.html" %}

    <h1 class="govuk-heading-l">Documents</h1>

    <div class="jui-casefile  govuk-!-mb-r6">

      <div class="jui-casefile-files">

        <ul class="jui-casefile-list">
          {% for document in documents %}
            <li><a href="/app/cases/{{casenav.id}}/documents/{{document.id}}">{{document.label}}</a></li>
          {% endfor %}
        </ul>

      </div>

      <div class="jui-casefile-page editable">

        <div class="jui-casefile-page-content" data-page="1">

          <div class="jui-casefile-page-head">
            <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
          </div>

          <div class="jui-casefile-page-body">

            <h2 class="govuk-heading-l">Page heading</h2>

          </div>

        </div>

      </div>

    </div>

  </main>

</div>

{% endblock %}