{% extends "layouts/admin/base.html" %}

{% set casenavId = "casefile" %}

{% block page_title %}Documents - Judicial UI prototype{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">

    {% include "includes/secondary-nav.html" %}

    <h1 class="govuk-heading-l">Documents</h1>

    <div class="jui-casefile  govuk-!-mb-r6">

      <div class="jui-casefile-files">

        <ul class="jui-casefile-list">
          {% for document in documents %}
            <li><a href="/app/cases/{{casenav.id}}/documents/{{document.id}}">{{document.label}}</a></li>
          {% endfor %}
        </ul>

      </div>

      <div class="jui-casefile-page">

        <div class="jui-casefile-page-content" data-page="1">

          <div class="jui-casefile-page-head">
            <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
          </div>

          <div class="jui-casefile-page-body">

            <h2 class="govuk-heading-l">Decision Notice</h2>

            <h4>Held at</h4>
            <p class="govuk-!-mt-r0">Fox Court (S)</p>

            <h4>On</h4>
            <p class="govuk-!-mt-r0">06/06/2018</p>

            <h4>Before</h4>
            <p class="govuk-!-mt-r0">Judge Prita Shah</p>

            <h4>Appellant</h4>
            <p class="govuk-!-mt-r0">Alan Jones</p>

            <h4>National Insurance number</h4>
            <p class="govuk-!-mt-r0">JK 01 02 04 05 F</p>

            <h4>Tribunal Ref</h4>
            <p class="govuk-!-mt-r0">SC242/17</p>

            <h4>Respondent</h4>
            <p class="govuk-!-mt-r0">Secretary of State for Work and Pensions</p>

            <h3 class="govuk-heading-m">Decision Notice</h3>

            <div class="govuk-prose-scope">
              <ol>
                <li>The appeal is allowed.</li>
                <li>The decision made by the Secretary of State on 13/06/2017 in respect of the PIP is set aside.</li>
                <li>Alan Jones is entitled to the daily living component at the standard rate from 12/07/2017 to 11/07/2020.</li>
                <li>Alan Jones has limited ability to carry out activities of daily living. he scores 8 points. He satisfies the following descriptors:</li>
              </ol>
            </div>

            {{ govukTable({
              "firstCellIsHeader": true,
              "captionClasses": "govuk-heading-s",
              "classes": "govuk-!-f-16  govuk-!-mb-r8  jui-table--fixed",
              "rows": [
                [
                  {"text": "Preparing food"},
                  {"text": "Needs to use an aid or appliance to be able to either prepare or cook a simple meal."},
                  {"text": "2 points"}
                ],
                [
                  {"text": "Washing and Bathing"},
                  {"text": "Needs to use an aid or appliance to be able to wash or bathe."},
                  {"text": "2 points"}
                ],
                [
                  {"text": "Managing Toilet Needs or Incontinence"},
                  {"text": "Needs to use an aid or appliance to be able to manage toilet needs or incontinence."},
                  {"text": "2 points"}
                ],
                [
                  {"text": "Engaging with other people face to face"},
                  {"text": "Needs prompting to be able to engage with other people."},
                  {"text": "2 points"}
                ]
              ]
            }) }}

            <p>Mr— does not qualify for an award of the mobility component from 12/07/2017. He scores 4 points. This is insufficient to meet the threshold for the test.</p>

            {{ govukTable({
              "firstCellIsHeader": true,
              "captionClasses": "govuk-heading-s",
              "classes": "govuk-!-f-16  govuk-!-mb-r8  jui-table--fixed",
              "rows": [
                [
                  {"text": "Moving Around"},
                  {"text": "Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided"},
                  {"text": "4 points"}
                ]
              ]
            }) }}

            <p>By reason of mental and physical health problems significantly limited. As a result Mr. - qualifies for the above award of Personal Independence Payment. In reaching its decision the Tribunal considered all of the evidence.</p>

          </div>

        </div>

      </div>

    </div>

  </main>

</div>

{% endblock %}