{% extends "../layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">    
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
      <a class="hmcts-header__link" href="/">Manage organisation details for civil and family law cases</a>
      <div class="hmcts-header__content">
        <nav class="hmcts-header__navigation">
          <ul class="hmcts-header__navigation-list">
              <li class="hmcts-header__navigation-item">
                <a class="hmcts-header__navigation-link" href="/sign-out" >
                  Sign out
                </a>
              </li>
          </ul>
        </nav>
      </div>   
<div class="hmcts-primary-navigation govuk-!-margin-bottom-0">
  <div class="hmcts-primary-navigation__container">
    <div class="hmcts-primary-navigation__nav">
      <nav class="hmcts-primary-navigation">
        <ul class="hmcts-primary-navigation__list">
          
            <li class="hmcts-primary-navigation__item">
              <a class="hmcts-primary-navigation__link"  href="/mvp-4-aat/manage-organisation">
                Organisation
              </a>
            </li>
            <li class="hmcts-primary-navigation__item">
              <a class="hmcts-primary-navigation__link"  href="/mvp-4-aat/manage-organisation/users">
                Users
              </a>
            </li>
       <!--     <li class="hmcts-primary-navigation__item">
              <a class="hmcts-primary-navigation__link" aria-current="page" href="/mvp-4-aat/manage-organisation/payments">
                Fee accounts
              </a>
            </li> -->
        </ul>
      </nav>
    </div>
  </div>
</div>
  </div>
</header>

{% endblock %}


{% block content %}

<div class="hmcts-width-container">
    {% include "../includes/phase-banner.html" %}

    <main role="main" class="govuk-main-wrapper">
      <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
          <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
            {{govukButton({
              text: 'Invite user',
              href: '/mvp-4-aat/manage-organisation/users/new',
              classes: 'hmcts-page-heading__button'
            })}}
        </div>
      </div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="/mvp-4-aat/manage-organisation/users/view.html">Arianna Sand</a></th>
      <td class="govuk-table__cell">arianna.sand@nowhere.com</td>
      <td class="govuk-table__cell">Active</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">John Snow</th>
      <td class="govuk-table__cell">jsnow@nowhere.com</td>
      <td class="govuk-table__cell">Pending</td>
    </tr>
  </tbody>
</table>


    </main>
  </div>

  <!--     {
            text: "Manage fee accounts"
          },
        -->

{% endblock %}