{% extends "../layout.html" %}

{% set serviceName = 'Manage organisation details for civil and family law cases' %}

{% set pageId = 'users' %}

{% block header %}
{{hmctsHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/mvp-4/manage-organisation/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Organisation',
    href: '/mvp-4/manage-organisation',
    active: false
  }, {
    text: 'Users',
    href: '/mvp-4/manage-organisation/users',
    active: true
          }, {
    text: 'Fee accounts',
    href: '/mvp-4/manage-organisation/payments',
    active: false

  }]
})}}

{% endblock %}


{% block content %}

<div class="hmcts-width-container">
    {% include "../includes/phase-banner.html" %}

    <main role="main" class="govuk-main-wrapper">




      <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
          <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
            {{govukButton({
              text: 'Invite user',
              href: '#',
              classes: 'hmcts-page-heading__button'
            })}}
        </div>
      </div>


      <table class="govuk-table">
  
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    
      <th class="govuk-table__header" scope="col">Name</th>
    
      <th class="govuk-table__header" scope="col">Email address</th>
      <!--
    
      <th class="govuk-table__header" scope="col">Manage cases</th>
    
      <th class="govuk-table__header" scope="col">Manage organisation</th>
    
      <th class="govuk-table__header" scope="col">Manage users</th>
    -->
      <th class="govuk-table__header" scope="col">Status</th>
    
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell"><a href="/mvp-4/manage-organisation/users/view-revoked-p">Peter Gold</a></td>
      
    
      
      <td class="govuk-table__cell">peter.gold@wedlakebell.com</td>
      
    
   <!--   
      <td class="govuk-table__cell">Yes</td>
      
    
      
      <td class="govuk-table__cell">Yes</td>
      
    
      
      <td class="govuk-table__cell">Yes</td>
      
    -->
      
      <td class="govuk-table__cell">Suspended</td>
      
    
    </tr>
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell"><a href="#">Amy Venkatanarasimharaj</a></td>
      
    
      
      <td class="govuk-table__cell">amyvenkatanarasimharaj@wedlakebell.com</td>
      
    
  <!--    
      <td class="govuk-table__cell">Yes</td>
      
    
      
      <td class="govuk-table__cell">No</td>
      
    
      
      <td class="govuk-table__cell">No</td>
      -->
    
      
      <td class="govuk-table__cell">Suspended</td>
      
    
    </tr>
    
  </tbody>
</table>




    </main>
  </div>
{% endblock %}