{% extends "./layout.html" %}

{% set serviceName = 'Manage your civil and family law cases' %}

{% set pageId = 'cases' %}

{% block page_title %}Case summary{% endblock %}

{% block header %}
{{hmctsHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/mvp-v1/manage-case/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Your cases',
    href: '/mvp-v1/manage-case/case-list',
    active: primaryNavId == 'cases'
  }, {
    text: 'Organisation\'s cases',
    href: '/mvp-v1/manage-case/organisation-case-list',
    active: primaryNavId == 'organisationCases'
  }]
})}}
{% endblock %}


{% block beforeContent %}
{{ hmctsIdentityBar({
  reference: 'PBA0241163',
  title: { html: '<b>John Smith</b> and <b>Jane Smith</b> (Divorce)' }
}) }}
{% endblock %}

{% block mainContent %}

<div class="hmcts-width-container">
  {{govukBackLink({
    href: '/mvp-v1/manage-case/case-summary',
    text: 'Back'
  })}}

  <main role="main" class="govuk-main-wrapper">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Upload file
        </h1>

        <form method="get" action="/mvp-v1/manage-case/upload-confirmation">

          {{ govukFileUpload({
            id: 'selectfile',
            name: 'selectfile',
            label: {
              text: 'File',
              classes: 'govuk-label--m'
            },
            hint: {
              text: 'You can upload JPG, BMP, PNG, TIF or PDF files up to 10MB in size.'
            }
          }) }}

          {{ govukInput({
            label: {
              text: 'Name to display for file',
              classes: 'govuk-label--m'
            },
            id: 'displayname',
            name: 'displayname'
          }) }}

          {{ govukTextarea({
            name: 'notes',
            id: 'notes',
            label: {
              text: 'Notes (optional)',
              classes: 'govuk-label--m'
            }
          }) }}

          {{ govukButton({
            text: 'Upload'
          }) }}
        </form>
      </div>
    </div>


  </main>

</div>

{% endblock %}