{% extends "cor/layouts/base.html" %}

{% set pageID = "Dashboard" %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

  <div class="jui-width-container">

    <main class="govuk-o-main-wrapper" role="main">

      <h1 class="govuk-heading-l">Dashboard</h1>

      {{ govukTable({
        "classes": "govuk-!-f-16",
        "caption": 'Your cases',
        "captionClasses": "govuk-heading-m",
        "firstCellIsHeader": true,
        "head": [
          {
            "text": "Case number"
          },
          {
            "text": "Parties"
          },
          {
            "text": "Type"
          },
          {
            "text": "Status"
          },
          {
            "text": "Initiation date"
          },
          {
            "text": "Last action date"
          },
          {
            "text": "Case file size"
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="/cor/v1/case">SC123/16/12321</a> <span class="jui-status  jui-status--urgent">Urgent</span>'
            },
            {
              "text": "Alan Jones vs DWP"
            },
            {
              "text": "PIP"
            },
            {
              "html": '<a href="/cor/v1/case">DWP responded</a>'
            },
            {
              "text": '17 Feb 2018'
            },
            {
              "text": '18 Feb 2018'
            },
            {
              "text": '2 documents (7 pages)'
            },
            {
              "text": ''
            }
          ],
          [
            {
              "html": '<a href="/cor/v1/case">SC123/16/12322</a>'
            },
            {
              "text": "Warren Sutton vs DWP"
            },
            {
              "text": "PIP"
            },
            {
              "html": '<a href="/cor/v1/case">Party replied</a>'
            },
            {
              "text": '15 Jan 2018'
            },
            {
              "text": '18 Jan 2018'
            },
            {
              "text": '43 documents (17 pages)'
            }],
          [
            {
              "html": '<a href="/cor/v1/case">SC123/16/12323</a>'
            },
            {
              "text": "Rose Miller vs DWP"
            },
            {
              "text": "PIP"
            },
            {
              "html": '<a href="/cor/v1/case">Hearing rejected</a>'
            },
            {
              "text": '7 Feb 2018'
            },
            {
              "text": '19 Feb 2018'
            },
            {
              "text": '1 documents (3 pages)'
            }
          ],
          [
            {
              "html": '<a href="/cor/v1/case">SC123/16/12325</a>'
            },
            {
              "text": "Seri Lopez vs DWP"
            },
            {
              "text": "PIP"
            },
            {
              "html": '<a href="/cor/v1/case">Deadline extension requested</a>'
            },
            {
              "text": '1 Mar 2018'
            },
            {
              "text": '2 Mar 2018'
            },
            {
              "text": '4 documents (8 pages)'
            }]
        ]
      }) }}

      {{ govukButton({
        "text": "Get new case",
        "href": "/cor/v1/get-new-case"
      }) }}

      {{ govukTable({
        "classes": "govuk-!-f-16",
        "caption": "Your hearings 20 March 2018",
        "captionClasses": 'govuk-heading-m',
        "head": [
          {
            "text": "Start time"
          },
          {
            "text": "End time"
          },
          {
            "text": "Subject"
          },
          {
            "text": "Type"
          },
          {
            "text": "Location"
          },
          {
            "text": "Status"
          }
        ],
        "rows": [
          [
            {
              "text": "9am"
            },
            {
              "text": "9:30am"
            },
            {
              "html": '<a href="/cor/v1/case">P Shaw vs DWP</a>'
            },
            {
              "text": 'PIP'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": 'Prepared'
            }
          ],
          [
            {
              "text": "9:30am"
            },
            {
              "text": "10am"
            },
            {
              "html": '<a href="/cor/v1/case">P Shaw vs DWP</a>'
            },
            {
              "text": 'PIP'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": ''
            }
          ],
          [
            {
              "text": "10am"
            },
            {
              "text": "11am"
            },
            {
              "html": '<a href="/cor/v1/case">P Shaw vs DWP</a>'
            },
            {
              "text": 'PIP'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": 'Prepared'
            }
          ],
          [
            {
              "text": "11am"
            },
            {
              "text": "12pm (midday)"
            },
            {
              "html": '<a href="/cor/v1/case">P Shaw vs DWP</a>'
            },
            {
              "text": 'ESA'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": ''
            }
          ],
          [
            {
              "text": "2pm"
            },
            {
              "text": "3.30pm"
            },
            {
              "html": '<a href="/cor/v1/case">U Patel vs DWP</a>'
            },
            {
              "text": 'ESA'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": ''
            }
          ]
        ]
      }) }}

      <a href="#">Previous</a> <a href="#">Next day</a>

    </main>

  </div>

{% endblock %}