{% extends "cor/layouts/base.html" %}

{% set pageID = "Dashboard" %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

  <div class="jui-width-container">

    <main class="govuk-o-main-wrapper" role="main">

      <h1 class="govuk-heading-l">Dashboard</h1>

      {{ govukTable({
        "classes": "govuk-!-f-16",
        "caption": 'Your cases',
        "captionClasses": "govuk-heading-m",
        "firstCellIsHeader": true,
        "head": [
          {
            "text": "Case number"
          },
          {
            "text": "Parties"
          },
          {
            "text": "Type"
          },
          {
            "text": "Status"
          },
          {
            "text": "Initiation date"
          },
          {
            "text": "Last action date"
          },
          {
            "text": "Case file size"
          }
        ],
        "rows": caseRows
      }) }}

      {{ govukButton({
        "text": "Get new case",
        "href": "/cor/v1/get-new-case"
      }) }}

      {{ govukTable({
        "classes": "govuk-!-f-16",
        "caption": "Your hearings 20 March 2018",
        "captionClasses": 'govuk-heading-m',
        "head": [
          {
            "text": "Start time"
          },
          {
            "text": "End time"
          },
          {
            "text": "Subject"
          },
          {
            "text": "Type"
          },
          {
            "text": "Location"
          },
          {
            "text": "Status"
          }
        ],
        "rows": [
          [
            {
              "text": "9am"
            },
            {
              "text": "9:30am"
            },
            {
              "html": '<a href="/cor/v1/case">P Shaw vs DWP</a>'
            },
            {
              "text": 'PIP'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": 'Prepared'
            }
          ],
          [
            {
              "text": "9:30am"
            },
            {
              "text": "10am"
            },
            {
              "html": '<a href="/cor/v1/case">P Shaw vs DWP</a>'
            },
            {
              "text": 'PIP'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": ''
            }
          ],
          [
            {
              "text": "10am"
            },
            {
              "text": "11am"
            },
            {
              "html": '<a href="/cor/v1/case">P Shaw vs DWP</a>'
            },
            {
              "text": 'PIP'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": 'Prepared'
            }
          ],
          [
            {
              "text": "11am"
            },
            {
              "text": "12pm (midday)"
            },
            {
              "html": '<a href="/cor/v1/case">P Shaw vs DWP</a>'
            },
            {
              "text": 'ESA'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": ''
            }
          ],
          [
            {
              "text": "2pm"
            },
            {
              "text": "3.30pm"
            },
            {
              "html": '<a href="/cor/v1/case">U Patel vs DWP</a>'
            },
            {
              "text": 'ESA'
            },
            {
              "text": 'Fox court'
            },
            {
              "text": ''
            }
          ]
        ]
      }) }}

      <a href="#">Previous</a> <a href="#">Next day</a>

    </main>

  </div>

{% endblock %}