{% extends "cor/layouts/base.html" %}

{% block page_title %}Create new direction {% endblock %}

{% block after_header %}
	{% include "cor/includes/includes/casebar.html" %}
{% endblock %}

{% block content %}
  <div class="jui-width-container">

    <main role="main" class="govuk-o-main-wrapper">

      <form action="/cor/v1/case/{{case.id}}/create-direction-order" method="post">

        {{ govukBackLink({
          "text": "Back",
          "href": "/cor/v1/case/"+case.id+"/directions"
        }) }}

        <h1 class="govuk-heading-l">Preview direction order</h1>

        {{ govukTextarea({
          "name": "message",
          "id": "message",
          "classes": "govuk-c-input--width-30",
          "label": {
            "html": '<h2 class="govuk-heading-m">Message</h2>'
          }
        }) }}

        {{ govukButton({
          "text": "Send direction order"
        }) }}

      </form>

    </main>

  </div>

{% endblock %}

{% block page_scripts %}
  {% include "cor/includes/global-scripts.html" %}
{% endblock %}