{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage organisation details for civil and family law cases' %}

{% set pageId = 'users' %}

{% block header %}
{{hmctsGlobalHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/manage-account-v5/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Organisation',
    href: '/manage-account-v5',
    active: false
  }, {
    text: 'Users',
    href: '/manage-account-v5/users',
    active: true
  },
  {
    text: 'Fee accounts',
    href: '/manage-account-v5/payments',
    active: false
  }]
})}}

{% endblock %}


{% block content %}

<div class="hmcts-width-container">

    <main role="main" class="govuk-main-wrapper">




      <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
          <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
            {{govukButton({
              text: 'Invite user',
              href: '/manage-account-v5/users/new',
              classes: 'hmcts-page-heading__button'
            })}}
        </div>
      </div>



      {{ govukTable({
        head: [
          {
            text: "Email address"
          },
          {
            text: "Manage cases"
          },
          {
            text: "Manage organisation"
          },
          {
            text: "Manage users"
          },
          {
            text: "Manage fee accounts"
          },
          {
            text: "Status"
          }
        ],
        rows: rows
      }) }}



    </main>
  </div>

{% endblock %}