{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage organisation details for civil and family court cases' %}

{% set pageId = 'users' %}

{% block header %}
{{hmctsGlobalHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/manage-account-v5/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Organisation',
    href: '/manage-account-v5',
    active: false
  }, {
    text: 'Users',
    href: '/manage-account-v5/users',
    active: true
  },
  {
    text: 'Fee accounts',
    href: '/manage-account-v5/payments',
    active: false
  }]
})}}

{% endblock %}


{% block content %}


  <div class="hmcts-width-container">
    {{govukBackLink({
      href: './'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Invite user</h1>
      <p class="govuk-body">When you send this invitation, the user will receive an email from HM Courts and Tribunals Registrations so they can finish setting up their account.</p>
          <form action="./confirmation">
            {{ govukInput({
              label: {
                text: "First name(s)",
                classes: 'govuk-label--m'
              },
              hint: {
                text: "Include all middle names."
              },
              id: "firstname",
              name: "firstname"
            }) }}
            {{ govukInput({
              label: {
                text: "Last name",
                classes: 'govuk-label--m'
              },
              id: "lastname",
              name: "lastname"
            }) }}
            {{ govukInput({
              label: {
                text: "Email address",
                classes: 'govuk-label--m'
              },
              id: "emailaddress",
              name: "emailaddress"
            }) }}

            {{ govukCheckboxes({
              idPrefix: "permissions",
              name: "permissions",
              fieldset: {
                legend: {
                  text: "Permissions",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "Choose what the user will be able to do. You can change this later."
              },
              items: [
                {
                  value: "cases",
                  text: "Create cases",
                  hint: {
                    text: "Create, progress and view the status of the user's own cases."
                  }
                },
                {
                  value: "organisation-view",
                  text: "View organisation's cases",
                  hint: {
                    text: "View the status of all cases created by the organisation's users."
                  }
                },
                {
                  value: "users",
                  text: "Manage users",
                  hint: {
                    text: "Invite users, change their permssions and remove user access."
                  }
                },
                {
                  value: "organisation",
                  text: "Manage organisation",
                  hint: {
                    text: "Edit the organisation's name and address."
                  }
                },
                {
                  value: "payment",
                  text: "View fee accounts",
                  hint: {
                    text: "View account balances, available credit and transactions."
                  }
                }
              ]
            }) }}

            {{govukButton({
              text: 'Send invitation'
            })}}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}