{% extends "layouts/service/base.html" %}

{% set serviceName = 'Demo' %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Demo</h1>
          <p class="govuk-body">
            Let's make:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Case summary</li>
            <li>Make a decision</li>
          </ul>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
