{% extends "./layout.html" %}

{% set serviceName = 'Manage your civil and family law cases' %}

{% block page_title %}Case summary{% endblock %}

{% block beforeContent %}
  {{ hmctsDetailsBar({
    reference: 'PBA0241163',
    title: { html: '<b>John Smith</b> v <b>Jane Smith</b>' }
  }) }}
{% endblock %}

{% block mainContent %}

{{govukBackLink({
  href: '/v1-1/access'
})}}
<br>
<br>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/v1-1/access" method="get">
      {{ govukTextarea({
        label: {
          text: "What email addresses do you want to give access to?",
          classes: 'govuk-label--xl',
          isPageHeading: true
        },
        hint: {
          html: 'You can enter multiple email addresses separated by commas.'
        },
        id: "shared-email",
        name: "shared-email"
      }) }}

      {{govukButton({
        text: 'Continue'
      })}}
    </form>
  </div>
</div>



{% endblock %}


{% block pageScripts %}
<script>
  new HMCTSFrontend.AddAnother($('.hmcts-add-another'));
</script>
{% endblock %}