 {% extends "./layout.html" %}

{% set serviceName = 'Manage your civil and family law cases' %}

{% block page_title %}Reassign{% endblock %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "You’ve shared a case",
      html: ''
    }) }}
 <h3 class="govuk-heading-m">What happens next</h3>
                <p class="govuk-body">
                    Your colleagues will now be able to access and update the selected cases from their case list. If you’ve shared the case with yourself, you’ll also have access.</p>
                        <p class="govuk-body">
                    If you removed a colleague from a case, they’ll no longer be able to access to it.</p>
     <p class="govuk-body">
      <a href="/v1-1/case-list">Go back to your cases</a>
     </p>

  </div>
</div>


{% endblock %}
