{% extends "./layout.html" %}

{% set serviceName = 'Manage your civil and family law cases' %}

{% block page_title %}Reassign{% endblock %}

{% block preContent %}
{{govukBackLink({
  href: '/v1-1/case-list'
})}}
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Share a case</span>Add recipient</h1>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="email">
                        Enter email address
                    </label>
                    <span id="email-hint" class="govuk-hint">
                        Search by name or email address. You can only add people from your organisation individually – but you can add as many as you like.                    </span>
                    <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text"> {{govukButton({
                    text: 'Add',
                    classes: 'hmcts-button--secondary',
                    disabled: true,
                    href: 'share-bulk-new-add'
                    })}}
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Can’t find an email address?
    </span>
  </summary>
  <div class="govuk-details__text">
  If you can’t find your colleague’s email address, they will need to complete their registration. Contact your administrator for help.</div>
</details>
  </div>
                <h3 class="govuk-heading-m">Selected cases </h3>
<p> No cases to display.</p>
            </div>

        </div>

        {{govukButton({
        text: 'Continue',
        disabled: true
        })}}

</div>
</main>
{% endblock %}
