{% extends "./layout.html" %}

{% set serviceName = 'Manage your civil and family law cases' %}

{% block page_title %}Reassign{% endblock %}

{% block preContent %}
{{govukBackLink({
  href: '/v1-1/share-bulk-new-add-remove'
})}}
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!--
<h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Share case</span>Check and confirm your selection </h1>


                <h2 class="govuk-heading-l">Cases</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row " >
                        <dt class="govuk-summary-list__key govuk-!-font-size-27 ">
                            Paul Saddlebrook Vs Jennifer Saddlebrook<span class="govuk-caption-m govuk-!-font-size-19">4748-2828-7712-8233</span>
                        </dt>
                    </div>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key"><span class="hmcts-badge">Users to be added</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change
                                    <span class="govuk-visually-hidden"></span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                                Michele Serrano
                            </dd>
                            <dd class="govuk-summary-list__value">
                                michele.serrano@wedlakebell.com
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    <span class="govuk-visually-hidden"> email</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                                Terence Williams
                            </dd>
                            <dd class="govuk-summary-list__value">
                                terence.williams@wedlakebell.com
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    <span class="govuk-visually-hidden"> email</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="hmcts-badge hmcts-badge--red">Users to be removed</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change
                                    <span class="govuk-visually-hidden"></span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                                Ivy-Rose Ireland
                            </dd>
                            <dd class="govuk-summary-list__value">
                                ivy-rose.ireland@wedlakebell.com
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    <span class="govuk-visually-hidden"> email</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <h2 class="govuk-heading-l">Case</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-font-size-27">
                                Neha Venkatanarasimharaj Vs Sanjet Venkatanarasimharaj<span class="govuk-caption-m govuk-!-font-size-19">9417-3739-9576-5131</span>
                            </dt>
                        </div>
                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    <span class="hmcts-badge">Users to be added</span>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change
                                        <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Name
                                </dt>
                                <dt class="govuk-summary-list__key">
                                    Email address
                                </dt>
                                <dd class="govuk-summary-list__actions">
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    Michele Serrano
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    michele.serrano@wedlakebell.com
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        <span class="govuk-visually-hidden"> email</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    Terence Williams
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    terence.williams@wedlakebell.com
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        <span class="govuk-visually-hidden"> email</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
-->
    <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Share a case</span>Check and confirm your cases</h1>
    <h2 class="govuk-heading-l">Cases</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-size-27" scope="col" colspan="4">Paul Saddlebrook Vs Jennifer
            Saddlebrook&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
              class="govuk-caption-m govuk-!-font-size-19">4748-2828-7712-8233</span></th>
          <th class="govuk-table__header" scope="col"><a class="govuk-link govuk-body" href="/v1-1/share-bulk-new-add-remove">Change</a></th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Email address</th>
          <th class="govuk-table__header" scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Ivy-Rose Ireland</td>
          <td class="govuk-table__cell">ivy-rose.ireland@wedlakebell.com</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell" colspan="3">
            <!--<span class="hmcts-badge hmcts-badge--red">to be removed</span>-->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Michele Serrano</td>
          <td class="govuk-table__cell"> michele.serrano@wedlakebell.com</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge">To be added</span></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Terence Williams</td>
          <td class="govuk-table__cell"> terence.williams@wedlakebell.com</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge">To be added</span></td>
        </tr>
      </tbody>
    </table>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-size-27" scope="col" colspan="4">Neha Venkatanarasimharaj Vs Sanjet Venkatanarasimharaj<span class="govuk-caption-m govuk-!-font-size-19">9417-3739-9576-5131</span></th>
          <th class="govuk-table__header" scope="col"><a class="govuk-link govuk-body" href="/v1-1/share-bulk-new-add-remove">Change</a></th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Email address</th>
          <th class="govuk-table__header" scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Michele Serrano</td>
          <td class="govuk-table__cell"> michele.serrano@wedlakebell.com</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge">To be added</span></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Terence Williams</td>
          <td class="govuk-table__cell"> terence.williams@wedlakebell.com</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell" colspan="3"><span class="hmcts-badge">To be added</span></td>
        </tr>
      </tbody>
    </table>

    {{govukButton({
        text: 'Confirm',
        href: './share-bulk-confirmation-new'
        })}}


  </div>
</div>
</div>
</main>
{% endblock %}
