{% extends "./layout.html" %}

{% set serviceName = 'Manage your civil and family law cases' %}

{% block header %}
{{hmctsGlobalHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/v1-1/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Your cases',
    href: '/v1-1/case-list',
    active: primaryNavId == 'cases'
  }, {
    text: 'Organisation\'s cases',
    href: '/v1-1/organisation-case-list',
    active: primaryNavId == 'organisationCases'
  }]
})}}
{% endblock %}


{% block beforeContent %}
{{ hmctsIdentityBar({
  reference: 'PBA0241163',
  title: { html: '<b>John Smith</b> and <b>Jane Smith</b> (Divorce)' },
  items: [
  {
    classes: 'hmcts-button--secondary',
    text: 'Upload file',
    href: '/v1-1/upload-file'
  }
  ]
}) }}
{{super()}}
{% endblock %}

{% block mainContent %}

  {{govukBackLink({
    href: '/v1-1/case-summary'
  })}}
      <img src="/public/images/upload-file-ccd.png" width="100%">
{% endblock %}
