{% extends "layouts/layout.html" %}

{% set casenavId = "summary" %}

{% block page_title %}Case summary - Financial Remedy{% endblock %}

{% block content %}

{% include "v1/includes/casebar.html" %}

<div class="jui-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    {% include "v1/includes/casenav.html" %}

    <h1 class="govuk-heading-l">Summary</h1>

    <div class="govuk-o-grid">
      
      <div class="govuk-o-grid__item  govuk-o-grid__item--one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Case details</h2>

        {{ govukTable({
          "classes": "govuk-!-f-16  govuk-!-mb-r7",
          "firstCellIsHeader": true,
          "rows": detailsRows
        }) }}

      </div>

      <div class="govuk-o-grid__item  govuk-o-grid__item--one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Panel</h2>

        {{ govukTable({
          "classes": "govuk-!-f-16  govuk-!-mb-r7",
          "firstCellIsHeader": true,
          "rows": [
            [
              {"text": "Judge"},
              {"html": "Prita Shah"}
            ],
            [
              {"text": "Medical member"},
              {"text": "Veronica George"}
            ],
            [
              {"text": "Disability qualified member"},
              {"text": "Mike Parsens"}
            ]
          ]
        }) }}
      </div>

    </div>

    <h2 class="govuk-heading-m">Recent events</h2>

    <div class="jui-timeline">

      <!-- 1 -->
      <div class="jui-timeline__item">

        <div class="jui-timeline__header">
          <time datetime="24-02-2017">24 February 2018</time>
        </div>

        <div class="jui-timeline__body">

          <div class="jui-timeline__event">

            <div class="jui-timeline__title">
              <h4>Acknowledgement of service by the court</h4>
            </div>

            <div class="jui-document">
              <a class="jui-document__link" href="/v1/case/{{casebar.id}}/casefile">
                <span class="jui-document__title">Aknowledgement of service</span>
                <span class="jui-document__meta">PDF, 75KB, 3 page</span>
              </a>
            </div>

          </div>

        </div>

      </div>

      <!-- 2 -->
      <div class="jui-timeline__item">

        <div class="jui-timeline__header">
          <time datetime="18-02-2017">18 February 2018</time>
        </div>

        <div class="jui-timeline__body">

          <div class="jui-timeline__event">

            <div class="jui-timeline__title">
              <h4>Court issues petition to the respondent</h4>
            </div>

            <div class="jui-document">
              <a class="jui-document__link" href="/v1/case/{{casebar.id}}/casefile">
                <span class="jui-document__title">Petition for divorce</span>
                <span class="jui-document__meta">PDF, 45KB, 1 pages</span>
              </a>
            </div>

          </div>

        </div>

      </div>

      <!-- 3 -->
      <div class="jui-timeline__item">

        <div class="jui-timeline__header">
          <time datetime="18-02-2017">16 February 2018</time>
        </div>

        <div class="jui-timeline__body">

          <div class="jui-timeline__event">

            <div class="jui-timeline__title">
              <h4>Application for divorce submitted</h4>
            </div>

            <div class="jui-document">
              <a class="jui-document__link" href="/v1/case/{{casebar.id}}/casefile">
                <span class="jui-document__title">Petition for divorce</span>
                <span class="jui-document__meta">PDF, 123KB, 3 pages</span>
              </a>
            </div>

            <div class="jui-document">
              <a class="jui-document__link" href="/v1/case/{{casebar.id}}/casefile">
                <span class="jui-document__title">Marriage certificate</span>
                <span class="jui-document__meta">PDF, 123KB, 3 pages</span>
              </a>
            </div>

          </div>

        </div>

      </div>

  </main>

</div>

{% endblock%}