{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% block header %}
{{hmctsHeader({
service: {
name: serviceName,
url: '/'
},
navigation: {
items: [{
text: 'Sign out',
href: '/sign-out'
}]
}
})}}
{{hmctsPrimaryNavigation({
classes: "govuk-!-margin-bottom-0",
items: [ {
text: 'Organisation',
href: '/manage-admin-i3',
active: false
}, {
text: 'Users',
href: '/manage-admin-i3/users',
active: false
},
{
text: 'Cases',
href: '/manage-admin-i3/cases',
active: false
},
{
text: 'Fee accounts',
href: '/manage-admin-i3/payments',
active: true
}]
})}}
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
          <div class="hmcts-page-heading">
            <div class="hmcts-page-heading__title-wrapper">
                <h1 class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold"> <span class="govuk-caption-xl">Wedlake Bell</span>
                    Fee acounts
                </h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukTable({
                head: [
                {
                text: "Account number"
                },
                {
                text: "Account name"
                }
                ],
                rows: [
                [
                {
                html: '<a class="govuk-link" href="/manage-admin-i3/payments/summary">PBA0241163</a>'
                },
                {
                html: 'Wedlake Bell - Account A'
                }
                ],
                [
                {
                html: '<a class="govuk-link" href="#">PBA222333</a>'
                },
                {
                html: 'Wedlake Bell - Account B'
                }
                ]
                ]
                }) }}
            </div>
        </div>
    </main>
</div>
{% endblock %}
{% block pageScripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script>
nextPaymentDue();

function nextPaymentDue() {
    var dateField = document.getElementById('nextpayment1');
    dateField.innerHTML = moment().add(1, 'months').format('01 MMM YYYY');

    var dateField = document.getElementById('nextpayment2');
    dateField.innerHTML = moment().add(1, 'months').format('03 MMM YYYY');
}
</script>
{% endblock %}