{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage HMCTS case' %}

{% block content %}
  {{hmctsPrimaryNavigation({
    classes: "govuk-!-margin-bottom-0",
    items: [ {
      text: 'Your cases',
      href: '/pui-case-list-ccd-summary/case-list',
      active: false
    },  {
      text: 'Create case',
      href: '/pui-case-list-ccd-summary/create-case',
      active: true
    }]
  })}}

  <div class="govuk-width-container">
    <main>
      <img src="/public/images/ccd-ui-create-case.png" width="100%">
    </main>
  </div>
{% endblock %}
