{% extends "layouts/service/base.html" %}

{% set serviceName = 'Manage organisation account' %}

{% block content %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    {{hmctsSubNavigation({
      items: [  {
        text: 'Organisation',
        href: '/manage-account-v2',
        active: false
      }, {
        text: 'Users',
        href: '/manage-account-v2/users',
        active: false
      },
      {
        text: 'Payments',
        href: '/manage-account-v2/payments',
        active: true
      }]
    })}}

    <h1 class="govuk-heading-xl">Payments</h1>





  </main>

</div>

{% endblock %}