{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage HMCTS account' %}

{% block content %}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Profile',
    href: '/manage-account-v4',
    active: true
  },  {
    text: 'Organisation',
    href: '/manage-account-v4/organisation',
    active: false
  }, {
    text: 'Users',
    href: '/manage-account-v4/users',
    active: false
  },
  {
    text: 'Payments',
    href: '/manage-account-v4/payments',
    active: false
  }]
})}}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">


    <h1 class="govuk-heading-xl">Profile</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {{ govukTable({
            firstCellIsHeader: true,
            rows: [
              [
                {
                  text: "First name"
                },
                {
                  text: "Holly"
                },
                {
                  html: ''
                }
              ],
              [
                {
                  text: "Last name"
                },
                {
                  text: "Whitwham"
                },
                {
                  html: ''
                }
              ],
              [
                {
                  text: "Email"
                },
                {
                  html: "holly.whitwham@westberks.gov.uk"
                },
                {
                  html: ''
                }
              ],
              [
                {
                  text: "Password"
                },
                {
                  html: "********"
                },
                {
                  html: ''
                }
              ],

              [
                {
                  text: "Permitted to manage"
                },
                {
                  html: "cases, organisation, users, payments"
                },
                {
                  html: ""
                }
              ]
            ]
          }) }}

      </div>
    </div>




  </main>

</div>

{% endblock %}