{% extends "layouts/admin/base.html" %}

{% set pageId = 'account' %}

{% block content %}

  {% include 'includes/primary-nav.html' %}

  <div class="govuk-width-container">
    {% include 'includes/account-sub-nav.html' %}
    <main role="main" class="govuk-main-wrapper">


      <h1 class="govuk-heading-xl">Profile</h1>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              {{ govukTable({
                firstCellIsHeader: true,
                rows: [
                  [
                    {
                      text: "Name"
                    },
                    {
                      text: "Kerry Smith"
                    },
                    {
                      html: '<a href="/">Change</a>'
                    }
                  ],
                  [
                    {
                      text: "Role"
                    },
                    {
                      text: "Solicitor"
                    },
                    {
                      html: '<a href="/">Change</a>'
                    }
                  ],                  
                  [
                    {
                      text: "Email address"
                    },
                    {
                      text: "kerry.smith@company.co.uk"
                    },
                    {
                      html: '<a href="/">Change</a>'
                    }
                  ],
                  [
                    {
                      text: "Telephone number"
                    },
                    {
                      text: "07934 567 567"
                    },
                    {
                      html: '<a href="/">Change</a>'
                    }
                  ],
                  [
                    {
                      text: "Address"
                    },
                    {
                      html: "31 High Street<br>Norwich<br>LS10 4NN"
                    },
                    {
                      html: '<a href="/">Change</a>'
                    }
                  ]
                ]
              }) }}
          </div>
        </div>



    </main>
  </div>

{% endblock %}