{% extends "layouts/admin/base.html" %}

{% set pageId = 'account' %}

{% block content %}

  {% include 'includes/primary-nav.html' %}

  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">

        {% include 'includes/account-sub-nav.html' %}

      <h1 class="govuk-heading-xl">Profile</h1>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              {{ govukTable({
                firstCellIsHeader: true,
                rows: [
                  [
                    {
                      text: "Name"
                    },
                    {
                      text: "Kerry Smith"
                    },
                    {
                      html: '<a href="/">Change</a>'
                    }
                  ],
                  [
                    {
                      text: "Email address"
                    },
                    {
                      text: "kerry.smith@company.co.uk"
                    },
                    {
                      html: '<a href="/">Change</a>'
                    }
                  ]
                ]
              }) }}
          </div>
        </div>



    </main>
  </div>

{% endblock %}