{% extends "layouts/admin/base.html" %}

{% block header %}
  {{ super() }}
  {{hmctsPrimaryNavigation({
    classes: "govuk-!-margin-bottom-0",
    items: [ {
      text: 'Your cases',
      href: '/manage-case-v3/case-list',
      active: primaryNavId == 'cases'
    }, {
      text: 'Organisation\'s cases',
      href: '/manage-case-v3/organisation-case-list',
      active: primaryNavId == 'organisationCases'
    }]
  })}}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="hmcts-width-container">
    <main role="main" class="govuk-main-wrapper">
      {% block mainContent %}
      {% endblock %}
    </main>
  </div>
{% endblock %}