{% extends "layouts/service/base.html" %}

{% set serviceName = '' %}

{% block content %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <div class="column-two-thirds">
            <h1 class="govuk-heading-xl">
                Privacy policy
            </h1>
            <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
                <div id="nav-links">


                    <ul class="govuk-list govuk-list--bullets">

                        <li><a href="#overview">Overview</a></li>
                        <li><a href="#divorce">Apply for divorce service</a></li>
                        <li><a href="#probate">Apply for probate service</a></li>
                    </ul>
                    
                    <hr>

                        <h2 class="govuk-heading-l" id="overview">Overview</h2>

                        <p>This privacy policy explains why we collect your personal data and what we do with it. It also explains your rights and how to enforce them.</p>
                        <h2 class="govuk-heading-m">Who manages this service</h2>
                        <p>This service is managed by Her Majesty’s Courts and Tribunals Service (HMCTS), which is an executive agency of the Ministry of Justice (MoJ).</p>
                        <p>The MoJ is known as the data controller for data protection purposes. The  <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">MoJ personal information charter</a> explains how the MoJ processes personal data.</p>
                        <p>As part of the MoJ, HMCTS is responsible for deciding how your personal data is used and for protecting the personal data you provide.</p>
                        <p>More information about using this service is in the <a href="/footer/terms-and-conditions">terms and conditions</a>.</p>

                        <h2 class="govuk-heading-m">Why we collect your personal data</h2>
                        <p>We collect your personal data to:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>process your claim or application</li>
                            <li>meet legal requirements</li>
                            <li>make improvements to this service</li>
                        </ul>
                        <p>Our staff use your personal data to process your claim or application. They work in the UK and your data is stored in the UK.</p>
                        <h2 class="govuk-heading-m">Types of personal data we collect</h2>
                        <p>The personal data we collect includes:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>your name, address and contact details</li>
                            <li>your email and password (if you create an account)</li>
                            <li>other personal information you provide in your claim or application</li>
                        </ul>

                        <p>Some services collect more personal data. Find out more about the <a href="#otherservices">personal data that is collected by the service you are using</a> . </p>


                        <h2 class="govuk-heading-m">Using your data</h2>
                        <p>As part of your claim you’ll be asked to use your email address to set up an account. You will be able to use this email and password to sign into other HMCTS services.</p>
                        <p>We may ask for your permission to use your email address to send you emails using GOV.UK Notify. This system processes emails only within the European Economic Area until the point where emails are handed over to the email provider you use.</p>
                        <p>We <a href="/footer/cookies">use cookies</a> to collect data that tells us about how you’re using this service, including:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>if you open an email from us or click on a link in an email</li>
                            <li>your computer, phone or tablet’s IP address </li>
                            <li>the region or town where you are using your computer, phone or tablet</li>
                            <li>the web browser you use</li>
                        </ul>


                        <h2 class="govuk-heading-m">Storing your data</h2>

                        <p>When you make your claim or application we store the data you have provided. The amount of time that your data is kept for depends on the service that you are using.</p>
                        <p>Find out more about how long your personal data is stored by the service you are using. </p>

                        <p>Some services collect more personal data. Find out more about the <a href="#otherservices">personal data that is collected by the service you are using</a> . </p>


                        <h2 class="govuk-heading-m">Sharing your data</h2>

                        <p>While processing your claim or application, another government department, agency or organisation might be involved and we may share your data with them.</p>

                        <p>If you contact us and ask for help with the service you are using, your personal data may be shared with the Good Things Foundation. This is a company who we have partnered with to offer face to face support.</p>

                        <p>In some circumstances we may share your data for example, to prevent or detect crime, or to produce anonymised statistics.</p>

                        <p>We use Google Analytics to collect data about how a website is used. This anonymous data is shared with Google. Find out about this in our <a href="/footer/terms-and-conditions">terms and conditions</a>.</p>

                        <h2 class="govuk-heading-m">Storing and sharing your data internationally</h2>

                        <p>Sometimes we need to send your personal information outside of the UK. When we do this we comply with data protection law.</p>

                        <h2 class="govuk-heading-m">Your rights</h2>
                        <p>You can ask:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>to see the personal data that we hold on you</li>
                            <li>to have the personal data corrected</li>
                            <li>to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your claim or application)</li>
                            <li>that access to the personal data is restricted (for example, you can ask to have your data stored for longer and not automatically deleted)</li>
                        </ul>
                        <p>If you want to see the personal data that we hold on you, you can: </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>complete a form to <a href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj">make a subject access request</a> . Your request goes to the MoJ as data controller.</li>
                            <li>write to us: Disclosure Team, Post point 10.38, 102 Petty France, London, SW1H 9AJ</li>
                        </ul>

                        <h2 class="govuk-heading-m">You can ask for more information about:</h2>

                        <ul class="govuk-list govuk-list--bullet">
                            <li>agreements we have on sharing information with other organisations</li>
                            <li>when we are allowed to pass on personal information without telling you</li>
                            <li>our instructions to staff on how to collect, use or delete your personal information</li>
                            <li>how we check that the information we hold is accurate and up-to-date</li>
                        </ul>

                        <h2 class="govuk-heading-m">You can contact the MoJ data protection officer, by:</h2>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>writing to us: Post point 10.38, 102 Petty France, London, SW1H 9AJ</li>
                            <li>emailing: <a href="mailto:data.compliance@justice.gov.uk">data.compliance@justice.gov.uk</a></li>
                        </ul>

                        <h2 class="govuk-heading-m">How to complain</h2>
                        <p>See our <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">complaints procedure</a>. if you want to complain about how we've handled your personal data.</p>

                        <p>Write to: Post point 10.38, 102 Petty France, London, SW1H 9AJ</p>
                        <p>Email: <a href="mailto:data.compliance@justice.gov.uk">data.compliance@justice.gov.uk</a></p>

                        <p>You can also complain to the <a href="https://ico.org.uk/global/contact-us">Information Commissioner’s Office</a> if you’re not satisfied with our response or believe we are not processing your personal data lawfully.</p>

                        <h2 id="otherservices" class="govuk-heading-m">The service you are using</h2>
                        <p>The types of personal data collected, how long it is stored for, and who it is shared with depends on the service you are using. Find out more by following the links below:</p>
                        <ul class="govuk-list">

                            <li><a href="#divorce">Using the apply for a divorce service</a> </li>

                            <li><a href="#probate">Using the apply for probate service</a> </li>

                        </ul>





                        <h2 class="govuk-heading-l" id="divorce">Using the apply for a divorce service</h2>
                        <h2 class="govuk-heading-m">The personal data we need</h2>
                        <p>When you use the apply for divorce service we need the following personal data:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>your current name</li>
                            <li>your name on the marriage certificate</li>
                            <li>a copy of your marriage certificate</li>
                            <li>date of your marriage</li>
                            <li>country in which you got married</li>
                            <li>information about where you have lived</li>
                            <li>your habitual residence (whether your life is mainly based in England or Wales)</li>
                            <li>your domicile (usually the place in which you were born, regard as your permanent home and to which you have the closest ties)</li>
                            <li>your email or mobile phone number</li>
                            <li>your address</li>
                            <li>reasons for your divorce</li>
                            <li>to know if you have been involved in other court cases</li>
                            <li>your husband or wife’s current name</li>
                            <li>their name on the marriage certificate</li>
                            <li>the name and address of the person who committed adultery with your husband or wife (this is optional and only asked if adultery is your reason for divorce)</li>
                            <li>your solicitors name and address (if you have one)</li>
                        </ul>

                        <h2 class="govuk-heading-m">Receiving notifications</h2>
                        <p>You need to sign up to receive notifications to use the apply for divorce service. This is a legal requirement so that the divorce application can proceed.</p>


                        <h2 class="govuk-heading-m">Storing your data</h2>
                        <p>When you use this service you’ll be asked to use your email address to set up an account. You will be able to use this email and password to sign into other HMCTS services.</p>

                        <p>While you are filling out or responding to a divorce application we will hold your data for up to 6 months. If you don’t complete the application during this time you’ll have to start again.</p>

                        <p>When a divorce is finalised the case is stored for 18 years. After this time, some data (from the decree nisi and the decree absolute) is deleted. </p>

                        <p>The remainder of the case information is stored for an additional 82 years. After a total of 100 years this data will be deleted.</p>


                        <h2 class="govuk-heading-l" id="probate">Using the apply for probate service</h2>
                        <h2 class="govuk-heading-m">The personal data we need</h2>

                        <p>When you use the apply for probate service we ask for:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>your name, any other names you are known as </li>
                            <li>your email or mobile phone number</li>
                            <li>your address</li>
                            <li>the names of any executors of the will</li>
                            <li>contact details for all of the executors who are applying for probate</li>
                        </ul>

                        <h2 class="govuk-heading-m">Storing your data</h2>

                        <p>When you use this service you’ll be asked to use your email address to set up an account. You can use this email and password to sign into other HMCTS services.</p>

                        <h2 class="govuk-heading-m">Before you submit your information</h2>

                        <p>Information you enter in the apply for probate service is saved until you decide to submit it. This allows you to save what you are doing and continue later. Saved information that you do not submit will be deleted after 90 days.</p>

                        <h2 class="govuk-heading-m">After you submit your information</h2>

                        <p>Grants of probate are stored as public records. However, your email address and telephone number won’t be publicly available.</p>


                </div>
            </div>
        </div>

    </div>
</div>
</div>


        {% endblock %}