{% extends "./layout.html" %}
{% from "table/macro.njk" import govukTable %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <a class="hmcts-header__link" href="/">Manage cases</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">

          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/mvp-4-WA/TCW-self-allocates/task-list/mytasks-none">
            Task list
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link"  href="#">
            Task manager
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="/mvp-4-WA/TCW-self-allocates/case-list/">
            Case list
          </a>
        </li>

        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="#">
            Create case
          </a>
        </li>

        <!--  <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="/mvp-4/manage-organisation/payments">
                        Fee accounts
                    </a>
                </li> -->
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}

<div class="hmcts-width-container">
  {% include "./includes/phase-banner-alpha.html" %}
  <main role="main" class="govuk-main-wrapper">

    <h1 class="govuk-heading-xl">Allocate the case</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="hmcts-scrollable-pane">
          <div class="hmcts-scrollable-pane__wrapper">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <p>Allocation type.</p>
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                      Allocate to me
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                      Allocate to a caseworker
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
        <form>
          {{ govukButton({
            text: 'Previous',
            classes: "govuk-button--secondary",
            href: "/mvp-4-WA/TCW-self-allocates/case-list/7683-5391-8812-0980"
            }) }}

            {{ govukButton({
              text: 'Continue',
              href: "/mvp-4-WA/TCW-self-allocates/case-list/allocate-2"
              }) }}
        </form>
<p><a href="/mvp-4-WA/TCW-self-allocates/case-list/7683-5391-8812-0980">Cancel</a></p>

  </main>
</div>
{% endblock %}
{% block pageScripts %}
{{super()}}
<script>
  new HMCTSFrontend.FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: true,
    toggleButton: {
      container: $('.hmcts-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'hmcts-button--secondary'
    },
    closeButton: {
      container: $('.hmcts-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.hmcts-filter')
    }
  });
</script>
{% endblock %}
