{% extends "layouts/service/base.html" %}

{% set serviceName = '' %}



{% block content %}
<div class="govuk-width-container">



    <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">



          <form action="/mvp-v1/manage-case/start-manage-case">

        <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Account created
    </h1>


  </legend>

  <p>You can now sign in to your account.</p>



        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
