{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register organisation for HMCTS services' %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Registration and account information submitted"
      }) }}

      <p class="govuk-body">You've sent us the information we need to:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>register your organisation</li>
          <li>create your user account</li>
      </ul>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
       We'll send you an email from HM Courts and Tribunals Registrations to ask you to finish creating your account. You'll need to click the link in the email and then create a password.
      </p>

    </div>
  </div>

<p><a style ="color:white" href="confirmation-email">Link to email</a></p>

{% endblock %}
