{% extends "layouts/unbranded.html" %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Subject: Register your organisation for HMCTS professional services</h1>

    <p class="govuk-body">From: <b>HM Courts and Tribunals Registrations</b> &lt;hm.courts.and.tribunals.registrations@notifications.service.gov.uk&gt;<br>Sent: 18 Oct 2018, 11:31am</p>
    <p class="govuk-body">You've been invited to register your organisation for HMCTS professional services. You'll be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply for divorce, financial remedy or probate online</li>
        <li>check the status of a case - if you applied online</li>
        <li>check your fee account balance and transactions</li>
      </ul>

    <h2 class="govuk-heading-m">What you need to do</h2>

    <p class="govuk-body"><a href="/create-account-v4/start">Register your organisation</a>.</p>
    <p class="govuk-body">You'll only need to do this once for your whole organisation. If you do not have the authority within your organisation to do it, forward this email to someone who has.</p>

    <h2 class="govuk-heading-m">After you've registered</h2>

    <p class="govuk-body">After we approve your registration, we'll send you an email. It will tell you how to finish creating your user account.</p>
    <p class="govuk-body"><a href="/create-account-v4/start-manage-case">Sign in to your account</a> to:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>manage your cases</li>
    <li>manage your account - for example, inviting other people to use HMCTS professional services</li>
    </ul>
    <p class="govuk-body">Yours</p>
    <p class="govuk-body">HM Courts & Tribunals Service</p>

  </div>
</div>
{% endblock %}
