{% extends "layouts/unbranded.html" %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Subject: Register to use HMCTS professional services</h1>

    <p class="govuk-body">From: <b>HM Courts and Tribunals Registrations</b> &lt;hm.courts.and.tribunals.registrations@notifications.service.gov.uk&gt;<br>Sent: 18 Oct 2018, 11:31am</p>
    <p class="govuk-body">You've been invited to register your organisation to use HMCTS professional services. You'll be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply for divorce, financial remedy or probate online</li>
        <li>check the status of a case - if you applied online</li>
        <li>invite other people in your organisation to use HMCTS professional services</li>
        <li>check your organisation's fee account balance and recent transactions</li>
      </ul>

    <h2 class="govuk-heading-l">What you need to do now</h2>

    <p class="govuk-body">You need to <a href="/create-account-v4/start">register your organisation</a>.</p>
    <p class="govuk-body">You'll only need to do this once for your whole organisation. If you do not have the authority within your organisation to do it, forward this email to someone who has.</p>
    <p class="govuk-body">At the same time as you register your organisation, you'll give us details to set up your own user account.</p>
    <p class="govuk-body">After we approve your registration, we'll send you an email asking you to finish creating your account. You'll need to click a link in the email and create a password.</p>

    <h2 class="govuk-heading-l">After you've finished registering</h2>

    <p class="govuk-body">Once you have an account, you'll be able to sign in to use <a href="/create-account-v4/start-manage-case">HMCTS professional services</a> to:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>manage cases - including applying online</li>
    <li>manage your account - including inviting other people</li>
    </ul>
    <p class="govuk-body">Yours</p>
    <p class="govuk-body">HM Courts and Tribunals Service</p>

  </div>
</div>
{% endblock %}
