{% extends "layouts/unbranded.html" %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Subject: Register to manage civil and family law cases</h1>

    <p class="govuk-body">From: <b>HM Courts & Tribunals Registrations</b> &lt;hm.courts.and.tribunals.registrations@notifications.service.gov.uk&gt;<br>Sent: 18 Oct 2018, 11:31am</p>
    <p class="govuk-body">Your organisation has been invited by HM Courts & Tribunals Service (HMCTS) to register to manage civil and family law cases. You'll be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>create divorce, financial remedy or probate cases online</li>
        <li>upload documents to progress cases which you created</li>
        <li>check the status of cases created by other people in your organisation</li>
        <li>check your organisation's fee account balances and transactions</li>
      </ul>

    <h2 class="govuk-heading-m">What you need to do now</h2>

    <p class="govuk-body">You need to <a href="/create-account-v4/start">register your organisation</a>.</p>
    <p class="govuk-body">You'll only need to do this once for your whole organisation. If you do not have the authority within your organisation to do it, forward this email to someone who has.</p>
    <p class="govuk-body">At the same time as you register your organisation, you'll give us details about yourself to start creating your user account.</p>

    <h2 class="govuk-heading-m">After you've registered</h2>

    <p class="govuk-body">We'll send you an email after we approve your organisation's registration. This can take up to 3 working days.</p>
    <p class="govuk-body">The email will include a link so you can finish creating your account. After you've done this, you can <a href="/manage-case-v3/start-manage-case">sign in to your account</a> to:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>manage your civil and family law cases</li>
    <li>manage your account - for example, inviting other people to manage their cases online</li>
    </ul>
    <p class="govuk-body">When you invite other people, you'll be able to choose what they have permission to do.</p>
    <p class="govuk-body">Yours</p>
    <p class="govuk-body">HM Courts & Tribunals Service</p>

  </div>
</div>
{% endblock %}
