{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register to manage civil and family court cases' %}

{% block beforeContent %}
  {{ super() }}
  {{govukBackLink({
    href: '/create-account-v4/organisation-address-postcode-results'
  })}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-account-v4/name">

        {% call govukFieldset({
          legend: {
            text: "What's the DX reference for your main office? (optional)",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}
  
          {{ govukInput({
            label: {
              html: 'DX number',
              classes: 'govuk-label--m'
            },
            id: "dx-number",
            name: "dx-number"
          }) }}
  
          {{ govukInput({
            label: {
              html: 'DX exchange',
              classes: 'govuk-label--m'
            },
            id: "dx-exchange",
            name: "dx-exchange"
          }) }}

        {% endcall %}
  
        {{govukButton({
          text: 'Continue'
        })}}
      </form>
    </div>
  </div>

{% endblock %}

