{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register to manage civil and family court cases' %}

{% block beforeContent %}
  {{ super() }}
  {{govukBackLink({
    href: '/create-account-v4/organisation-address-postcode-results'
  })}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-account-v4/name">

        {{ govukInput({
          label: {
            text: "What's the DX number for your main office? (optional)",
            classes: 'govuk-label--xl',
            isPageHeading: true
          },
          id: "org-dx",
          name: "org-dx"
        }) }}


        <!-- <p class="govuk-body"><a href="#">Can't find your organistaion?</a></p> -->

        {{govukButton({
          text: 'Continue'
        })}}
      </form>
    </div>
  </div>

{% endblock %}

