{% extends "layouts/service/base.html" %}

{% set serviceName = 'Manage your civil and family law cases' %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage your civil and family law cases</h1>

    <p>You can use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>create divorce, financial remedy or probate cases online</li>
        <li>check the status of cases</li>
        <li>upload documents to progress cases which you created</li>
      </ul>

    {{ govukButton({
      text: "Start",
      href: "/i2/manage-case/sign-in",
      classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}

    <h2 class="govuk-heading-m">Manage organisation details</h2>

    <p>If you have permission, you can <a href="/i2/manage-organisation/sign-in">manage organisation details</a> to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>invite other people to use this service</li>
        <li>check your organisation's fee account balance and transactions</li>
      </ul>

    <h2 class="govuk-heading-m">If you do not have an account</h2>

    <p>Ask someone in your organisation to invite you. The organisation must have registered to manage civil and family law cases.</p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>
{% endblock %}