.admin-header {
  padding: 10px 0;
  background-color: $govuk-black;
}

.admin-header__wrapper {
	@include govuk-h-clearfix;
}

.admin-header__logo {
  float: left;
  color: #fff;
  font-weight: bold;
}

.admin-header__account {
  float: right;
  color: #fff;
}