.primary-nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
  }

  li:last-child {
    margin-right: 0;
  }

  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
  }

  a span {
    font-size: 0.9em;
    position: relative;
    top: 0em;
    left: 2px;
    line-height: 0;
  }
}
