.tabs {
  [role=tablist] {
    margin: 0;
    padding: 0;
  }

  [role=tablist] li {
    list-style: none;
    @include mq(tablet) {
      position: relative;
      bottom: -1px;
    }
  }

  [role=tab] {
    @include govuk-font-regular-19;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #dee0e2;
    border-bottom: 0;

    @include mq(tablet) {
      border: 1px solid transparent;
      background-color: #dee0e2;
      margin: 6px 6px 6px 0;
      float: left;
    }

    &[aria-selected=true] {
      background-color: #dee0e2;
      @include mq(tablet) {
        background-color: #fff;
        border-bottom: 0;
        border-color: #ccc;
        color: #0b0c0c;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 16px;
        padding-bottom: 17px;
      }
    }
  }

  [role=tabpanel] {
    border-top: 1px solid #bfc1c3;
    clear: both;
    overflow: hidden;
  }

  [role=tabpanel]:focus {
    outline: 3px solid #ffbf47;
  }

}