/* ==========================================================================
   #PANELS
   ========================================================================== */

.jui-panel {
  padding: $govuk-spacing-scale-6;
  margin-bottom: $govuk-spacing-scale-7;
}

.jui-panel--information {
  background-color: lighten($govuk-light-blue, 50%);
}