/* ==========================================================================
   #CASE ACTIONS MENU
   ========================================================================== */

.jui-caseactionsmenu {
  color: $govuk-white;
}


.jui-caseactionsmenu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.jui-caseactionsmenu__item {
  display: inline-block;
  margin-right: $govuk-spacing-scale-2;
  
  &:last-child {
    margin-right: 0;
  }

}


.jui-caseactionsmenu__link {
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;

  &:link,
  &:visited,
  &:active {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

}


.jui-caseactionsmenu__toggle {
  background-color: transparent;
  border: 0 none;
  color: inherit;  
  font-size: inherit;
  margin: 0;
  padding: 0;
}


/* Javascript enabled
   ========================================================================== */

.js-enabled {


  .jui-caseactionsmenu {
    position: relative;
  }


  .jui-caseactionsmenu__item {
    display: block;
    margin-right: 0;
  }


  .jui-caseactionsmenu__link {
    display: block;
  }


  .jui-caseactionsmenu__toggle {
    cursor: pointer;
    padding-right: $govuk-spacing-scale-3;
    position: relative;

    &::after {
      content: "";
      display: block;
      border-style: solid;
      border-color: transparent;
      border-top-color: currentColor;
      border-width: 8px 5px 0 5px;
      height: 0;
      margin-top: -4px;
      position: absolute;
      top: 50%; right: 0;
      width: 0;
    }

    &[aria-expanded=true] {
      
      &::after {
        border-bottom-color: currentColor;
        border-width: 0 5px 8px 5px;
      }

    }

  }


  .jui-caseactionsmenu__list {
    background-color: $govuk-black;
    padding: 20px;
    position: absolute;
    top: 39px;

    @include mq($from: tablet) {
      right: 0;
    }

  }


}