/* ==========================================================================
   #TABS
   
   Tabs won’t enhance in IE9 (we can use flex and box-shadow)
   ========================================================================== */

.govuk-tabs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.govuk-tabs__tab {
  @include govuk-font-regular-19;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Enhanced with Match Media JS
   ========================================================================== */

.govuk-tabs__list[role=tablist] {
  border-bottom: 1px solid $govuk-border-colour;
  display: flex;
}

.govuk-tabs__tab[role=tab] {
  background-color: $govuk-grey-3;
  color: $govuk-black;
  margin-right: 6px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;

  &:focus {
    background-color: $govuk-focus-colour;
    box-shadow: inset 0 0 0 6px $govuk-focus-colour;
    outline: none;
  }

}

.govuk-tabs__tab[aria-selected=true] {
  background-color: $govuk-white;
  border: 1px solid $govuk-border-colour;
  border-bottom: 0;
  margin-bottom: -1px;
  margin-top: -7px;
  padding: 16px 14px 17px;

  &:focus {
   background-color: transparent;
  }

}


/* Style variants
   ========================================================================== */

// Dark borders
.govuk-tabs--dark {

  .govuk-tabs__list[role=tablist] {
    border-color: $govuk-black;
  }

  .govuk-tabs__tab[aria-selected=true] {
    border-color: $govuk-black;
  }

}

// Thick borders
.govuk-tabs--thick-border {

  .govuk-tabs__list[role=tablist] {
    border-width: 3px;
  }

  .govuk-tabs__tab[aria-selected=true] {
    border-width: 3px;
    margin-top: -9px;
    margin-bottom: -3px;
    padding: 16px 12px 18px;
  }

}