/* ==========================================================================
   #CASE NAV
   ========================================================================== */

.jui-casenav {
  margin-top: $govuk-spacing-scale-3;
  margin-bottom: $govuk-spacing-scale-8;
}

.jui-casenav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.jui-casenav__item {
  display: inline-block;
  margin-right: $govuk-spacing-scale-3;
}


.jui-casenav__link {
  @include govuk-font-bold-19;
}


.jui-casenav__link[aria-current] {
  color: $govuk-black;
  text-decoration: none;
}


/* ==========================================================================
   #OPTIONS NAV
   ========================================================================== */

.jui-optionsnav {
  color: $govuk-white;
}


.jui-optionsnav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.jui-optionsnav__item {
  display: inline-block;
  margin-right: $govuk-spacing-scale-2;
  
  &:last-child {
    margin-right: 0;
  }

}


.jui-optionsnav__link {
  font-weight: bold;
  white-space: nowrap;

  @include mq($from: tablet) {
    text-decoration: none;
  }

  &:link,
  &:visited,
  &:active {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

}


.jui-optionsnav__toggle {
  background-color: transparent;
  border: 0 none;
  color: inherit;  
  font-size: inherit;
  margin: 0;
  padding: 0;
}



/* ==========================================================================
   #MENU
   ========================================================================== */

.jui-nav {
  color: $govuk-white;
  margin-top: 3px;
}


.jui-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.jui-nav__item {
  display: inline-block;
  margin-right: $govuk-spacing-scale-2;

  &:last-child {
    margin-right: 0;
  }
  
}


.jui-nav__link {
  font-weight: bold;
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

}


/* Javascript enabled
   ========================================================================== */

.js-enabled {


  @include mq($from: tablet) {

    .jui-optionsnav {
      position: relative;
    }


    .jui-optionsnav__item {
      display: block;
      margin-right: 0;
    }


    .jui-optionsnav__link {
      display: block;
    }


    .jui-optionsnav__toggle {
      cursor: pointer;
      padding-right: $govuk-spacing-scale-3;
      position: relative;

      &::after {
        content: "";
        display: block;
        border-style: solid;
        border-color: transparent;
        border-top-color: currentColor;
        border-width: 8px 5px 0 5px;
        height: 0;
        margin-top: -4px;
        position: absolute;
        top: 50%; right: 0;
        width: 0;
      }

    }


    .jui-optionsnav__list {
      //display: none;
      background-color: $govuk-black;
      padding: 20px;
      position: absolute;
      right: 0;
      top: 44px;
    }


  }


}