/* ==========================================================================
   #STATUS
   ========================================================================== */

.jui-status {
  @include govuk-font-regular-14;
  border: 2px solid $govuk-blue;
  color: $govuk-blue;
  font-weight: bold;
  padding: 0 $govuk-spacing-scale-1;
  text-transform: uppercase;
  vertical-align: middle;
}


.jui-status--urgent {
  border-color: $govuk-red; 
  color: $govuk-red;
}


.jui-status--new {
  border-color: $govuk-button-colour;
  color: $govuk-button-colour;
}