/* ==========================================================================
   #CASEBAR
   ========================================================================== */

.jui-casebar {
  @include govuk-h-clearfix;
  background-color: $govuk-link-colour;
  color: $govuk-white;
  padding-top: $govuk-spacing-scale-3;
  padding-bottom: $govuk-spacing-scale-3;
}


@include mq($until: tablet) {

  .jui-casebar__options {
    margin-top: $govuk-spacing-scale-2;
  }

}


@include mq($from: tablet) {

  .jui-casebar__details {
    float: left;
  }

  .jui-casebar__options {
    float: right;
  }

}


.jui-casebar__title {
  font-weight: bold;
  margin-left: $govuk-spacing-scale-2;
}