/* ==========================================================================
   #ALERTS
   ========================================================================== */

.jui-alert {
  border: 3px solid $govuk-turquoise;
  font-weight: bold;
  padding: $govuk-spacing-scale-2;
}