{% extends "cor/layouts/base.html" %}

{% block page_title %}Create new direction {% endblock %}

{% block after_header %}
	{% include "cor/includes/case-header.html" %}
{% endblock %}

{% block content %}
  <div class="jui-width-container">

    <main role="main" class="govuk-o-main-wrapper">

      <form action="/cor/v1/case/create-direction" method="post">

        {{ govukBackLink({
          "text": "Back",
          "href": "/cor/v1/case/directions"
        }) }}

        <h1 class="govuk-heading-l">Create direction</h1>

        {{ govukRadios({
          "idPrefix": "party",
          "name": "party",
          "fieldset": {
            "legendHtml": '<h2 class="govuk-heading-m">Party</h2>'
          },
          "items": [
            {
              "value": "Alan Jones",
              "text": "Alan Jones"
            },
            {
              "value": "DWP",
              "text": "DWP"
            }
          ]
        }) }}

        {{ govukRadios({
          "idPrefix": "type",
          "name": "type",
          "fieldset": {
            "legendHtml": '<h2 class="govuk-heading-m">Type</h2>'
          },
          "items": [
            {
              "value": "Document request",
              "text": "Document request"
            },
            {
              "value": "Statement confirmation",
              "text": "Statement confirmation"
            }
          ]
        }) }}

        {{ govukInput({
          "label": {
            "html": '<h2 class="govuk-heading-m">Subject</h2>'
          },
          "id": "subject",
          "name": "subject",
          "classes": "govuk-c-input--width-30"
        }) }}

        {{ govukTextarea({
          "name": "message",
          "id": "message",
          "classes": "govuk-c-input--width-30",
          "label": {
            "html": '<h2 class="govuk-heading-m">Message</h2>'
          }
        }) }}

        {{ govukInput({
          "label": {
            "html": '<h2 class="govuk-heading-m">Due date</h2>'
          },
          "id": "dueDate",
          "name": "dueDate",
          "classes": "govuk-c-input--width-10"
        }) }}



        {{ govukButton({
          "text": "Create direction"
        }) }}

      </form>

    </main>

  </div>

{% endblock %}

{% block page_scripts %}
  {% include "cor/includes/global-scripts.html" %}
{% endblock %}