{% extends "cor/layouts/base.html" %}

{% set casenav = "directions" %}

{% block page_title %}
  Directions
{% endblock %}

{% block after_header %}
	{% include "cor/includes/case-header.html" %}
{% endblock %}

{% block content %}
	<div class="jui-width-container">
    <main role="main" class="govuk-o-main-wrapper">
      {% include "cor/includes/case-nav.html" %}

      <h1 class="govuk-heading-l"> Directions </h1>

      <h2 class="govuk-heading-m">Draft orders</h2>

      {% if draftOrder %}
        <div class="jui-direction-order">
          <h3 class="govuk-heading-s">Draft direction order (not sent)</h3>

          {{ govukTable({
            "classes": "govuk-!-f-16",
            "head": [
              {
                "text": "Subject"
              },
              {
                "text": "Party"
              },
              {
                "text": "Due date"
              }
            ],
            "rows": draftOrder.directions
          }) }}

          {% for direction in draftOrder.directions %}
            <p>{{direction.subject}}</p>
          {% endfor %}

          {{ govukButton({
            "text": "Create direction",
            "href": "/cor/v1/case/create-direction"
          }) }}
          <br>
          {{ govukButton({
            "text": "Preview order",
            "href": "/cor/v1/case/preview-direction-order"
          }) }}
        </div>
      {% else %}
        <p class="govuk-body">No draft directions</p>
        {{ govukButton({
          "text": "Create direction",
          "href": "/cor/v1/case/create-direction"
        }) }}
      {% endif %}



      <h2 class="govuk-heading-m">In progress directions</h2>

      <div class="jui-direction-order">

        <h3 class="govuk-heading-s">Direction order sent on 19/05/2018</h3>
        <p><a href="#" download>Direction order - 19-05-2018.pdf</a></p>

        {{ govukTable({
          "classes": "govuk-!-f-16",
          "head": [
            {
              "text": "Subject"
            },
            {
              "text": "Party"
            },
            {
              "text": "Status"
            },
            {
              "text": "Due date"
            }
          ],
          "rows": [
            [
              {
                "html": '<a href="/cor/v1/case/edit-direction">Provide photo evidence of your walking stick</a>'
              },
              {
                "text": "Alan Jones"
              },
              {
                "html": "Waiting on"
              },
              {
                "text": "30 May 2018"
              }
            ],
            [
              {
                "html": '<a href="/cor/v1/case/edit-direction">Provide the doctor\'s letter relating to your back pain</a>'
              },
              {
                "text": "Alan Jones"
              },
              {
                "html": '<strong class="govuk-c-tag"> Complete </strong>'
              },
              {
                "text": "29 May 2018"
              }
            ],
            [
              {
                "html": '<a href="/cor/v1/case/edit-direction">Provide the medical records (dated 16/04/2017) referred to in the MRN</a>'
              },
              {
                "text": "DWP"
              },
              {
                "html": "Waiting on"
              },
              {
                "text": "30 May 2018"
              }
            ]
          ]
        }) }}
      </div>

		</main>
	</div>
{% endblock %}

{% block page_scripts %}
  {% include "cor/includes/global-scripts.html" %}
{% endblock %}
