{% extends "cor/layouts/base.html" %}

{% set casenav = "documents" %}

{% block page_title %}
  Documents
{% endblock %}

{% block after_header %}
	{% include "cor/includes/casebar.html" %}
{% endblock %}

{% block content %}
	<div class="jui-width-container">
    <main role="main" class="govuk-o-main-wrapper">
      {% include "cor/includes/casenav.html" %}


      <h1 class="govuk-heading-l"> Documents </h1>

      Documents view here




		</main>
	</div>
{% endblock %}

{% block page_scripts %}
  {% include "cor/includes/global-scripts.html" %}
{% endblock %}
