{% extends "layouts/service/base.html" %}

{% block content %}

  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">


        {{ govukPanel({
          titleText: "Case shared successfully",
          html: data['shared-name']
        }) }}

        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">
          {{data['shared-name']}} will receive an invite to the case.
        </p>

        <p class="govuk-body">
          <a href="/manage-case/case-1">Go back to the case</a>
        </p>


    </main>
  </div>

{% endblock %}