{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage an HMCTS case' %}

{% block content %}
  {{hmctsPrimaryNavigation({
    classes: "govuk-!-margin-bottom-0",
    items: [ {
      text: 'Your cases',
      href: '/ccd-ui/case-list',
      active: true
    },  {
      text: 'Create case',
      href: '/ccd-ui/create-case',
      active: false
    }]
  })}}

  <div class="govuk-width-container">
    <main>
      <a href="./case-details">
        <img src="/public/images/ccd-ui-case-list.png" width="100%">
      </a>
    </main>
  </div>
{% endblock %}
