{% extends "layouts/service/base.html" %}

{% block page_title %}Sign in - Professional case manager{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Case number 123456</span>
          Divorce between John Smith v Amy Smith
        </h1>

        {{ puiAlert(
          {
            "alertText": 'Applied for decree nisi',
            "alertClasses": "jui-alert--success"
          })
        }}

        <h2 class="govuk-heading-l">Todos</h2>
        <ul class="govuk-list">
          <li><a href="#">Upload evidence</a></li>
          <li><a href="#">Make payment</a></li>
        </ul>


        <h2 class="govuk-heading-l">Actions</h2>
        <ul class="govuk-list">
          <li><a href="#">Cancel application</a></li>
          <li><a href="#">Update address</a></li>
          <li><a href="/app/share-case/shared-with">Share case</a></li>
        </ul>

      </div>
    </div>


  </main>

</div>

{% endblock %}