{% extends "divorce/layouts/jui_template.html" %}

{%- block header %}
<header class="jui-c-header" role="banner">
  
  <div class="jui-o-width-container">

    <div class="jui-c-header__service-name">
      <a class="jui-c-header__link" href="/divorce">Judicial UI</a>
    </div>

  </div>

</header>
{% endblock -%}

{%- block footer %}
<footer class="jui-c-footer" role="contentinfo">

  <div class="jui-o-width-container">

    <h2 class="jui-c-footer__heading  govuk-heading-s">Help</h2>

    <ul class="jui-c-footer__list">
      <li>Email: <a href="#">service-desk@hmcts.gov.uk</a></li>
      <li>Phone: 0207 633 4140</li>
      <li><span>Opening times: </span>Monday to Friday, 8am to 6pm (exluding public holidays)</li>
    </ul>

    <hr class="jui-c-divider">

    <ul class="jui-c-footer__list  jui-c-footer__list--inline">
      <li><a href="#">Terms and conditions</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Privacy policy</a></li>
    </ul>

  </div>

</footer>
{% endblock -%}