{% extends "layouts/service/base.html" %}

{% set serviceName = 'Manage your civil and family law cases' %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage your civil and family law cases</h1>

    <p>This service allows people in registered organisations to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>create divorce, financial remedy or probate cases online</li>
        <li>upload documents to progress cases which you created</li>
        <li>check the status of cases created by other people in your organisation</li>
        <li>check your organisation's fee account balances and transactions</li>
      </ul>

    <p>What you can do depends on the permissions you've been given.</p>


    {{ govukButton({
      text: "Start",
      href: "/manage-case-v3/sign-in",
      classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}

    <h2 class="govuk-heading-m">Manage your organisation details</h2>

    <p>If you have permission to <a href="/manage-account-v5/sign-in">manage your organisation details</a> you may be able to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>invite other people to manage their cases online</li>
        <li>check your organisation's fee account balance and transactions</li>
      </ul>

    <p>What you can do depends on the permissions you've been given.</p>

    <h2 class="govuk-heading-m">If you do not have an account</h2>

    <p>Someone in your organisation will be able to invite you, as long as the organisation is registered to manage civil and family law cases.</p>

    <p>Otherwise, you'll need to wait until your organisation has been invited to register by HMCTS.</p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>
{% endblock %}