{% extends "layouts/service/base.html" %}

{% block content %}
<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Register your organisation with HMCTS</h1>

    <h2 class="govuk-heading-l">Before you start</h2>
    <p>To register your organisation with HMCTS you need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to provide your Solicitors Regulation Authority (SRA) number</li>
      <li>be based in England or Wales</li>
      <li>have staff email addresses to create your user's accounts</li>
    </ul>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <form action="/apply/2">
          {{govukButton({
            text: 'Start now',
            classes: 'govuk-button--start'
          })}}
        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}
