{% extends "layouts/service/base.html" %}

{% block content %}
  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/apply/4">

            {{ govukInput({
              label: {
                text: "What's your email address?",
                classes: 'govuk-label--xl',
                isPageHeading: true
              },
              id: "email",
              name: "email",
              type: "email"
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
