{% extends "layouts/service/base.html" %}

{% block content%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register your organisation for HMCTS online services</h1>

    <p class="govuk-body">After you register for HM Courts and Tribunals (HMCTS) online services, you'll be able to set up users who can apply online for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>divorce</li>
      <li>financial remedy</li>
      <li>probate</li>
      <li>civil money claims</li>
    </ul>

    <p class="govuk-body">Users will also be able to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check the status of applications</li>
      <li>update applications - for example to provide additional information</li>
      <li>view a list of their upcoming court appointments</li>
      <li>manage your organisation's HMCTS payment account - if you give them permission</li>
    </ul>

    {{ govukButton({
      text: "Start now",
      href: "/apply/sra-number",
      classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">You can only register if your organisation is regulated by the Solicitors Regulation Authority (SRA). You'll need your SRA number.</p>

    <p class="govuk-body">Registering takes around 5 minutes. We'll contact you within 3 working days, either to confirm your registration or to ask for more information.</p>

    </ul>

  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
<!-- 
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
 -->
  </div>
</div>
{% endblock %}