{% extends "layouts/service/base.html" %}

{% block content %}
  <div class="govuk-width-container">
    {{govukBackLink({
      href: '/apply/org-name'
    })}}
    <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/apply/org-dx">

            {% call govukFieldset({
              legend: {
                text: "What is your organisation's address?",
                classes: "govuk-fieldset__legend--xl",
                isPageHeading: true
              }
            }) %}

              {{ govukInput({
                label: {
                  html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
                },
                id: "address-line-1",
                name: "address-line-1"
              }) }}

              {{ govukInput({
                label: {
                  html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
                },
                id: "address-line-2",
                name: "address-line-2"
              }) }}

              {{ govukInput({
                label: {
                  text: "Town or city"
                },
                classes: "govuk-!-width-two-thirds",
                id: "address-town",
                name: "address-town"
              }) }}

              {{ govukInput({
                label: {
                  text: "County"
                },
                classes: "govuk-!-width-two-thirds",
                id: "address-county",
                name: "address-county"
              }) }}

              {{ govukInput({
                label: {
                  text: "Postcode"
                },
                classes: "govuk-input--width-10",
                id: "address-postcode",
                name: "address-postcode"
              }) }}

            {% endcall %}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
