{% extends "layouts/service/base.html" %}

{% block content %}
  <div class="govuk-width-container">
    {{govukBackLink({
      href: '/apply/sra-number-3'
    })}}
    <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/apply/org-number">

            {{ govukInput({
              label: {
                text: "What's your DX number?",
                classes: 'govuk-label--xl',
                isPageHeading: true
              },
              id: "org-dx",
              name: "org-dx"
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
