{% extends "layouts/service/base.html" %}

{% block content %}
  <div class="govuk-width-container">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/apply/sra-number" method="post">

            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "sra-number-q",
              name: "sra-number-q",
              fieldset: {
                legend: {
                  text: "Does your organisation have a Solicitors Regulation Authority (SRA) number?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
