{% extends "layouts/service/base.html" %}

{% block content %}
  <div class="govuk-width-container">

    {{govukBackLink({
      href: '/apply/sra-number'
    })}}

    <main role="main" class="govuk-main-wrapper">



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/apply/sra-number-3">

            {{ govukInput({
              label: {
                text: "What's your organisation's Solicitors Regulation Authority (SRA) number?",
                classes: 'govuk-label--xl',
                isPageHeading: true
              },
              id: "sra-number",
              name: "sra-number"
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

    </main>
  </div>
{% endblock %}
