{% extends "divorce/layouts/layout.html" %}

{% block page_title %}Judicial UI prototype{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">

      <div class="govuk-o-grid__item  govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">Divorce</h1>

        {{user.name}}

        <h2 class="govuk-heading-m">What type of user are you?</h2>
        
        <ul class="govuk-list  govuk-list--bullet">
        {% for users in users -%}
          <li>I am a <a href="/divorce/load-user/{{users.id}}">{{users.role}}</a></li>
        {% endfor %}
        </ul>

      </div>

    </div>

  </main>

</div>

{% endblock %}
