{% extends "divorce/layouts/layout.html" %}

{% from "divorce/macros/status/macro.njk" import juiStatus %}
{% from "divorce/macros/alert/macro.njk"  import juiAlert %}

{% block page_title %}Judicial UI prototype{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">

      <div class="govuk-o-grid__item  govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">Macros</h1>

        <div class="govuk-!-mb-r5">

          <h2 class="heading-s">Alerts</h2>

          {{ juiAlert(
            {
              "icon": true,
              "iconClasses": "jui-alert__icon--success",
              "iconText": "Success!",
              "alertText": "2 new cases have been assigned to you",
              "alertClasses": "jui-alert--success"
            })
          }}

        </div>

        <div class="govuk-!-mb-r5">

          <h2 class="heading-s">Statuses</h2>

          {{ juiStatus(
            {
              "text": "Urgent",
              "classes": "jui-status--urgent"
            })
          }}

          {{ juiStatus(
            {
              "text": "New",
              "classes": "jui-status--new"
            })
          }}

        </div>

      </div>

    </div>

  </main>

</div>

{% endblock %}
