{% extends "layouts/layout.html" %}

{% set casenavId = "casefile" %}

{% block page_title %}Case file - Judicial UI prototype{% endblock %}

{% block content %}

{% include "v1/includes/casebar.html" %}

<div class="jui-width-container">

  <main class="govuk-o-main-wrapper" role="main">

    {% include "v1/includes/casenav.html" %}

    <h1 class="govuk-heading-l">Case file</h1>

    <div class="jui-casefile">

      <div class="jui-casefile-files">

        <ul class="jui-casefile-list">
          <li><a href="#" aria-current="true">A. Applicant</a>
            <ul>
              <li><a href="#" aria-current="true">Application for decree nisi</a></li>
              <li><a href="#">Petition for divorce</a></li>
              <li><a href="#">Marriage certificate</a></li>
            </ul>
          </li>
          <li><a href="#">B. Respondent</a></li>
        </ul>

      </div>

      <div class="jui-casefile-page">

        <div class="jui-casefile-page-content">

          <div class="jui-casefile-page-head">
            <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
          </div>

          <div class="jui-casefile-page-body">

            <h2 class="govuk-heading-l">Application for decree nisi</h2>

            <p class="govuk-body">David Francis is applying to the court for a decree of divorce from Susan Francis.</p>

            <h4>Issued</h4>
            <p class="govuk-!-mt-r0">16 February 2018</p>

            <h4>Reference number</h4>
            <p class="govuk-!-mt-r0">BV18D00150</p>

            <h4>Applicant</h4>
            <p class="govuk-!-mt-r0">David Francis</p>

            <h4>Respondent</h4>
            <p class="govuk-!-mt-r0">Susan Francis</p>

            <h3 class="govuk-heading-m  govuk-!-mt-r6">About the marriage</h3>

            <h4>Who the marriage is between</h4>
            <p class="govuk-!-mt-r0">David Francis and Susan Francis (as shown on the marriage certificate)</p>

            <h4>Where the marriage took place</h4>
            <p class="govuk-!-mt-r0">This is the place of marriage - regenerated 14/03 v2</p>

            <h4>Date of marriage</h4>
            <p class="govuk-!-mt-r0">1 January 2000</p>

            <h3 class="govuk-heading-m  govuk-!-mt-r6">Why the court can deal with the case (jurisdiction)</h3>

            <p>The applicant and respondent are habitually resident in England and Wales.</p>

            <h4>Other court cases that could affect juristiction</h4>            
            <p class="govuk-!-mt-r0">There are no other ongoing, completed or abandoned court cases related to the marriage, property or children.</p>

          </div>

        </div>

      </div>

    </div>

  </main>

</div>

{% endblock %}