{% extends "v1/layouts/base.html" %}

{% set casenav = "directions" %}

{% block page_title %}
  Directions
{% endblock %}

{% block after_header %}
	{% include "v1/includes/case-header.html" %}
{% endblock %}

{% block content %}
	<div class="jui-o-width-container">
    <main role="main" class="govuk-o-main-wrapper">
      {% include "v1/includes/case-nav.html" %}


      <h1 class="govuk-heading-xl"> Directions </h1>




		</main>
	</div>
{% endblock %}

{% block page_scripts %}
  {% include "v1/includes/global-scripts.html" %}
{% endblock %}
