{% extends "v1/layouts/base.html" %}

{% from "macros/alerts.html" import successAlert %}

{% set casenav = "summary" %}

{% block page_title %}
  Case summary
{% endblock %}

{% block after_header %}
	{% include "v1/includes/case-header.html" %}
{% endblock %}


{% block content %}
  <div class="jui-o-width-container">
    <main role="main" class="govuk-o-main-wrapper">
      {% if success %}

				{% call successAlert() -%}
					Case added to your case list
				{%- endcall %}

			{% endif %}

			{% include "v1/includes/case-nav.html" %}

    	<h1 class="govuk-heading-xl"> Summary </h1>

			<div class="govuk-o-grid">
			  <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
			    {{ govukTable({
        "caption": "Case details",
        "captionSize": 'govuk-!-f-36',
        "firstCellIsHeader": true,
        "rows": [
          [
            {
              "text": "Parties"
            },
            {
              "html": '<a href="/v1/parties">Alan Jones vs DWP</a>'
            }
          ],
          [
            {
              "text": "Case number"
            },
            {
              "text": "SC123/16/12321"
            }
          ],
          [
            {
              "text": "Case type"
            },
            {
              "text": "PIP"
            }
          ],
          [
            {
              "text": "Tribunal centre"
            },
            {
              "text": "Fox Court"
            }
          ],
          [
            {
              "text": "Additional requirements"
            },
            {
              "text": "Hearing loop required"
            }
          ]
        ]
      }) }}
			  </div>
			  <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
			    {{ govukTable({
        "caption": "Panel",
        "captionSize": 'govuk-!-f-36',
        "firstCellIsHeader": true,
        "rows": [
          [
            {
              "text": "Judge"
            },
            {
              "html": 'Prita Shah'
            }
          ],
          [
            {
              "text": "Medical member"
            },
            {
              "text": "Veronica George"
            }
          ],
          [
            {
              "text": "Disability qualified member"
            },
            {
              "text": "Mike Parsens"
            }
          ]
        ]
      }) }}
			  </div>
			</div>

      <h2 class="govuk-heading-l"> Recent events </h2>

    </main>
  </div>
{% endblock%}

{% block page_scripts %}
  {% include "v1/includes/global-scripts.html" %}
{% endblock %}
