{% extends "layouts/layout.html" %}

{% set casenavId = "parties" %}

{% block page_title %}Parties - Judicial UI prototype{% endblock %}

{% block body_start %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block content %}

  {% include "v1/includes/casebar.html" %}

	<div class="jui-width-container">

    <main class="govuk-o-main-wrapper" role="main">

      {% include "v1/includes/casenav.html" %}

      <h1 class="govuk-heading-l">Parties</h1>

				<div class="govuk-tabs">

				<ul class="govuk-tabs__list">
					<li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#petitioner">Petitioner</a></li>
					<li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#respondent">Respondent</a></li>
				</ul>

				<section class="govuk-tabs__panel  js-hidden" id="petitioner">

					<div class="govuk-o-grid">

						<div class="govuk-o-grid__item  govuk-o-grid__item--one-half">

							<h2 class="gov-heading-s  govuk-!-mb-r2  govuk-!-mt-r6">Petitioner</h2>

							{{ govukTable({
								"classes": 'govuk-!-f-16',
								"firstCellIsHeader": true,
								"rows": [
									[
										{"text": "Full name"},
										{"text": "David Francis"}
									],
									[
										{"text": "Date of birth"},
										{"text": "7 June 1981"}
									],
									[
										{"text": "Address"},
										{"html": '24 Park Road<br>Lewisham<br>London<br>E11 4PR'}
									],
									[
										{"text": "Phone"},
										{"text": '07787 557 967'}
									],
									[
										{"text": "Email"},
										{"text": 'david.francis@gmail.com'}
									],
									[
										{"text": "Representative"},
										{"text": 'Unrepresented'}
									]
								]
							}) }}

						</div>

					</div>

				</section>

				<section class="govuk-tabs__panel  js-hidden" id="respondent">

					<div class="govuk-o-grid">

						<div class="govuk-o-grid__item  govuk-o-grid__item--one-half">

							<h2 class="gov-heading-s  govuk-!-mb-r2  govuk-!-mt-r6">Respondent</h2>

							{{ govukTable({
								"classes": 'govuk-!-f-16',
								"firstCellIsHeader": true,
								"rows": [
									[
										{"text": "Full name"},
										{"text": "Susan Francis"}
									],
									[
										{"text": "Date of birth"},
										{"text": "16 April 1979"}
									],
									[
										{"text": "Address"},
										{"html": '89 London Road<br>Hinckley<br>London<br>LE10 1HH'}
									],
									[
										{"text": "Phone"},
										{"text": '07700 900 772'}
									],
									[
										{"text": "Email"},
										{"text": 'susan.francis@gmail.com'}
									],
									[
										{"text": "Representative"},
										{"text": 'Unrepresented'}
									]
								]
							}) }}

						</div>

					</div>

				</section>

			</div>

		</main>

	</div>

{% endblock %}

{% block page_scripts %}
	{% include "includes/scripts.html" %}
  <script>
    if(Tabs) {
      new Tabs($('.govuk-tabs'));
    } else {
      $('.govuk-tabs .js-hidden').removeClass('js-hidden');
      $('.js-tabs-enabled').removeClass('js-tabs-enabled');
    }
  </script>
{% endblock %}