{% extends "v1/layouts/base.html" %}

{% set casenav = "parties" %}

{% block page_title %}
  Parties
{% endblock %}

{% block after_header %}
	{% include "v1/includes/case-header.html" %}
{% endblock %}

{% block content %}
	<div class="jui-o-width-container">
    <main role="main" class="govuk-o-main-wrapper">
      {% include "v1/includes/case-nav.html" %}


      <h1 class="govuk-heading-xl"> Parties </h1>

			<div class="govuk-o-grid">
			  <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
			    {{ govukTable({
		        "caption": "Appellant",
		        "captionSize": 'govuk-!-f-36',
		        "firstCellIsHeader": true,
		        "rows": [
		          [
		            {
		              "text": "Name"
		            },
		            {
		              "text": 'Alan Jones'
		            }
		          ],
		          [
		            {
		              "text": "Date of birth"
		            },
		            {
		              "text": '07 June 1981'
		            }
		          ],
		          [
		            {
		              "text": "National Insurance number"
		            },
		            {
		              "text": 'JT 03 70 79 D'
		            }
		          ],
		          [
		            {
		              "text": "Address"
		            },
		            {
		              "html": '24 Park Road<br>
		              Lewisham<br>
		              London<br>
		              E11 4PR'
		           	}
		          ],
		          [
		            {
		              "text": "Phone"
		            },
		            {
		              "text": '07787 557967'
		           	}
		          ],
		          [
		            {
		              "text": "Email"
		            },
		            {
		              "text": 'ajones@gmail.com'
		           	}
		          ],
		          [
		            {
		              "text": "Representative"
		            },
		            {
		              "text": 'None'
		           	}
		          ],
		          [
		            {
		              "text": "Considerations"
		            },
		            {
		              "text": 'Needs hearing loop'
		           	}
		          ]
		        ]
		      }) }}
			  </div>
			  <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
			    {{ govukTable({
		        "caption": "Respondent",
		        "captionSize": 'govuk-!-f-36',
		        "firstCellIsHeader": true,
		        "rows": [
		        	[
		            {
									'text': 'Name'
								},
								{
									'text': 'Department for Work and Pensions'
								}
		          ],
		          [
		            {
									'text': 'Decision maker'
								},
								{
									'text': 'Denise Okenwe'
								}
		          ],
		          [
								{
									'text': 'Presenting officer'
								},
								{
									'text': 'Claire Potter'
								}
		          ],
		          [
								{
									'text': 'DWP office'
								},
								{
									'text': '3'
								}
		          ],
		          [
								{
									'text': 'Email'
								},
								{
									'text': 'dwp@dwp.com'
								}
		          ],
		          [
								{
									'text': 'Phone'
								},
								{
									'text': '01838 787 637'
								}
		          ]
		        ]
		      }) }}
			  </div>
			</div>
		</main>
	</div>
{% endblock %}

{% block page_scripts %}
  {% include "v1/includes/global-scripts.html" %}
{% endblock %}
