{% extends "./layout.html" %}

{% set serviceName = 'Manage organisation details for civil and family law cases' %}

{% block header %}
{{hmctsHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/manage-admin-i3/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Organisation',
    href: '/manage-admin-i3',
    active: true
  }, {
    text: 'Users',
    href: '/manage-admin-i3/users',
    active: false
  }]

})}}
{% endblock %}

{% set primaryNavId = 'accessibility' %}

{% block page_title %}Accessibility{% endblock %}

{% block preContent %}
  {% include "./includes/phase-banner.html" %}
{% endblock %}

{% block mainContent %}
  {% include "includes/accessibility.html" %}
{% endblock %}