{% extends "layouts/admin/base.html" %}

{% set pageID = "Dashboard" %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

{{puiPrimaryNav({ items: [{ href: '/app/dashboard', label: 'Cases', active: true }, { href: '/app/dashboard/appointments', label: 'Appointments' }]})}}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    <h1 class="govuk-heading-l">Your organisation's cases</h1>

<a href="/app/dashboard">View only your own cases</a><br><br>

<table class="govuk-table">
<!--   <caption class="govuk-table__caption">Your organisation's cases</caption>
 -->  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Reference</th>
      <th class="govuk-table__header" scope="col">Parties</th>
      <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header" scope="col">Solicitor</th>
      <th class="govuk-table__header" scope="col">Last updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-3002992</a></th>
      <td class="govuk-table__cell ">John Smith v Jane Smith</td>
      <td class="govuk-table__cell ">Financial remedy</td>
      <td class="govuk-table__cell ">Awaiting payment</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">3 August 2018 at 4:48pm</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">DJ-5544231</a></th>
      <td class="govuk-table__cell ">Gregory Fox</td>
      <td class="govuk-table__cell ">Probate</td>
      <td class="govuk-table__cell ">Application created</td>
      <td class="govuk-table__cell ">David Jones</td>
      <td class="govuk-table__cell ">3 August 2018 at 2:01pm</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-3301900</a></th>
      <td class="govuk-table__cell ">Warren Sutton</td>
      <td class="govuk-table__cell ">Probate</td>
      <td class="govuk-table__cell ">Awaiting documentation</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">3 August at 10:03am</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">DJ-133652</a></th>
      <td class="govuk-table__cell ">Carlos Fisk v Jill Fisk</td>
      <td class="govuk-table__cell ">Financial remedy</td>
      <td class="govuk-table__cell ">Application drafted</td>
      <td class="govuk-table__cell ">David Jones</td>
      <td class="govuk-table__cell ">2 August 2018 at 12:42pm</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-5918392</a></th>
      <td class="govuk-table__cell ">Alan Jones</td>
      <td class="govuk-table__cell ">Probate</td>
      <td class="govuk-table__cell ">Examining</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">1 August 2018 at 11:05am</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-6692638</a></th>
      <td class="govuk-table__cell ">David Francis v Susan Francis</td>
      <td class="govuk-table__cell ">Divorce</td>
      <td class="govuk-table__cell ">Petition paid and submitted</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">26 July 2018 at 4:22pm</td>
    </tr>
       </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">DJ-5543621</a></th>
      <td class="govuk-table__cell ">Violet Smith v Alan Smith</td>
      <td class="govuk-table__cell ">Divorce</td>
      <td class="govuk-table__cell ">Petition awaiting online payment</td>
      <td class="govuk-table__cell ">David Jones</td>
      <td class="govuk-table__cell ">27 July 2018 at 1:32pm</td>
    </tr>
         <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">DJ-3342441</a></th>
      <td class="govuk-table__cell ">Cheryl Holt v John Holt</td>
      <td class="govuk-table__cell ">Financial remedy</td>
      <td class="govuk-table__cell ">Awaiting payment</td>
      <td class="govuk-table__cell ">David Jones</td>
      <td class="govuk-table__cell ">26 July 2018 at 3:10pm</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-9772973</a></th>
      <td class="govuk-table__cell ">John Smith v Jane Smith</td>
      <td class="govuk-table__cell ">Divorce</td>
      <td class="govuk-table__cell ">Petition issued</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">25 July 2018 at 3:10pm</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-2235572</a></th>
      <td class="govuk-table__cell ">Sally Lane v James Lane</td>
      <td class="govuk-table__cell ">Divorce</td>
      <td class="govuk-table__cell ">Awaiting help with fees decision</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">23 July 2018 at 2:02pm</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-1002998</a></th>
      <td class="govuk-table__cell ">Damien Salmon v Patricia Salmon</td>
      <td class="govuk-table__cell ">Financial remedy</td>
      <td class="govuk-table__cell ">Consent order approved</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">20 July 2018 at 10:33am</td>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">DJ-133652</a></th>
      <td class="govuk-table__cell ">Timothy Greenway</td>
      <td class="govuk-table__cell ">Probate</td>
      <td class="govuk-table__cell ">Ready for examination</td>
      <td class="govuk-table__cell ">David Jones</td>
      <td class="govuk-table__cell ">20 July 2018 at 9:01am</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">DJ-133652</a></th>
      <td class="govuk-table__cell ">Adam Kowalski v Agata Kowalski</td>
      <td class="govuk-table__cell ">Divorce</td>
      <td class="govuk-table__cell ">Statement of truth, pay and submit required</td>
      <td class="govuk-table__cell ">David Jones</td>
      <td class="govuk-table__cell ">19 July 2018 at 6:10pm</td>
    </tr>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-6636271</a></th>
      <td class="govuk-table__cell ">Sarah Kinnear</td>
      <td class="govuk-table__cell ">Probate</td>
      <td class="govuk-table__cell ">Stopped</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">19 July 2018 at 3:10pm</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-9772973</a></th>
      <td class="govuk-table__cell ">Rukhsana Khan v Ali Khan</td>
      <td class="govuk-table__cell ">Divorce</td>
      <td class="govuk-table__cell ">Case created and awaiting action by the petitioner</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">17 July 2018 at 5:56pm</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">KM-9772973</a></th>
      <td class="govuk-table__cell ">Kieran Flick</td>
      <td class="govuk-table__cell ">Probate</td>
      <td class="govuk-table__cell ">Grant issued</td>
      <td class="govuk-table__cell ">Kerry Miles</td>
      <td class="govuk-table__cell ">23 April 2018 at 11:43am</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">DJ-2988727</a></th>
      <td class="govuk-table__cell ">Francesca Dove</td>
      <td class="govuk-table__cell ">Probate</td>
      <td class="govuk-table__cell ">Stopped</td>
      <td class="govuk-table__cell ">David Jones</td>
      <td class="govuk-table__cell ">2 March 2018 at 3pm</td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">DJ-2261788</a></th>
      <td class="govuk-table__cell ">Graham Edgar v Katherine Edgar</td>
      <td class="govuk-table__cell ">Divorce</td>
      <td class="govuk-table__cell ">Case created and awaiting action by the petitioner</td>
      <td class="govuk-table__cell ">David Jones</td>
      <td class="govuk-table__cell ">28 December 2017 at 3:27pm</td>
    </tr>

  </tbody>
</table>

  </main>

</div>

{% endblock %}