{% extends "layouts/admin/base.html" %}

{% set pageID = "Dashboard" %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

{{puiPrimaryNav({ items: [{
  active: true,
  href: '/path',
  label: 'Cases'
}, {
  href: '/path',
  label: 'Appointments'
}]})}}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    <h1 class="govuk-heading-l">Dashboard</h1>

    {{ govukTable({
        "classes": "govuk-!-f-16",
        "caption": "Your cases",
        "captionClasses": "govuk-heading-m",
        "firstCellIsHeader": true,
        "head": [
          {"text": "Case number"},
          {"text": "Parties"},
          {"text": "Type"},
          {"text": "Status"},
          {"text": "Start date"},
          {"text": "Date of last event"}
        ],
        "rows": caseList
      }) }}

  </main>

</div>

{% endblock %}