{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage organisation details for civil and family court cases' %}

{% block header %}
{{hmctsGlobalHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/manage-account-v5/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Organisation',
    href: '/manage-account-v5',
    active: true
  }, {
    text: 'Users',
    href: '/manage-account-v5/users',
    active: false
  },
  {
    text: 'Fee accounts',
    href: '/manage-account-v5/payments',
    active: false
  }]
})}}

{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">


    <h1 class="govuk-heading-xl">Organisation</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {{ govukTable({
            firstCellIsHeader: true,
            rows: [
              [
                {
                  text: "Name"
                },
                {
                  text: "West Berkshire Council"
                },
                {
                  html: ''
                }
              ],
              [
                {
                  text: "Address"
                },
                {
                  html: "Market Street<br>Newbury<br>RG14 5LD"
                },
                {
                  html: ''
                }
              ]
            ]
          }) }}


          <!-- <ul class="govuk-list">
            <li><a href="./access">Manage organisation access</a></li>
          </ul> -->




        <!--<h2 class="govuk-heading-l">Organisation</h2>

        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: "Name"
              },
              {
                text: "Sherwin Davis"
              },
              {
                html: '<a href="/">Change</a>'
              }
            ],
            [
              {
                text: "Address 1"
              },
              {
                html: "31 High Street<br>Norwich<br>NR2 8GG"
              },
              {
                html: '<a href="/">Change</a>'
              }
            ],
            [
              {
                text: "Address 2"
              },
              {
                html: "3 Trickle Street<br>Borehamwood<br>H1 8GG"
              },
              {
                html: '<a href="/">Change</a>'
              }
            ]
          ]
        }) }}


        <ul class="govuk-list">
          <li><a href="./access">Manage organisation access</a></li>
          <li><a href="./addresses">Add a new address</a></li>
        </ul>-->

      </div>
    </div>




  </main>

</div>

{% endblock %}