<div class="jui-casebar">

  <div class="jui-width-container">

    <div class="jui-casebar__details">
      {{casebar.id}}<span class="jui-casebar__title"> {{casebar.parties}}</span>
    </div>

    <div class="jui-casebar__options">

      <nav class="jui-caseactionsmenu">

        <button class="jui-caseactionsmenu__toggle" aria-haspopup="true" aria-expanded="false">Case actions</button>

        <ul class="jui-caseactionsmenu__list js-hidden">
          <li class="jui-caseactionsmenu__item"><a class="jui-caseactionsmenu__link" href="/v1/case/{{casenav.id}}/make-decision">Make decision</a></li>
          <li class="jui-caseactionsmenu__item"><a class="jui-caseactionsmenu__link" href="#">Mark as prepared</a></li>
          <li class="jui-caseactionsmenu__item"><a class="jui-caseactionsmenu__link" href="#">Reassign</a></li>
        </ul>

      </nav>

    </div>

  </div>

</div>