<div class="case-header">
	<div class="case-header__wrapper jui-o-width-container">
	  <div class="case-header__title">
	  	SC123/16/12321 <span class="case-header__parties">Alan Jones vs DWP</span>
	  </div>
	  <div class="case-header__actions">
			<div class="menu">
				<div role="menu">
					<input type="submit" name="delete" value="Make decision" role="menuitem"> 
					<input type="submit" name="archive" value="Mark as prepared" role="menuitem"> 
					<input type="submit" name="spam" value="Reassign" role="menuitem"> 
				</div>
			</div>
	  </div>
	</div>
</div>