<nav class="case-nav">
  <ul>
    <li><a class="{{ "active" if casenav == 'summary' }}" href="/v1/case">Summary</a></li>
    <li><a class="{{ "active" if casenav == 'parties' }}" href="/v1/case/parties">Parties</a></li>
    <li><a class="{{ "active" if casenav == 'casefile' }}" href="/v1/case/">Case file</a></li>
    <li><a class="{{ "active" if casenav == 'questions' }}" href="/v1/case/">Questions</a></li>
    <li><a class="{{ "active" if casenav == 'directions' }}" href="/v1/case/directions">Directions</a></li>
    <li><a class="{{ "active" if casenav == 'notes' }}" href="/v1/case/">Notes</a></li>
    <li><a class="{{ "active" if casenav == 'timeline' }}" href="/v1/case/">Timeline</a></li>
    <li><a class="{{ "active" if casenav == 'casecomms' }}" href="/v1/case/">Case comms.</a></li>
  </ul>
</nav> 