/* ==========================================================================
   #TIMELINE
   ========================================================================== */

.jui-timeline__item {
  border: 1px solid $govuk-border-colour;
  position: relative;
  width: 100%;

  // Only supported in IE9+ (we need to decide what browsers were supporting)
  &:not(:first-child) {
    margin-top: $govuk-spacing-scale-4;

    &:before {
      background-color: $govuk-border-colour;
      content: "";
      display: block;
      height: 20px;
      position: absolute; left: 9px; top: -21px;
      width: 1px;
    }

  }

}


.jui-timeline__header {
  background-color: $govuk-grey-4;
  border-bottom: 1px solid $govuk-border-colour;
  padding: $govuk-spacing-scale-2;
}


.jui-timeline__content {
  padding: $govuk-spacing-scale-2;
}


.jui-timeline__event {
  position: relative;

  &:not(:first-child) {
    margin-top: $govuk-spacing-scale-2;
  }

}


.jui-timeline__title {
  @include govuk-font-bold-16;
  display: inline-block;
}


.jui-timeline__meta {
  display: inline-block;
  margin: 0;
}


.jui-timeline__meta-added {
  color: $govuk-secondary-text-colour;
  position: absolute; 
  right: 0; 
  top: 0;
}