{% extends "layouts/admin/base.html" %}

{% set pageId = 'users' %}

{% block content %}

  {% include 'includes/primary-nav.html' %}

  <div class="govuk-width-container">
    {{govukBackLink({
      href: '/app/account/users'
    })}}
    <main role="main" class="govuk-main-wrapper">

      <h1 class="govuk-heading-xl">Approve users</h1>

      {{ hmctsAlert(
        {
          "icon": true,
          "iconClasses": "jui-alert__icon--success",
          "iconText": "Success!",
          "alertText": 'Successfully approved John Smith.',
          "alertClasses": "jui-alert--success"
        })
      }}

      {{ govukTable({
        head: [
          {
            text: "Name"
          },
          {
            text: "Email address"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            {
              html: 'Stephanie Black'
            },
            {
              text: "s.black@org.com"
            },
            {
              html: '<a href="/app/account/users/approve-user">Approve</a>&nbsp;&nbsp;&nbsp;<a href="/app/account/users/approve-user">Delete</a>'
            }
          ],
          [
            {
              html: 'Judith Robinson'
            },
            {
              text: "judith.robinson@org.com"
            },
            {
              html: '<a href="/app/account/users/approve-user">Approve</a>&nbsp;&nbsp;&nbsp;<a href="/app/account/users/approve-user">Delete</a>'
            }
          ]
        ]
      }) }}



    </main>
  </div>

{% endblock %}