{% extends "layouts/admin/base.html" %}

{% set pageId = 'users' %}

{% block content %}

  {% include 'includes/primary-nav.html' %}

  <div class="govuk-width-container">
    {{govukBackLink({
      href: '/app/account/users'
    })}}
    <main role="main" class="govuk-main-wrapper">

      <h1 class="govuk-heading-xl">Approve users</h1>

      {{ govukTable({
        head: [
          {
            text: "Name"
          },
          {
            text: "Email address"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            {
              html: 'John Smith'
            },
            {
              text: "john.smith@sherwindavis.co.uk"
            },
            {
              html: '<a href="/app/account/users/approve-1">Approve</a>&nbsp;&nbsp;&nbsp;<a href="/app/account/users/approve-user">Delete</a>'
            }
          ],
          [
            {
              html: 'Stephanie Black'
            },
            {
              text: "stephanie.black@sherwindavis.co.uk"
            },
            {
              html: '<a href="/app/account/users/approve-user">Approve</a>&nbsp;&nbsp;&nbsp;<a href="/app/account/users/approve-user">Delete</a>'
            }
          ],
          [
            {
              html: 'Judith Robinson'
            },
            {
              text: "judith.robinson@sherwindavis.co.uk"
            },
            {
              html: '<a href="/app/account/users/approve-user">Approve</a>&nbsp;&nbsp;&nbsp;<a href="/app/account/users/approve-user">Delete</a>'
            }
          ]
        ]
      }) }}



    </main>
  </div>

{% endblock %}