{% extends "layouts/admin/base.html" %}

{% set pageId = 'users' %}

{% block content %}

  {% include 'includes/primary-nav.html' %}

  <div class="govuk-width-container">
    {% include 'includes/account-sub-nav.html' %}
    <main role="main" class="govuk-main-wrapper">

      <h1 class="govuk-heading-xl">Users</h1>

      <p>You have 5 users not active.</p>


      {{govukButton({
        text: 'Invite user',
        href: '/app/account/users/new'
      })}}

      {{ govukTable({
        head: [
          {
            text: "Name"
          },
          {
            text: "Email address"
          },
          {
            text: "Manage users"
          },
          {
            text: "Manage payment"
          },
          {
            text: "Manage organisation"
          },
          {
            text: "Approved"
          }
        ],
        rows: [
          [
            {
              html: '<a href="">Joseph King</a>'
            },
            {
              text: "j.king@org.com"
            },
            {
              text: "Yes"
            },
            {
              text: "No"
            },
            {
              text: "Yes"
            },
            {
              text: "No"
            }
          ],
          [
            {
              html: '<a href="/">Stephanie Black</a>'
            },
            {
              text: "s.black@org.com"
            },
            {
              text: "No"
            },
            {
              text: "No"
            },
            {
              text: "No"
            },
            {
              text: "Yes"
            }
          ]
        ]
      }) }}



    </main>
  </div>

{% endblock %}