{% extends "layouts/admin/base.html" %}

{% set pageId = 'users' %}

{% block content %}

  {% include 'includes/primary-nav.html' %}

  <div class="govuk-width-container">
    {% include 'includes/account-sub-nav.html' %}
    <main role="main" class="govuk-main-wrapper">
        <div class="pui-case-action-alert">
            <h2 class="pui-case-action-alert__heading">You need to approve 3 new users</h2>
            <div class="pui-case-action-alert__content">
              <p><a class="pui-case-action-alert__link" href="/app/account/users/approve-users">Approve users</a></p>
            </div>
          </div>


        <h1 class="govuk-heading-xl">Users</h1>

      <!-- <p>You need to <a href="/app/account/users/approve-users">approve 3 users</a>.</p> -->


      {{govukButton({
        text: 'Invite user',
        href: '/app/account/users/new'
      })}}

      {{ govukTable({
        head: [
          {
            text: "Name"
          },
          {
            text: "Email address"
          },
          {
            text: "Manage users"
          },
          {
            text: "Manage payment"
          },
          {
            text: "Manage organisation"
          }
        ],
        rows: [
          [
            {
              html: '<a href="">David Jones</a>'
            },
            {
              text: "david.jones@sherwindavis.co.uk"
            },
            {
              text: "Yes"
            },
            {
              text: "No"
            },
            {
              text: "Yes"
            }
          ],
          [
            {
              html: '<a href="/">Kerry Miles</a>'
            },
            {
              text: "kerry.miles@sherwindavis.co.uk"
            },
            {
              text: "No"
            },
            {
              text: "No"
            },
            {
              text: "No"
            }
          ]
        ]
      }) }}



    </main>
  </div>

{% endblock %}