{% extends "layouts/admin/base.html" %}

{% set pageId = 'users' %}

{% block content %}

  {% include 'includes/primary-nav.html' %}

  <div class="govuk-width-container">
    {{govukBackLink({
      href: '/app/account/users'
    })}}
    <main role="main" class="govuk-main-wrapper">

      <h1 class="govuk-heading-xl">Invite user</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form>
            {{ govukInput({
              label: {
                text: "Email address",
                classes: 'govuk-label--m'
              },
              hint: {
                text: "We'll send the user a link so they can finish setting up their account."
              },
              id: "email",
              name: "email"
            }) }}

            {{ govukCheckboxes({
              idPrefix: "permissions",
              name: "permissions",
              fieldset: {
                legend: {
                  text: "Permissions",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "All users can submit applications and view applications made by other users. You can also give them additional permissions."
              },
              items: [
                {
                  value: "users",
                  text: "Manage users - invite, approve and delete users; change permissions"
                },
                {
                  value: "org",
                  text: "Manage organisation - view and edit details"
                },
                {
                  value: "payment",
                  text: "Manage payment - view payments; add and delete accounts"
                }                
              ]
            }) }}

            {{govukButton({
              text: 'Send invitation'
            })}}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}