{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage organisation account' %}

{% set pageId = 'users' %}

{% block content %}
  {{hmctsPrimaryNavigation({ classes: "govuk-!-margin-bottom-0",
    items: [{
      text: 'Organisation',
      href: '/manage-account-v2/',
      active: false
    }, {
      text: 'Users',
      href: '/manage-account-v2/users',
      active: true
    },
    {
      text: 'Payments',
      href: '/manage-account-v2/payments',
      active: false
    }]
  })}}
  <div class="govuk-width-container">

    <main role="main" class="govuk-main-wrapper">




      <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
          <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
            {{govukButton({
              text: 'Invite user',
              href: '/manage-account-v2/users/new',
              classes: 'hmcts-page-heading__button'
            })}}
        </div>
      </div>

      {{ govukTable({
        head: [
          {
            text: "Name of user"
          },
          {
            text: "Email address"
          },
          {
            text: "Manage cases"
          },
          {
            text: "Manage organisation"
          },
          {
            text: "Manage users"
          },
          {
            text: "Manage payment"
          }
        ],
        rows: [
          [
            {
              html: '<a href="">David Jones</a>'
            },
            {
              text: "djones@sherwindavis.co.uk"
            },
            {
              text: "No"
            },
            {
              text: "Yes"
            },
            {
              text: "Yes"
            },
            {
              text: "No"
            }
          ],
          [
            {
              html: '<a href="">Sue Potts</a>'
            },
            {
              text: "spotts@sherwindavis.co.uk"
            },
            {
              text: "No"
            },
            {
              text: "No"
            },
            {
              text: "No"
            },
            {
              text: "Yes"
            }
          ],
          [
            {
              html: '<a href="/">Kerry Miles</a>'
            },
            {
              text: "kmiles@sherwindavis.co.uk"
            },
            {
              text: "Yes"
            },
            {
              text: "No"
            },
            {
              text: "No"
            },
            {
              text: "No"
            }
          ]
        ]
      }) }}



    </main>
  </div>

{% endblock %}