{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage account' %}

{% set pageId = 'users' %}

{% block content %}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Profile',
    href: '/manage-account-v2',
    active: false
  },  {
    text: 'Organisation',
    href: '/manage-account-v2/organisation',
    active: false
  }, {
    text: 'Users',
    href: '/manage-account-v2/users',
    active: true
  },
  {
    text: 'Payments',
    href: '/manage-account-v2/payments',
    active: false
  }]
})}}
  <div class="govuk-width-container">

    <main role="main" class="govuk-main-wrapper">




      <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
          <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
            {{govukButton({
              text: 'Invite users',
              href: '/manage-account-v2/users/new',
              classes: 'hmcts-page-heading__button'
            })}}
        </div>
      </div>



      {{ govukTable({
        head: [
          {
            text: "Email address"
          },
          {
            text: "Manage cases"
          },
          {
            text: "Manage organisation"
          },
          {
            text: "Manage users"
          },
          {
            text: "Manage payment"
          },
          {
            text: "Status"
          }
        ],
        rows: rows
      }) }}



    </main>
  </div>

{% endblock %}