{% extends "oct-2020/manage-organisation/layout.html" %}
{% set serviceName = 'Manage Cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Manage Cases</a>
    </div>
</header>
{% endblock %}
{% block content%}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'serviceaddress'
    })}}

    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" style="width: 620px">

                <h1 class="govuk-heading-l">
                    Consent Order Application
                </h1>


            <h3 class="govuk-heading-s govuk-!-margin-top-7 govuk-!-margin-bottom-4">DIVORCE DETAILS</h3>


            <div class="govuk-form-group">
                <label class="govuk-label" for="divorcecasenumber" style="font-size:18px;">
                    Divorce Case Number
                </label>
                <div id="divorcecasenumber-hint" class="govuk-hint" style=" font-size:16px;">
                    Enter 10 character alphanumeric divorce case number
                </div>
                <input class="govuk-input " id="divorcecasenumber" name="divorcecasenumber" type="text" style="border: solid 1px; height:32px; font-size:18px;">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="divorcecasenumber" style="font-size:18px;">
                    Your reference
                </label>
                <input class="govuk-input " id="divorcecasenumber" name="divorcecasenumber" type="text" style="border: solid 1px; height:32px; font-size:18px;">
            </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="divorcestage" style="font-size:18px;">
                    What stage has the divorce reached ?
                </label>
                <div id="divorcestage-hint" class="govuk-hint" style=" font-size:16px;">
                    To ensure the application is linked to the divorce file without delay, please upload a copy of the decree [nisi] [absolute]
                </div>
                <select class="govuk-select" id="sort" name="sort" style="width:617px; height:34px; font-size: 1.05rem;  border: 1px solid #0b0c0c;">
                    <option value="0: null">--Select a value--</option>
                    <option value="1: Petition Issued">Petition Issued</option>
                    <option value="2: Decree Absolute">Decree Absolute</option>
                    <option value="3: Decree Nisi">Decree Nisi</option>
                </select>
            </div>



        <div class="govuk-form-group">
            <div  class="form-group form-group-related">
                <form
                    action="/oct-2020/manage-case/searchaddress/fr4"
                    name="aspnetForm"
                    method="post"
                    id="aspnetForm"
                    autocomplete="off">

                    <a  class="govuk-button govuk-button--secondary" href="serviceaddress"   style=" font-size: 1.05rem;">Previous</a>
                    <button  class="govuk-button" type="submit" style=" font-size: 1.05rem;">Continue</button>
                </form>
            </div>


        </div>

            </div>
        </div>
    </main>
</div>
{% endblock %}