{% extends "oct-2020/manage-organisation/layout.html" %}
{% set serviceName = 'Manage Cases' %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Manage Cases</a>
    </div>
</header>
{% endblock %}
{% block content%}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'fr3'
    })}}

    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" style="width: 620px">

                <h1 class="govuk-heading-l">
                    Consent Order Application
                </h1>


            <h3 class="govuk-heading-s govuk-!-margin-top-7 govuk-!-margin-bottom-4">APPLICANT DETAILS</h3>


            <div class="govuk-form-group">
                <label class="govuk-label" for="names" style="font-size:18px;">
                    Current First and Middle names
                </label>
                <input class="govuk-input " id="names" name="names" type="text" style="border: solid 1px; height:32px; font-size:18px;">
            </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="lastname" style="font-size:18px;">
                    Current Last Name
                </label>
                <input class="govuk-input " id="lastname" name="lastname" type="text" style="border: solid 1px; height:32px; font-size:18px;">
            </div>



            <div class="govuk-form-group">
                <label class="govuk-label" for="divorcestage" style="font-size:18px;">
                    Please choose the Region in which the Applicant resides
                </label>
                <select class="govuk-select" id="sort" name="sort" style="width:617px; height:34px; font-size: 1.05rem;  border: 1px solid #0b0c0c;">
                    <option value="0: null">--Select a value--</option><!---->
                    <option value="1: wales">Wales</option>
                    <option value="2: southwest">South West</option>
                    <option value="3: southeast">South East</option>
                    <option value="4: northeast">North East</option>
                    <option value="5: northwest">North West</option>
                    <option value="6: london">London</option>
                    <option value="7: midlands">Midlands</option>
                </select>
            </div>


        <div class="govuk-form-group">
            <div  class="form-group form-group-related">
                <form
                    action="/oct-2020/manage-case/searchaddress/respondent"
                    name="aspnetForm"
                    method="post"
                    id="aspnetForm"
                    autocomplete="off">

                    <a  class="govuk-button govuk-button--secondary" href="fr3"   style=" font-size: 1.05rem;">Previous</a>
                    <button  class="govuk-button" type="submit" style=" font-size: 1.05rem;">Continue</button>
                </form>
            </div>


        </div>

            </div>
        </div>
    </main>
</div>
{% endblock %}