{% extends "layouts/admin/base.html" %}

{% set casenavId = "summary" %}

{% block page_title %}Case summary - Continous Online Resolution{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    {% include "includes/casenav.html" %}

    <h1 class="govuk-heading-l">Summary</h1>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Case details</h2>

        {{ govukTable({
          "classes": "govuk-!-f-16  govuk-!-mb-r7",
          "firstCellIsHeader": true,
          "rows": detailsRows
        }) }}

      </div>

      <div class="govuk-grid-column-one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Representatives</h2>

        {{ govukTable({
          "classes": "govuk-!-f-16  govuk-!-mb-r7",
          "firstCellIsHeader": true,
          "rows": [
            [
              {"text": "Judge"},
              {"text": "Prita Shah"}
            ],
            [
              {"text": "Medical member"},
              {"text": "Veronica George"}
            ],
            [
              {"text": "Disability qualified member"},
              {"text": "Mike Parsens"}
            ]
          ]
        }) }}

      </div>

    </div>

    {{juiTimeline({
      "events": [
        {
          "title": "DWP response recieved",
          "by": "DWP",
          "time": "2:45pm",
          "timeISO": "2018-02-18T14:45",
          "date": "18 Feb 2018",
          "dateISO": "2018-02-18"
        }, 
        {
          "title": "Appeal lodged",
          "by": "Appellant",
          "time": "11:17am",
          "timeISO": "2018-02-17T11:17",
          "date": "17 Feb 2018",
          "dateISO": "2018-02-17"
        }, 
        {
          "title": "MRN issued",
          "by": "DWP",
          "time": "12:53pm",
          "timeISO": "2018-02-02T12:53",
          "date": "2 Feb 2018",
          "dateISO": "2018-02-02"
        }
      ]
    })}}

  </main>

</div>

{% endblock%}