{% extends "layouts/admin/base.html" %}

{% set casenavId = "summary" %}

{% block page_title %}Case summary - Continous Online Resolution{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    {% include "includes/casenav.html" %}

    <h1 class="govuk-heading-l">Summary</h1>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Case details</h2>

        {{ govukTable({
          "classes": "govuk-!-f-16  govuk-!-mb-r7",
          "firstCellIsHeader": true,
          "rows": detailsRows
        }) }}

      </div>

      <div class="govuk-grid-column-one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Panel members</h2>

        {{ govukTable({
          "classes": "govuk-!-f-16  govuk-!-mb-r7",
          "firstCellIsHeader": true,
          "rows": [
            [
              {
                "text": "Judge"
              },
              {
                "html": 'Prita Shah'
              }
            ],
            [
              {
                "text": "Medical member"
              },
              {
                "text": "Veronica George"
              }
            ],
            [
              {
                "text": "Disability qualified member"
              },
              {
                "text": "Mike Parsens"
              }
            ]
          ]
        }) }}
      </div>

    </div>

  </main>

</div>

{% endblock%}