<html lang="en" class="govuk-template ">

<head>

    <meta charset="utf-8">
    <title>Case details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

    <link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css">

    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

</head>

<body class="govuk-template__body  js-enabled">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <header class="hmcts-header" role="banner">

        <div style=" max-width:1200px; margin: 0 auto;">

                <div style="max-width:1300px;  min-width:1300px;   margin: 0px 0px 0px 30px; display: flex; justify-content: center;">

                    <div style="width: 406px; ">
                        <a style="color: white; font-size: 24px; font-weight: bold; text-decoration: none;" href="#">Manage data and organisation approvals</a>
                    </div>

                    <div style="display: flex; flex-grow: 1;">
                    </div>

                    <div class="hmcts-header__container" style="">

                        <div class="hmcts-header__logo">
                            <a class="hmcts-header__link" href="#" aria-current="page"></a>
                        </div>

                        <div class="hmcts-header__content">
                            <nav class="hmcts-header__navigation" aria-label="Account navigation">
                                <ul class="hmcts-header__navigation-list">
                                    <li class="hmcts-header__navigation-item">
                                        <a class="hmcts-header__navigation-link" href="#">
                                            Sign out
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>

                </div>

                <div style="background-color: #0b0c0c;">
                    <div style=" max-width:1300px;  min-width:1300px;   margin: 0px 0px 0px 30px; display: flex; background-color: #0b0c0c;">

                        <div style="width: 0px; ">

                        </div>

                        <div>
                            <nav class="hmcts-primary-navigation" aria-label="Primary navigation" style=" width: 400px;">
                                <ul class="hmcts-primary-navigation__list">
                                    <li class="hmcts-primary-navigation__item">
                                        <a class="hmcts-primary-navigation__link" href="#">
                                            Organisations
                                        </a>
                                    </li>
                                    <li class="hmcts-primary-navigation__item">
                                        <a class="hmcts-primary-navigation__link" href="#">
                                            Staff details
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div style="display: flex; flex-grow: 1;">
                        </div>

                    </div>

                </div>

        </div>

    </header>

    <div style=" max-width:1300px; margin: 0 auto;">
          <div class="govuk-phase-banner govuk-width-container" style=" max-width:1300px;  min-width:1300px;   margin: 0px 80px 0px 80px;">
            <p class="govuk-phase-banner__content">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
              </strong>
              <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
              </span>
            </p>
          </div>
    </div>

</body>

</html>
