{% extends "divorce/layouts/layout.html" %}

{% block page_title %}Judicial UI prototype{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">

      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">Judicial UI prototype</h1>

        <h2 class="govuk-heading-m">Users</h2>
        <ul class="govuk-list govuk-list--bullet">
        {% for users in users -%}
          <li><a href="/divorce/load-user/{{users.id}}">{{users.name}}</a> ({{users.role}})</li>
        {% endfor %}
        </ul>

      </div>

    </div>

  </main>

</div>

{% endblock %}
