{% extends "layouts/layout.html" %}

{% set pageID = "Generate order" %}

{% block page_title %}Generate order - Judicial UI prototype{% endblock %}

{% block content %}

{% include "v1/includes/casebar.html" %}

<div class="jui-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "./"
  }) }}

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
        
      <div class="govuk-o-grid__item  govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">Preview and edit order</h1>
       
        <form method="post">

          {{ govukTextarea({
            "name": "generate-order",
            "id": "generate-order",
            "rows": "12",
            "label": {
              "text": "Create order based on your decisions"
            },
            "value": "It is directed that the petitioner should read the guidance on completing the divorce application to identify the appropriate provisions to establish jurisdiction. The petitioner should then provide the information by completing the online application and re-submitting. \n\n It is directed that the petitioner provide either the original or certified copy of the marriage certificate.  A certified copy should be available from the appropriate Registry. \n\n A free text entry to add any additional information that may be required."
          }) }}

          {{ govukButton({
            "text": "Create order",
            "classes": "govuk-!-mb-r0",
            "element": "button"
          }) }}

        </form>

        <p><a href="./">Cancel</a></p>

      </main>

    </div>

  </div>

</div>

{% endblock %}