{% extends "../layout.html" %}

{% set serviceName = 'Manage organisation details for civil and family law cases' %}

{% set pageId = 'users' %}

{% block header %}
{{hmctsHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/mvp-4/manage-organisation/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Organisation',
    href: '/mvp-4/manage-organisation',
    active: false
  }, {
    text: 'Users',
    href: '/mvp-4/manage-organisation/users',
    active: true
          }, {
    text: 'Fee accounts',
    href: '/mvp-4/manage-organisation/payments',
    active: false

  }]
})}}

{% endblock %}


{% block content %}


  <div class="hmcts-width-container">
    {% include "../includes/phase-banner.html" %}

    {{govukBackLink({
      href: './view'
    })}}

    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#nationality">You need to make a change before submitting. If you don't make a change, these permissions will stay the same</a>
      </li>
    </ul>
  </div>
</div>
      <h1 class="govuk-heading-l">[First name, Last name]</h1>


      <form action="./view" method="post">


        {% set caseLevelsHtml %}
          {{ govukRadios({
            idPrefix: "where-do-you-live",
            name: "Level",
            fieldset: {
              legend: {
                text: ""
              }
            },
            items: [
              {
                value: "org",
                text: "Own cases only",
                checked: true
              },
              {
                value: "scotland",
                text: "All the organisation's cases"
              }
            ]
          }) }}
        {% endset %}

        {{ govukCheckboxes({
           idPrefix: "permissions",
          name: "permissions",
          fieldset: {
            legend: {
              text: "Permissions",
              classes: "govuk-fieldset__legend--m"
            }
          },
       hint: {
            text: "Choose at least one action the user can do. You can change this later."
          },
            errorMessage: {
    text: "You need to make a change before submitting. If you don't make a change, these permissions will stay the same"
  },
          items: [
            {
              value: "cases",
              text: "Manage cases",
              checked: true,
              hint: {
                text: "View, create and progress cases."
              }
            },

             {
              value: "users",
              text: "Manage users",
              checked: true,
              hint: {
                text: "Invite users."
              }
                },

             {
              value: "organisation",
              text: "Manage organisation",
              checked: true,
              hint: {
                text: "View the organisation name and address."
              }
            },
            
           
          
            {
              value: "payment",
              text: "Manage payments",
              checked: true,
              hint: {
                text: "View account balances, available credit and transactions."
              }
            }


           
            
          ]
        }) }}

        {{govukButton({
          text: 'Submit'
        })}}
      </form>







    </div>



        </div>
      </div>
    </main>
  </div>
{% endblock %}
