{% extends "../layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="#">Manage organisation</a>
        <div class="hmcts-header__content">
            <nav class="hmcts-header__navigation" aria-label="Account navigation">
                <ul class="hmcts-header__navigation-list">
                    <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
                    <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Sign out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <nav class="hmcts-primary-navigation">
            <ul class="hmcts-primary-navigation__list">
                <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="/mvp-4/manage-organisation">
                        Organisation
                    </a>
                </li>
                <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" aria-current="page" href="/mvp-4/manage-organisation/users">
                        Users
                    </a>
                </li>
                <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="/mvp-4/manage-organisation/payments">
                        Fee accounts
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% endblock %}
{% block content %}
<!--{
      text: 'Profile',
      href: '/mvp-4/manage-organisation/profile'
    }, -->
<div class="hmcts-width-container">
    {% include "../includes/phase-banner.html" %}
    {{govukBackLink({
    href: '/mvp-4/manage-organisation/users/view-pending'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <!-- {{ hmctsBanner({
          type: 'warning',
          text: 'Invitation already sent previously.',
          iconFallbackText: 'Warning'
          }) }} -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Reinvite user</h1>
                <p class="govuk-body">When you send this invitation, the user will receive an email from HM Courts and Tribunals Registrations so they can finish setting up their account.</p>
                

                <div class="govuk-form-group">
                    <label class="govuk-label--m" for="first-name">
                        First name <!--<span id="passport-issued-hint" class="govuk-hint">
                            Include all middle names.
                        </span> -->
                    </label>
                    <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false" value="Amy" disabled>
                </div>
                     <div class="govuk-form-group">
                    <label class="govuk-label--m" for="first-name">
Last name                    </label>
                    <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false" value="Venkatanarasimharaj" disabled>
                </div>
                     <div class="govuk-form-group">
                    <label class="govuk-label--m" for="first-name">
                       Email address
                    </label>
                    <input class="govuk-input" id="emailaddress" name="full-name" type="text" autocomplete="name" spellcheck="false" value="amyvenkatanarasimharaj@wedlakebell.com" disabled>
                </div>

                    <form action="./confirmation-re">
                        {{ govukCheckboxes({
                        idPrefix: "permissions",
                        name: "permissions",
                        fieldset: {
                        legend: {
                        text: "Permissions",
                        classes: "govuk-fieldset__legend--m"
                        }
                        },
                        hint: {
                        text: "Choose at least one action the user can do. You can change this later."
                        },
                        items: [
                        {
                        value: "cases",
                        text: "Manage cases",
                        hint: {
                        text: "View, create and progress cases."
                        }
                        },
                        {
                        value: "users",
                        text: "Manage users",
                        hint: {
                        text: "Invite users."
                        }
                        },
                        {
                        value: "organisation",
                        text: "Manage organisation",
                        hint: {
                        text: "View the organisation name and address."
                        }
                        }
                        ]
                        }) }}
                        {{govukButton({
                        text: 'Send invitation'
                        })}}
                    </form>
                </div>
            </div>
    </main>
</div>
<!--,{
                        value: "payment",
                        text: "Manage fee accounts",
                        checked: false,
                        hint: {
                        text: "View payments, account balances, available credit and transactions."
                        } -->
{% endblock %}