<header class="jui-header" role="banner">
  
  <div class="jui-width-container">

    <div class="jui-header__service">
      <a href="/">Judicial UI</a>
    </div>

    <div class="jui-header__account">

      <nav class="jui-menu  jui-menu--admin">        
        <ul class="jui-menu__list">
          {% if pageID != "Dashboard" %}<li class="jui-menu__item"><a class="jui-menu__link" href="/divorce/v1/dashboard">Dashboard</a></li>{% endif %}
          <li class="jui-menu__item"><a class="jui-menu__link" href="/divorce/v1/">Signout</a></li>
        </ul>        
      </nav>

    </div>

  </div>

</header>