{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set pageId = 'users' %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Manage organisation</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="/manage-admin-i3">
            Organisation
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/manage-admin-i3/users">
            Users
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/manage-admin-i3/cases">
            Unassigned cases
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
            <a class="hmcts-primary-navigation__link" href="/manage-admin-i3/cases/assigned-case-list">
            Assigned cases
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/manage-admin-i3/payments">
            Fee accounts
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{govukBackLink({
    href: './'
  })}}
  <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-xl">Wedlake Bell</span>
    <h1 class="govuk-heading-xl">Change organisation address</h1>

    <form action="/manage-admin-i3/">

        <fieldset class="govuk-fieldset">






  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="address-line-1">
      Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>


    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" value="12 Market Street">
  </div>




  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
      <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
    </label>


    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
  </div>




  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="address-town">
      Town or city
    </label>


    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" value="Newbury">
  </div>




  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="address-county">
      County
    </label>


    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text" value="Berkshire">
  </div>




  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="address-postcode">
      Postcode
    </label>


    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" value="RG14 5LD">
  </div>


        </fieldset>







  <button type="submit" class="govuk-button">
    Save
  </button>


      </form>

  </div>



      </div>
    </div>
  </main>
</div>
{% endblock %}
