{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register to manage civil and family law cases' %}

{% block beforeContent %}
  {{ super() }}
  {{govukBackLink({
    href: '/mvp-4/register-organisation/organisation-address'
  })}}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/mvp-4/register-organisation/organisation-dx-pre">

    {% call govukFieldset({
        legend: {
          text: "What's the payment by account (PBA) number for your organisation?",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}

        {{ govukInput({
          label: {
            html: 'PBA number 1 (optional)',
            classes: 'govuk-label--m'
          },
          id: "address-line-1",
          name: "address-line-1",
          classes: 'govuk-input--width-20'
        }) }}

        {{ govukInput({
          label: {
            html: 'PBA number 2 (optional)',
            classes: 'govuk-label--m'
          },
          id: "address-line-1",
          name: "address-line-1",
          classes: 'govuk-input--width-20'
        }) }}
     
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why add a PBA number?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Adding a PBA number for your organisation will allow you to view your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>account balance</li>
  <li>available credit</li>
  <li>transactions</li>
</ul>
  </div>
</details>
 {% endcall %}

        {{govukButton({
          text: 'Continue'
        })}}
    </form> </div>
  </div>

{% endblock %}
