{% extends "layouts/admin/base.html" %}

{% set pageID = "Casefile" %}

{% block page_title %}Get new case - Judicial UI prototype{% endblock %}

{% block content %}

<div class="jui-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "./dashboard"
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <form method="post">
      {{ govukRadios({
        "idPrefix": "user",
        "name": "user",
        "fieldset": {
          "legendHtml": "<h1 class=\"govuk-heading-xl\">Get new case</h1>",
          "legendHintText": "You’re ticketed for the following case types"
        },
        "items": [
          {
            "value": "1",
            "text": "Divorce"
          },
          {
            "value": "2",
            "text": "Financial Remedy"
          },
          {
            "value": "3",
            "text": "Civil Money Claims"
          }
        ]
      }) }}

      {{ govukButton({
        "text": "Get new cases",
        "element": "button"
      }) }}

    </form>

  </main>

</div>

{% endblock %}