{% extends "layouts/admin/base.html" %}

{% block page_title %}Sign in - Professional case manager{% endblock %}

{% block header %}

      {{hmctsHeader({
        serviceUrl: '/app/cases',
        serviceName: 'Professional case manager',
        navigation: [{
          text: 'Sign in',
          href: '/app/sign-in'
        }]
      })}}
    {% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    <h1 class="govuk-heading-l">Sign in</h1>

    <form method="post">

      {{ govukInput({
        label: {
          html: "Email address",
          classes: "govuk-!-width-one-third"
        },
        id: "email-address",
        name: "email-address",
        classes: 'govuk-!-width-one-third'
      }) }}

      {{ govukInput({
        label: {
          html: "Password",
          classes: "govuk-!-width-one-third"
        },
        id: "password",
        name: "password",
        type: "password",
        classes: "govuk-!-width-one-third"
      }) }}

      {{ govukButton({
        "text": "Sign in",
        "classes": "govuk-!-mb-r4",
        "href": "/app/cases"
      }) }}

    </form>

    <p class="govuk-body"><a href="">Forgotten your password?</a></p>

    <div class="govuk-!-width-two-thirds govuk-body">

    <h2 class="govuk-heading-m">Create a user account</h2>

    <p>If your organisation has been set up on the professional case manager, you can <a href="/create-user">create a user account</a>.</p>

    <!-- <p>SRA number, email, name, password</p> -->

    <h2 class="govuk-heading-m">If your organisation has not been set up</h2>

    <p>Someone in your organisation will need to <a href="/apply">create an organisation account</a>.</p>

    </div>

  </main>

</div>

{% endblock %}