{% extends "layouts/admin/base.html" %}

{% set casenavId = "questions" %}

{% block page_title %}Create questions - Continous Online Resolution{% endblock %}

{% block content %}
  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": "./"
    }) }}

    <main role="main" class="govuk-main-wrapper">

      <div class="jui-add-another">
        <h1 tabindex="-1" class="govuk-heading-xl jui-add-another__heading">Create questions</h1>

        <form method="post" action="/app/case/{{_case.id}}/questions/create-questions">

          <fieldset class="jui-add-another__item">
              <legend class="govuk-heading-m">Question</legend>
              {{ govukInput({
                "label": {
                  "html": 'Subject'
                },
                "id": "questions[0][subject]",
                "name": "questions[0][subject]",
                "classes": "govuk-input--width-30",
                "attributes": {
                  'data-name': 'questions[%index%][subject]',
                  'data-id': 'questions[%index%][subject]'
                }
              }) }}

              {{ govukTextarea({
                "name": "questions[0][question]",
                "id": "questions[0][question]",
                "classes": "govuk-input--width-30",
                "attributes": {
                  'data-name': 'questions[%index%][question]',
                  'data-id': 'questions[%index%][question]'
                },
                "label": {
                  "html": 'Question'
                }
              }) }}
            </fieldset>

            {{ govukButton({
              "text": "Add another",
              "classes": 'jui-add-another__add-button'
            }) }}

            <br>

            {{ govukButton({
              "text": "Save questions"
            }) }}
        </form>
      </div>
		</main>
	</div>
{% endblock %}

{% block page_scripts %}
  <script>
    new AddAnother($('.jui-add-another'));
  </script>
{% endblock %}