{% extends "layouts/admin/base.html" %}

{% set casenavId = "questions" %}

{% block page_title %}Create questions - Continous Online Resolution{% endblock %}

{% block content %}
  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": "./"
    }) }}

    <main role="main" class="govuk-o-main-wrapper">

      <h1 class="govuk-heading-xl">Create questions</h1>

      <form method="post" action="/app/case/{{_case.id}}/questions/create-questions">

        {{ govukInput({
          "label": {
            "html": 'Subject'
          },
          "id": "subject",
          "name": "subject",
          "classes": "govuk-c-input--width-30"
        }) }}

        {{ govukTextarea({
          "name": "question",
          "id": "question",
          "classes": "govuk-c-input--width-30",
          "label": {
            "html": 'Question'
          }
        }) }}

        {{ govukButton({
          "text": "Save questions"
        }) }}

      </form>

		</main>

	</div>
{% endblock %}