{% extends "layouts/admin/base.html" %}

{% set casenavId = "questions" %}

{% block page_title %}Questions - Continous Online Resolution{% endblock %}

{% block content %}
  {% include "includes/casebar.html" %}

	<div class="jui-width-container">

    <main role="main" class="govuk-main-wrapper">

      {% include "includes/casenav.html" %}

      {% if success %}
        {{ juiAlert(
          {
            "icon": true,
            "iconClasses": "jui-alert__icon--success",
            "iconText": "Success!",
            "alertText": success,
            "alertClasses": "jui-alert--success"
          })
        }}
      {% endif %}

      <h1 class="govuk-heading-l">Questions</h1>

      <h2 class="govuk-heading-m">Round 1 (in draft ready to be sent)</h2>

      <p>Due by <b><time datetime="27-03-2018">27 Mar 2018</time></b></p>

      <div class="jui-questions  govuk-!-mb-r5">

        <div class="jui-questions__item">
          <h3 class="jui-questions__subject"><a href="">1. How do you do your shopping?</a></h3>
          <span class="jui-questions__meta">From <span class="jui-questions__author">Judge Prita Shah</span>, added on <time datetime="19-03-2018">19 Feb 2018</time></span>
        </div>

        <div class="jui-questions__item">
          <h3 class="jui-questions__subject"><a href="">2. Your specific health conditions</a></h3>
          <span class="jui-questions__meta">From <span class="jui-questions__author">Dr Veronica George</span>, added on <time datetime="19-03-2018">19 Feb 2018</time></span>
          <span class="jui-questions__attachment">1 attachment</span>
        </div>

        <div class="jui-questions__item">
          <h3 class="jui-questions__subject"><a href="">3. How you wash yourself?</a><span class="jui-status  jui-status--new">New</span></h3>
          <span class="jui-questions__meta">From <span class="jui-questions__author">Judge Prita Shah</span>, added on <time datetime="20-03-2018">20 Feb 2018</time></span>
        </div>

      </div>


      <div>
        {{ govukButton({
          "text": "Add more questions",
          "href": "#",
          "classes": "govuk-button--secondary govuk-!-mb-r4"
        }) }}
      </div>


      <div>
        {{ govukButton({
          "text": "Send questions",
          "href": createQuestionsLink.href
        }) }}
      </div>


      {% if rounds.length > 0 %}

        {% for round in rounds %}
          <h2 class="govuk-heading-m">Round {{loop.index}}</h2>

          {% if round.questions %}
            {% for question in round.questions %}
              <p>Subject: {{question.subject}}</p>
              <p>Body: {{question.body}}</p>
            {% endfor %}

            {{ govukButton({
              "text": "Create more questions",
              "href": createQuestionsLink.href
            }) }}
          {% else %}
            <p class="govuk-body">No questions yet.</p>
            {{ govukButton({
              "text": "Create questions",
              "href": createQuestionsLink.href
            }) }}
          {% endif %}

        {% endfor %}
      {% else %}
        <h2 class="govuk-heading-m">Round 1</h2>
        <p class="govuk-body">No rounds yet.</p>
        {{ govukButton({
          "text": "Create questions",
          "href": createQuestionsLink.href
        }) }}
      {% endif %}

		</main>

	</div>
{% endblock %}