{% extends "./layout.html" %}

{% block header %}
{{hmctsHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/oct-2020/manage-case/profile',
      active: true
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Your cases',
    href: '/oct-2020/manage-case/case-list',
    active: false
  }, {
    text: 'Organisation\'s cases',
    href: '/oct-2020/manage-case/organisation-case-list',
    active: false
  }]
})}}
{% endblock %}


{% set serviceName = 'Manage your civil and family law cases' %}

{% set primaryNavId = 'cases' %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

<div class="hmcts-width-container">

  <main role="main" class="govuk-main-wrapper">


    <h1 class="govuk-heading-xl">Profile</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {{ govukTable({
            firstCellIsHeader: true,
            rows: [
              [
                {
                  text: "First name"
                },
                {
                  text: "Holly"
                },
                {
                  html: ''
                }
              ],
              [
                {
                  text: "Last name"
                },
                {
                  text: "Whitwham"
                },
                {
                  html: ''
                }
              ],
              [
                {
                  text: "Email"
                },
                {
                  html: "holly.whitwham@westberks.gov.uk"
                },
                {
                  html: ''
                }
              ],
              [
                {
                  text: "Password"
                },
                {
                  html: "********"
                },
                {
                  html: ''
                }
              ],

              [
                {
                  text: "Permitted to manage"
                },
                {
                  html: "cases (all), organisation, users, payments"
                },
                {
                  html: ""
                }
              ]
            ]
          }) }}

      </div>
    </div>




  </main>

</div>

{% endblock %}