{% extends "layouts/unbranded.html" %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Subject: Changes to HM Courts and Tribunals Service (HMCTS) professional services</h1>

    <p class="govuk-body">From: <b>HMCTS professional services</b> &lt;professional.services@hmcts.gov.uk&gt;<br>Sent: 1 Oct 2018, 11:31am</p>
    <p class="govuk-body">We've sent you this email because you're currently WHAT.</p>
    <h2 class="govuk-heading-l">What will change</h2>
    <p class="govuk-body">You'll still be able to make applications online and view the status of applications you've made. You'll notice some changes to some of the screens.</p>
    <p class="govuk-body">You'll be able to use the following services:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>divorce</li>
      <li>financial remedy</li>
      <li>probate</li>
    </ul>
    <p class="govuk-body">You'll also be able to manage your HMCTS account, which will let you:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>invite other people in your organisation to use HMCTS professional services</li>
        <li>check your organisation's fee account balance and recent transactions</li>
    </ul>
    <h2 class="govuk-heading-l">What you need to do</h2>
    <p class="govuk-body">Within the next 7 days you'll receive an email from HM Courts and Tribunals Registrations. Click the link in the email to reset your password.</p>
    <p class="govuk-body">After you reset your password, you'll be able to access the new </p>
    <h2 class="govuk-heading-l">After your registration has been approved</h2>
    <p class="govuk-body">Once you've created your password, you'll be able to sign in to:</p>

    <p class="govuk-body">Yours</p>
    <p class="govuk-body">HM Courts and Tribunals Service</p>

    <p><a style ="color:white" href="create-account-beta/reset-password-email">Link to reset password email</a></p>
  
  </div>
</div>
{% endblock %}




  <ul class="govuk-list govuk-list--bullet">
      <li>apply for divorce, financial remedy or probate online</li>
      <li>check the status of a case - if you applied online</li>
      <li>invite other people in your organisation to use HMCTS professional services</li>
      <li>check your organisation's fee account balance and recent transactions</li>
    </ul>