{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS account' %}

{% block beforeContent %}
  {{ super() }}
  {{govukBackLink({
    href: '/create-user-account-address/name'
  })}}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/create-user-account-address/check">

            {{ govukRadios({
              idPrefix: "address",
              name: "address",
              fieldset: {
                legend: {
                  text: "Choose default address",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: 'Your organisation has more than one address. Choose your default address so that it\'s easier to create applications. You can always change this for each application if you want.'
              },
              items: [
                {
                  value: "23 Neon Lane<br>Nottingham<br>NH1 4SH",
                  html: "23 Neon Lane<br>Nottingham<br>NH1 4SH"
                },
                {
                  value: "1 Duke Street<br>London<br>W91SF",
                  html: "1 Duke Street<br>London<br>W91SF"
                }
              ]
            }) }}


            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#name')
    })
  </script>
{% endblock %}