{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS account' %}

{% block beforeContent %}
  {{ super() }}
  {{govukBackLink({
    href: '/create-user-account-address/start'
  })}}
{% endblock %}

{% block content %}
<div class="govuk-width-container">



    <main role="main" class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">What's your name?</h1>

          <form action="/create-user-account-address/password">

            {{ govukInput({
              label: {
                text: "First name(s)",
                classes: 'govuk-label--m'
              },
              hint: {
                text: 'Include all middle names here'
              },
              id: "firstname",
              name: "firstname"
            }) }}

            {{ govukInput({
              label: {
                text: "Last name",
                classes: 'govuk-label--m'
              },
              id: "lastname",
              name: "lastname"
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#name')
    })
  </script>
{% endblock %}