{% extends "manage-admin/layout.html" %}
{% set serviceName = 'Common components' %}
{% set pageId = 'users' %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Common components</a>
    <div class="hmcts-header__content"></div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="govuk-width-container ">
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl">CAA - Assigned cases</h1>

        <h2 class="govuk-heading-l">
            Version 2
        </h2>
        <p class="govuk-body">January 2022</p>
        <p class="govuk-body">Changelog: <a href="https://tools.hmcts.net/confluence/x/uAgcX" target="_blank">UCD: CAA Prototype iteration changelog</a></p>
        <br />
        <a href="index-tab1" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start prototype
        </a>
        <br />
        <p class='govuk-body govuk-!-font-weight-bold'>Pages breakdown (all open in a new window):</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="index-tab1" target="_blank">Assigned cases table</a></li>
          <li><a href="index-pagination" target="_blank">Assigned cases table (showing pagination)</a></li>
          <li><a href="reassign-cases" target="_blank">Manage shared access to a case</a></li>
          <li><a href="reassign-check" target="_blank">Check actions before submit</a></li>
          <li><a href="confirmation" target="_blank">Confirmation screen</a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      </div>
    </div>
  </main>
</div>

{% endblock %}
{% block pageScripts %}
{{super()}}
{% endblock %}
