/* ==========================================================================
   #PANEL
   ========================================================================== */

.jui-panel {
  @include govuk-font-regular-19;
  border: 5px solid transparent;
  box-sizing: border-box;
  margin-bottom: $govuk-spacing-scale-6;
  padding: $govuk-spacing-scale-6 - $govuk-border-width;
  position: relative;
}


.jui-panel__title {
  @include govuk-font-bold-36;
  margin-bottom: $govuk-spacing-scale-3;
}


.jui-panel__body {
  @include govuk-font-regular-24;
}


.jui-panel__details {
  margin: 0;
  padding: 0;

  dt {
    font-weight: bold;
    margin-bottom: $govuk-spacing-scale-1;
  }

  dd {
    @include govuk-font-regular-16;
    margin-left: 0;
    margin-bottom: $govuk-spacing-scale-4;

    &:last-child {
      margin-bottom: 0;
    }

  }

}


/* Style variants
   ========================================================================== */

.jui-panel--information {
  border-color: $govuk-blue;
 }


.jui-panel--confirmation {
  border-color: $govuk-green;
  color: $govuk-green;
  text-align: center;
}