{% extends "layouts/admin/base.html" %}

{% set casenavId = "summary" %}

{% block page_title %}Case summary{% endblock %}

{% block content %}

{{puiPrimaryNav({ items: [{
  active: true,
  href: '/path',
  label: 'Cases'
}, {
  href: '/path',
  label: 'Appointments'
}]})}}

{% include "includes/casebar.html" %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    {% include "includes/secondary-nav.html" %}

    <h1 class="govuk-heading-l">Summary</h1>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Case details</h2>

        {{ govukTable({
          "classes": "jui-table  jui-table--fixed  govuk-!-f-16  govuk-!-mb-r7",
          "firstCellIsHeader": true,
          "rows": detailsRows
        }) }}

      </div>

      <div class="govuk-grid-column-one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Parties and representatives</h2>

        {{ govukTable({
          "classes": "jui-table  jui-table--fixed  govuk-!-f-16  govuk-!-mb-r7",
          "firstCellIsHeader": true,
          "rows": [
            [
              {"text": "Father"},
              {"text": "Brian Martins"}
            ],
            [
              {"text": "Mother"},
              {"text": "Jane Martins"}
            ],
            [
              {"text": "Local authority"},
              {"text": "Jeremy Saunders"}
            ],
            [
              {"text": "Cafcass"},
              {"text": "Sarah Dalton"}
            ]
          ]
        })}}

      </div>

    </div>

  </main>

</div>

{% endblock%}