{% extends "v1/layouts/base.html" %}

{% set casenav = "summary" %}

{% block page_title %}
  Dashboard
{% endblock %}

{% block content %}

<div class="case-header">
  <div class="govuk-o-width-container">
    SC123/16/12321 Alan Jones vs DWP
  </div>
</div>

{% include "v1/includes/case-nav.html" %}

<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <h1 class="govuk-heading-xl"> Summary </h1>
  </main>
</div>

{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
