{% extends "admin_layout.html" %}

{% block page_title %}
  Dashboard
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}


{% block content %}

<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">

        {{ govukBackLink({
          "text": "Back",
          "href": "/v1/dashboard"
        }) }}

        <h1 class="govuk-heading-xl">
          Case 1234
        </h1>
    
        

        {{ govukButton({
          "text": "Get new case",
          "href": "/v1/get-new-case/"
        }) }}

  </main>
</div>

{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
