{% extends "divorce/layouts/layout.html" %}

{% block page_title %}Judicial UI prototype{% endblock %}

{% block content %}

<div class="jui-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "/"
  }) }}

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">

      <div class="govuk-o-grid__item  govuk-o-grid__item--two-thirds">

        <form method="post">

          {{ govukRadios({
            "idPrefix": "user",
            "name": "user",
            "fieldset": {
              "legendHtml": '<h1 class="govuk-heading-l">What type of user are you?</h1>',
              "legendHintText": "Choosing a user type will adjust your viewing experience."
            },
            "items": [
              {
                "value": "1",
                "text": "I am a Legal Adviser"
              },
              {
                "value": "2",
                "text": "I am a Judge"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Submit"
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}
