{% extends "layout.html" %}

{% set pageID = "Casefile" %}

{% block page_title %}Your options - Judicial UI prototype{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "/"
  }) }}

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">

      <div class="govuk-o-grid__item  govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">Your options</h1>

        <form method="post">

          {{ govukRadios({
            "idPrefix": "role",
            "name": "role",
            "fieldset": {
              "legendHtml": "<h1 class=\"govuk-heading-m\">What is your role?</h1>",
              "legendHintText": "Choose a suitable user type."
            },
            "items": [
              {
                "value": "1",
                "text": "Legal Adviser"
              },
              {
                "value": "2",
                "text": "Judge"
              }
            ]
          }) }}

          {{ govukCheckboxes({
            "idPrefix": "services",
            "name": "services",
            "classes": "govuk-!-mb-r4",
            "fieldset": {
              "legendHtml": "<h1 class=\"govuk-heading-m\">What juristictions do you work on?</h1>",
              "legendHintText": "Select all options that are relevant to you."
            },
            "items": services
          }) }}

          {{ govukButton({
            "text": "Start",
            "classes": "govuk-c-button--start"
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}