{% extends "layout.html" %}

{% set pageID = "Casefile" %}

{% block page_title %}Your options - Judicial UI prototype{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "/"
  }) }}

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">

      <div class="govuk-o-grid__item  govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">Prototype settings</h1>

        <form method="post">

          {{ govukRadios({
            "idPrefix": "role",
            "name": "role",
            "fieldset": {
              "legendHtml": "<h2 class=\"govuk-heading-m\">Role</h2>"
            },
            "items": [
              {
                "value": "1",
                "text": "Legal Adviser"
              },
              {
                "value": "2",
                "text": "Judge",
                "conditional": {
                  "html": "yeah"
                }
              }
            ]
          }) }}

          {{ govukCheckboxes({
            "idPrefix": "services",
            "name": "services",
            "classes": "govuk-!-mb-r4",
            "fieldset": {
              "legendHtml": "<h2 class=\"govuk-heading-m\">Service lines</h2>"
            },
            "items": services
          }) }}

          {{ govukButton({
            "text": "Start",
            "classes": "govuk-c-button--start"
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}

{% block page_scripts %}
  <script src="/public/javascripts/jui/RadiosReveal.js"></script>
  <script>
    new RadiosReveal($('.govuk-c-radios').eq(0));
  </script>
{% endblock %}