{% extends "v1/layouts/base.html" %}

{% set casenav = "parties" %}

{% block page_title %}
  Parties
{% endblock %}

{% block after_header %}
	{% include "v1/includes/case-header.html" %}
{% endblock %}

{% block content %}
	<div class="jui-o-width-container">
    <main role="main" class="govuk-o-main-wrapper">
      {% include "v1/includes/case-nav.html" %}
      

      <h1 class="govuk-heading-xl"> Parties </h1>

			<div class="govuk-o-grid">
			  <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
			    {{ govukTable({
		        "caption": "Appelant",
		        "captionSize": 'govuk-!-f-36',
		        "firstCellIsHeader": true,
		        "rows": [
		          [
		            {
		              "text": "Name"
		            },
		            {
		              "text": 'Alan Jones'
		            }
		          ],
		          [
		            {
		              "text": "Other"
		            },
		            {
		              "text": 'Other'
		            }
		          ]
		        ]
		      }) }}
			  </div>
			  <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
			    {{ govukTable({
		        "caption": "Respondent",
		        "captionSize": 'govuk-!-f-36',
		        "firstCellIsHeader": true,
		        "rows": [
		          [
		            {
		              "text": "Name"
		            },
		            {
		              "text": 'Alan Jones'
		            }
		          ],
		          [
		            {
		              "text": "Other"
		            },
		            {
		              "text": 'Other'
		            }
		          ]
		        ]
		      }) }}
			  </div>
			</div>


		</main>
	</div>
{% endblock %}