{% extends "./layout.html" %}

{% set serviceName = 'Manage your civil and family court cases' %}

{% set pageId = 'create' %}

{% block page_title %}Create case{% endblock %}

{% block header %}
{{hmctsGlobalHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/manage-case-v4/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Your cases',
    href: '/manage-case-v4/case-list',
    active: primaryNavId == 'cases'
  }, {
    text: 'Organisation\'s cases',
    href: '/manage-case-v4/organisation-case-list',
    active: primaryNavId == 'organisationCases'
  }]
})}}
{% endblock %}


{% block mainContent %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/manage-case-v4/divorce-application-start">

            {{ govukRadios({
              idPrefix: "type",
              name: "type",
              fieldset: {
                legend: {
                  text: "What type of case do you want to create?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
                {
                  value: "divorce",
                  text: "Divorce"
                },
                {
                  value: "fr",
                  text: "Financial remedy (not contested)"
                },
                {
                  value: "probate",
                  text: "Probate"
                }
              ]
            }) }}

            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

{% endblock %}
