{% extends "./layout.html" %}

{% set serviceName = 'Manage your civil and family court cases' %}

{% set primaryNavId = 'cases' %}

{% block page_title %}Case summary{% endblock %}

{% block header %}
{{hmctsGlobalHeader({
  service: {
    name: serviceName,
    url: '/'
  },
  navigation: {
    items: [{
      text: 'Profile',
      href: '/manage-case-v4/profile'
    },{
      text: 'Sign out',
      href: '/sign-out'
    }]
  }
})}}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Your cases',
    href: '/manage-case-v4/case-list',
    active: primaryNavId == 'cases'
  }, {
    text: 'Organisation\'s cases',
    href: '/manage-case-v4/organisation-case-list',
    active: primaryNavId == 'organisationCases'
  }]
})}}
{% endblock %}


{% block beforeContent %}
{{ hmctsDetailsBar({
  reference: 'PBA0241163',
  title: { html: '<b>John Smith</b> v <b>Jane Smith</b>' },
  items: [
  {
    classes: 'hmcts-button--secondary',
    text: 'Upload file',
    href: '/manage-case-v4/upload-file'
  }
  ]
}) }}



{% endblock %}

{% block mainContent %}

{{govukBackLink({
  href: '/manage-case-v4/access'
})}}
<br>
<br>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/manage-case-v4/access" method="get">
      {{ govukTextarea({
        label: {
          text: "What email addresses do you want to give access to?",
          classes: 'govuk-label--xl',
          isPageHeading: true
        },
        hint: {
          html: 'You can enter multiple email addresses separated by commas.'
        },
        id: "shared-email",
        name: "shared-email"
      }) }}

      {{govukButton({
        text: 'Continue'
      })}}
    </form>
  </div>
</div>



{% endblock %}


{% block pageScripts %}
<script>
  new HMCTSFrontend.AddAnother($('.hmcts-add-another'));
</script>
{% endblock %}