{% extends "layouts/service/base.html" %}

{% set serviceName = 'Create an HMCTS account' %}

{% block content %}
<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-check-your-answers  govuk-check-your-answers--short  govuk-!-margin-bottom-6">

            <div class="govuk-check-your-answers__contents">
                <dt class="govuk-check-your-answers__question">First name(s)</dt>
                <dd class="govuk-check-your-answers__answer">
                  {{data.firstname}}
                </dd>
                <dd class="govuk-check-your-answers__change">
                  <a href="/create-account/name">Change <span class="govuk-visually-hidden">name</span></a>
                </dd>
              </div>

              <div class="govuk-check-your-answers__contents">
                  <dt class="govuk-check-your-answers__question">Last name</dt>
                  <dd class="govuk-check-your-answers__answer">
                    {{data.lastname}}
                  </dd>
                  <dd class="govuk-check-your-answers__change">
                    <a href="/create-account/name">Change <span class="govuk-visually-hidden">name</span></a>
                  </dd>
                </div>


            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">Password</dt>
              <dd class="govuk-check-your-answers__answer">
                * * * * * *
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="/create-account/email">Change <span class="govuk-visually-hidden">email</span></a>
              </dd>
            </div>

        </dl>

        <h2 class="govuk-heading-l">Now send your application</h2>

        <p>You are confirming that the information you've given is accurate.</p>

          {{ govukButton({
            "text": "Accept and send application",
            href: '/create-user-account/confirmation'
          }) }}
      </div>
    </div>
  </main>
</div>

{% endblock %}
