{% extends "govuk_template_unbranded.html" %}

{% set serviceName = 'Register organisation for HMCTS services' %}

{% block content%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Subject: Account created for HM Courts and<br> Tribunals Service (HMCTS) professional services</h1>

    <p class="govuk-body">From: <b>HMCTS online services</b> &lt;online.services@hmcts.gov.uk&gt;<br>Sent: 4 Oct 2018, 2:41pm</p>
    <p class="govuk-body">
        You can use <a href="">HMCTS professional services</a> straight away to apply for divorce, financial remedy<br> or probate online. You'll also be able to check the status once you've made an application.
        <p class="govuk-body">
        You can also <a href="/manage-account-v2/sign-in">manage your HMCTS account</a> if you want to: </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>change your user profile - for example if you change your name</li>
            <li>invite other people in your organisation to use these online services</li>
            <li>change your organisation's details - for example adding an address for a new office</li>
            <li>see a list of transactions and the balance for your HMCTS fee account</li>
          </ul>

    <p class="govuk-body">Yours</p>
    <p class="govuk-body">HM Courts and Tribunals Service</p>

  </div>
</div>
{% endblock %}
