{% extends "govuk_template_unbranded.html" %}

{% set serviceName = 'Create an HMCTS account' %}

{% block content%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Subject: You've been invited to use HMCTS online services</h1>
  
      <p class="govuk-body">From: <b>HMCTS online services</b> &lt;online.services@hmcts.gov.uk&gt;</p>
      <p class="govuk-body">Sent: 1 Oct 2018, 11  :31</p>
      <p class="govuk-body">Dear John</p>
      <p class="govuk-body">You've been invited by Kerry Miles to use HMCTS online services for Sherwin Davis.</p>
      <p class="govuk-body">You need to <a href="/create-user-account/start">create an account</a> before you can create or access any cases.</p>
      <p class="govuk-body">This invitation will only last until the end of Friday 28 September. After that you'll need to get a new invitation.</p>
  
      <p class="govuk-body">Yours sincerely</p>
      <p class="govuk-body">HMCTS</p>
  
    </div>
  </div>
  {% endblock %}