{% extends "govuk_template_unbranded.html" %}

{% set serviceName = 'Create an HMCTS account' %}

{% block content%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Subject: Create an account for HM Courts and <br>Tribunals Service (HMCTS) online services</h1>

      <p class="govuk-body">From: <b>HMCTS online services</b> &lt;online.services@hmcts.gov.uk&gt;<br>Sent: 1 Oct 2018, 11  :31</p>
      <p class="govuk-body">Dear John</p>
      <p class="govuk-body">You've been invited by Kerry Miles to use HM Courts and Tribunals Service (HMCTS) online<br> services for Sherwin Davis. 
        
      <h2 class="govuk-heading-l">What you need to do</h2>  
      <p class="govuk-body">You need to <a href="/create-user-account/start">create an account</a>. It will take 5 minutes, and you'll be able to use your account<br> straight away.</p> 
       
      <h2 class="govuk-heading-l">What you can do once you have an account</h2>  
        You'll be able to apply online for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>divorce</li>
        <li>financial remedy</li>
        <li>probate</li>
      </ul></p>

      <p class="govuk-body">You'll also be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>invite other people in your organisation to use these online services</li>
        <li>change your organisation's details - for example adding an address for a new office</li>
        <li>see a list of transactions and the balance for your HMCTS fee account</li>
      </ul>
    
      <p class="govuk-body">Yours</p>
      <p class="govuk-body">HMCTS</p>

    </div>
  </div>
  {% endblock %}