{% extends "layouts/service/base.html" %}

{% set serviceName = 'Register to manage civil and family law cases' %}

{% block beforeContent %}
  {{ super() }}
  {{govukBackLink({
    href: '/mvp/register-organisation/organisation-address'
  })}}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">What's your payment by account (PBA) number for your organisation?</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/mvp/register-organisation/organisation-dx-pre">

        {{ govukInput({
          label: {
            html: 'PBA number 1 (optional)',
            classes: 'govuk-label--m'
          },
          id: "address-line-1",
          name: "address-line-1",
          classes: 'govuk-input--width-20'
        }) }}

        {{ govukInput({
          label: {
            html: 'PBA number 2 (optional)',
            classes: 'govuk-label--m'
          },
          id: "address-line-1",
          name: "address-line-1",
          classes: 'govuk-input--width-20'
        }) }}

        {{govukButton({
          text: 'Continue'
        })}}
      </form>
    </div>
  </div>

{% endblock %}
