{% extends "layouts/service/base.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Documents received",
        html: 'Reference ' + data.ref
      }) }}

      <!-- <p class="govuk-body">We've sent you a confirmation email.</p> -->

      <h3 class="govuk-heading-m">What happens next</h3>

      <p class="govuk-body">
        We will start examining the application within 2 working days.
      </p>

    </div>
  </div>

{% endblock %}
