{% extends "./layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <!--  <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div> -->
    <a class="hmcts-header__link" href="#">Manage cases</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/mvp-4-WA/task-list/">
            Task list
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/mvp-4-WA/task-manager/">
            Task manager
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="#">
            Case list
          </a>
        </li>

        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="#">
            Create case
          </a>
        </li>

        <!--  <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="/mvp-4/manage-organisation/payments">
                        Fee accounts
                    </a>
                </li> -->
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}


<div class="hmcts-width-container">
  {% include "./includes/phase-banner-alpha.html" %}
  <!--  <a href="/mvp-4-WA/task-list/" class="govuk-back-link">Back</a> -->
  <!-- <main role="main" class="govuk-main-wrapper"> -->
  <!--  <main class="govuk-main-wrapper " id="main-content" role="main">


        <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-xl">PA/00321/2018</h1>
              </div>
                <div class="govuk-grid-column-one-half">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">


        <div class="govuk-form-group">
          <label class="govuk-label ccd-dropdown-label" for="nextSteps">
            Next steps
          </label>


          <select class="govuk-select ccd-dropdown" id="nextSteps" name="Next steps">


              <option value="selectAction">Select action</option>



              <option value="editAppeal">Edit appeal</option>


          </select>
        </div>

                    </div>
                    <div class="govuk-grid-column-one-quarter">








        <button data-prevent-double-click="true" class="govuk-button next-step-govuk-button" data-module="govuk-button">
          Go
        </button>

                    </div>
                  </div>
                </div>
          </div>




          <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>

          <ul class="govuk-tabs__list" role="tablist">



                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                  <a class="govuk-tabs__tab" href="#overview" id="tab_overview" role="tab" aria-controls="overview" aria-selected="true" tabindex="0">
                    Overview
                  </a>
                </li>




                <li class="govuk-tabs__list-item" role="presentation">
                  <a class="govuk-tabs__tab" href="#appeal" id="tab_appeal" role="tab" aria-controls="appeal" aria-selected="false" tabindex="-1">
                    Appeal
                  </a>
                </li>




                <li class="govuk-tabs__list-item" role="presentation">
                  <a class="govuk-tabs__tab" href="#appellant" id="tab_appellant" role="tab" aria-controls="appellant" aria-selected="false" tabindex="-1">
                    Appellant
                  </a>
                </li>




                <li class="govuk-tabs__list-item" role="presentation">
                  <a class="govuk-tabs__tab" href="#documents" id="tab_documents" role="tab" aria-controls="documents" aria-selected="false" tabindex="-1">
                    Documents
                  </a>
                </li>




                <li class="govuk-tabs__list-item" role="presentation">
                  <a class="govuk-tabs__tab" href="#directions" id="tab_directions" role="tab" aria-controls="directions" aria-selected="false" tabindex="-1">
                    Directions
                  </a>
                </li>




                <li class="govuk-tabs__list-item" role="presentation">
                  <a class="govuk-tabs__tab" href="#applications" id="tab_applications" role="tab" aria-controls="applications" aria-selected="false" tabindex="-1">
                    Applications
                  </a>
                </li>




                <li class="govuk-tabs__list-item" role="presentation">
                  <a class="govuk-tabs__tab" href="#caseNotes" id="tab_caseNotes" role="tab" aria-controls="caseNotes" aria-selected="false" tabindex="-1">
                    Case notes
                  </a>
                </li>




                <li class="govuk-tabs__list-item" role="presentation">
                  <a class="govuk-tabs__tab" href="#hearing" id="tab_hearing" role="tab" aria-controls="hearing" aria-selected="false" tabindex="-1">
                    Hearing
                  </a>
                </li>


          </ul>




              <div class="govuk-tabs__panel" id="overview" role="tabpanel" aria-labelledby="tab_overview">

            <h2 class="govuk-heading-l">Overview</h2>
            <h2 class="govuk-heading-m">Current progress of the case</h2>

            <div class="status-bar">

                    <div class="status-bar__stage stage--active stage--ticked ">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Appeal submitted</h4>
                    </div>

                    <div class="status-bar__stage stage--active stage--ticked --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Awaiting respondent evidence</h4>
                    </div>

                    <div class="status-bar__stage stage--active stage--ticked --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Case building</h4>
                    </div>

                    <div class="status-bar__stage stage--active stage--ticked --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Case under review</h4>
                    </div>

                    <div class="status-bar__stage stage--active  --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Respondent review</h4>
                    </div>

                    <div class="status-bar__stage   --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Submit hearing requirements</h4>
                    </div>

                    <div class="status-bar__stage   --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Listing</h4>
                    </div>

                    <div class="status-bar__stage   --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Prepare for hearing</h4>
                    </div>

                    <div class="status-bar__stage   --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Final bundling</h4>
                    </div>

                    <div class="status-bar__stage   --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Pre hearing</h4>
                    </div>

                    <div class="status-bar__stage   --leg">
                        <div class="status-bar__ring"></div>
                        <h4 class="govuk-heading-s">Decision</h4>
                    </div>

            </div>


















              </div>




              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="appeal" role="tabpanel" aria-labelledby="tab_appeal">
                Appeal
              </div>




              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="appellant" role="tabpanel" aria-labelledby="tab_appellant">
                appellant
              </div>




              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="documents" role="tabpanel" aria-labelledby="tab_documents">
                documents
              </div>




              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="directions" role="tabpanel" aria-labelledby="tab_directions">
                directions
              </div>




              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="applications" role="tabpanel" aria-labelledby="tab_applications">
                applications
              </div>




              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="caseNotes" role="tabpanel" aria-labelledby="tab_caseNotes">
                case notes
              </div>




              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="hearing" role="tabpanel" aria-labelledby="tab_hearing">
                hearing
              </div>


        </div>







  </main> -->


  <main class="govuk-main-wrapper " id="main-content" role="main">


    <div class="govuk-width-container">

      <main class="" id="main-content" role="main">
        <div class="govuk-grid-row" style="width:1220px; margin-left: 0px;">
          <div class="" style="display: flex; justify-content: space-between; ">

            <!--    <div style="display: flex; ">
              <p class="">3689264258577069: Smith vs Blythe &nbsp; </p>

              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Print
              </button>
            </div> -->

            <div>
              <h1 class="govuk-heading-xl">PA/00321/2018</h1>
            </div>


            <div style="display: flex; align-items:right">
              <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

              <select class="govuk-select" id="sort" name="sort">
                <option value="published" selected="">Select action</option>
                <option value="published">Submit amended application</option>
                <option value="published">Link respondent</option>
                <option value="published">Add Note</option>
                <option value="published">Upload document</option>
                <option value="updated">Stop representing a client</option>
              </select>

              <form name="aspnetForm" method="post" id="aspnetForm" autocomplete="off">
                <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
                  Go
                </button>
              </form>
            </div>

          </div>


          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#event">
                  Overview
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Appeal
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Appellent
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Documents
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Directions
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Applications
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Case notes
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Hearing
                </a>
              </li>
            </ul>

            <div class="govuk-tabs__panel" id="event" style="display:padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px;">
              <div >
                <h2 class="govuk-heading-l">Overview</h2>

                <h3 class="govuk-heading-m">Current progress of the case</h3>

                <div class="hmcts-progress-bar">
                <ol class="hmcts-progress-bar__list">

                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                  <span class="hmcts-progress-bar__label">Appeal<br>submitted</span>
                </li>

                <li class="hmcts-progress-bar__list-item">
                    <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                  <span class="hmcts-progress-bar__label">Awaiting<br>respondent<br>evidence</span>
                </li>

                <li class="hmcts-progress-bar__list-item">
                    <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                  <span class="hmcts-progress-bar__label">Case<br>building</span>
                </li>

                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                  <span class="hmcts-progress-bar__label">Case<br>under<br>review</span>
                </li>

                <li class="hmcts-progress-bar__list-item" aria-current="step">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label">Respondent<br>review</span>
                </li>

                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label">Submit<br>hearing<br>requirements</span>
                </li>

                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label">Listing</span>
                </li>
                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label">Prepare<br>for<br>hearing</span>
                </li>
                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label">Final<br>bundling</span>
                </li>
                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label">Pre<br>hearing</span>
                </li>
                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label">Decision</span>
                </li>




                </ol>
                </div>

                <h2 class="govuk-heading-m">Do this next</h2>

                <p class="govuk-body">Check the response uploaded by the respondent.</p>
                <p class="govuk-body">If it complies with the Procedure Rules and Practice Directions, <a href="#" class="govuk-link">direct the appellant to review the Home Office response</a></p>
                <p class="govuk-body">If it does not comply, direct the respondent to <a href="#" class="govuk-link">amend the appeal response</a></p>

                <br>
                 <h2 class="govuk-heading-m">Case details</h2>



                 <dl class="govuk-summary-list">


                       <div class="govuk-summary-list__row">
                         <dt class="govuk-summary-list__key summary-key">
                           Appeal reference
                         </dt>
                         <dd class="govuk-summary-list__value">
                           PA/00321/2018
                         </dd>

                       </div>



                       <div class="govuk-summary-list__row">
                         <dt class="govuk-summary-list__key summary-key">
                           Appellant
                         </dt>
                         <dd class="govuk-summary-list__value">
                           Sarah Philips
                         </dd>

                       </div>



                       <div class="govuk-summary-list__row">
                         <dt class="govuk-summary-list__key summary-key">
                           Date of birth
                         </dt>
                         <dd class="govuk-summary-list__value">
                           05/05/1992
                         </dd>

                       </div>



                       <div class="govuk-summary-list__row">
                         <dt class="govuk-summary-list__key summary-key">
                           Nationalities
                         </dt>
                         <dd class="govuk-summary-list__value">
                           Swedish
                         </dd>

                       </div>


                 </dl>




              </div>


            </div>
          </div>



        </div>
      </main>
    </div>


  </main>




</div>
{% endblock %}
