{% extends "./layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Manage organisation</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="index">
            Organisation
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="#">
            Users
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="#">
            Unassigned cases
          </a>
        </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link"  href="#">
                        Assigned cases
                    </a>
                </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="#">
                        Fee accounts
                    </a>
                </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {% include "./includes/phase-banner.html" %}
    {{govukBackLink({
    href: 'manage-address-1'
    })}}
    <main role="main" class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">What is your organisation's new address?</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  You must only enter your firm's office address here, not a personal address.
              </strong>
          </div>
          <br />

              <div class="govuk-form-group govuk-!-margin-bottom-4" id="address_postcode-finder">
                  <label class="govuk-label govuk-label--m" for="address_postcode">
                      Enter a UK postcode
                  </label>

                  <input class="govuk-input govuk-input--width-10 postcode" id="address_postcode" name="postcodeFinder" type="text">

                  <button class="govuk-button govuk-button--secondary find-button" data-module="govuk-button" id="findAddressBtn">
                      Find address
                  </button>
              </div>

<!--              <div class="form-group error" id="address_postcode-seach-error" style="margin-top: 20px;">-->
<!--                          <span class="error-message">-->
<!--                            We can't find an address for that postcode. Try again or enter the address manually.-->
<!--                          </span>-->
<!--              </div>-->

              <div id="addressSelectGroup" class="form-group select-address" style="display: none;">
                  <label class="govuk-label govuk-label--s" for="addressSelect">
                      Select the correct address
                  </label>

                  <select id="addressSelect" class="govuk-select" name="address-select" title="Pick an address" style="margin-bottom: 20px;">
                      <option value="">Please select...</option>
                      <option value="123 Church Road, Swindon, SN1 7DS">123 Church Road, Swindon, SN1 7DS</option>
                      <option value="77 Church Road, Swindon, SN1 7DS">77 London Road, Swindon, SN1 7DS</option>
                      <option value="44 The Old Mill, Church Road, Swindon, SN1 7DS">44, The Old Mill, Church Road, Swindon, SN1 7DS</option>

                  </select>
                  <br />
                  <br />
              </div>

              <fieldset class="govuk-fieldset" id="manualAddress" style="display: none;">

                  <div class="govuk-form-group">
                      <label class="govuk-label" for="address_street-1">
                          Address <span class="govuk-visually-hidden">line 1 of 3</span>
                      </label>
                      <input class="govuk-input" id="address_street-1" name="address_Line1" type="text" value="123 Church Road"></div>

                  <div class="govuk-form-group">
                      <label class="govuk-label" for="address_street-2">
                          <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                      </label>
                      <input class="govuk-input" id="address_street-2" name="address_Line2" type="text"></div>

                  <div class="govuk-form-group">
                      <label class="govuk-label" for="address_street-3">
                      </label>
                      <input class="govuk-input" id="address_street-3" name="address_Line3" type="text"></div>

                  <div class="govuk-form-group">
                      <label class="govuk-label" for="address_town">
                          Town or city
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="address_town" name="address_city" type="text" value="Swindon"></div>

                  <div class="govuk-form-group">
                      <label class="govuk-label" for="address_postcode-full">
                          Postcode
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="address_postcode-full" name="address_Postcode" type="text" value="SN1 7DS"></div>

              </fieldset>

          <div id="addressEnterManually" class="enter-manually">
              <p class="govuk-body"><a class="govuk-link" href="add-new-address-manual">Enter the address manually</a></p>
          </div>

            <br>

          <form id="formSubmit" class="govuk-form-group" action="dx-reference" method="post" style="display: inline-block;">
              <button class="govuk-button govuk-!-margin-right-3" data-module="govuk-button" style="padding">
                  Continue
              </button>
              <span style="display: inline-block;" class="govuk-body govuk-!-margin-top-1"><a href="index" class="govuk-link govuk-link--no-visited-state">Cancel and return to organisation page</a>
              </span>
          </form>



      </div>
    </div>
    </main>
</div>

<script>

  document.getElementById('findAddressBtn').addEventListener("click", showAddressSelect);
  document.getElementById('addressSelect').addEventListener("change", showManualEntry);

  var addressSelectGroup = document.getElementById('addressSelectGroup')
  var chosenAddress = document.getElementById('addressSelect')


  function showAddressSelect() {
    addressSelectGroup.style.display = 'block'
  }

  function showManualEntry() {
    if (chosenAddress.value == "123 Church Road, Swindon, SN1 7DS"){
      document.getElementById('manualAddress').style.display = 'block'
      document.getElementById('addressEnterManually').style.display = 'none'
    }
  }


  // function validateForm() {
  //   let x = document.getElementById('addressSelect').value
  //   if (x == "") {
  //     alert("Name must be filled out");
  //     return false;
  //   }
  // }




</script>
{% endblock %}
