{% extends "layouts/admin/base.html" %}

{% set pageID = "Confirmation" %}

{% block page_title %}Confirmation - Judicial UI prototype{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    <div class="jui-panel  jui-panel--confirmation" role="status" aria-live="polite">
      <h1 class="jui-panel__title">Decision submitted</h1>
      <div class="jui-panel__body">Case number<br><strong>BV18D00150</strong></div>
    </div>

    {{ govukButton({
      "text": "Back to dashboard",
      "href": "/app/dashboard"
    }) }}

  </main>

</div>

{% endblock %}