{% extends "layouts/admin/base.html" %}

{% set pageID = "Costs order" %}

{% block page_title %}Costs order - Judicial UI prototype{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "./make-decision"
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Costs order</h1>

        {{ juiInformationPanel({
          "classes": "jui-panel--information",
          "details": [
            {
              "title": "Divorce petition",
              "description": "The applicant is also applying to the court to claim the costs of the divorce from the respondent."
            },
            {
              "title": "Acknowledgement of service",
              "description": "I think we should pay equal amounts for the divorce as we both want it to happen."
            },
            {
              "title": "Application for Decree nisi",
              "description": "I will accept the amount my wife has suggested."
            }
          ]
        }) }}

        <form method="post">


          <!-- Pounds or percentages -->
          {% set poundsPercentages %}

            {{ govukInput({
              "label": {
                "text": "In pounds"
              },
              classes: "govuk-input--width-10",
              id: "in-pounds",
              name: "in-pounds"
            }) }}

            {{ govukInput({
              "label": {
                "text": "Or as a percentage"
              },
              classes: "govuk-input--width-10",
              id: "in-percentages",
              name: "in-percentages"
            }) }}

          {% endset %}


          <!-- Respondent pay -->
          {% set respondentPay %}
            {{ govukRadios({
              "idPrefix": "respondent-pay",
              "name": "respondent-pay",
              "fieldset": {
                "legendHtml": "<span class=\"govuk-!-w-bold\">Select one of the options below.</span>"
              },
              "items": [
                {
                  "value": "1",
                  "text": "Agreed to",
                  "conditional": {
                    "html": poundsPercentages
                  }
                },
                {
                  "value": "2",
                  "text": "Limited to",
                  "conditional": {
                    "html": poundsPercentages
                  }
                },
                {
                  "value": "3",
                  "text": "To be subject to detailed assessment if not agreed"
                }
              ]
            }) }}
          {% endset %}


          <!-- Financial order -->
          {% set financialOrder %}
            {{ govukRadios({
              "idPrefix": "financial-order",
              "name": "financial-order",
              "fieldset": {
                "legendHtml": "<span class=\"govuk-!-w-bold\">Select one of the options below.</span>"
              },
              "items": [
                {
                  "value": "1",
                  "text": "Agreed to",
                  "conditional": {
                    "html": poundsPercentages
                  }
                },
                {
                  "value": "2",
                  "text": "Limited to",
                  "conditional": {
                    "html": poundsPercentages
                  }
                },
                {
                  "value": "3",
                  "text": "To be subject to detailed assessment if not agreed"
                }
              ]
            }) }}
          {% endset %}


          <!-- Costs order decision -->
          {{ govukRadios({
            "idPrefix": "costs-order-decision",
            "name": "costs-order-decision",
            "fieldset": {
              "legendHtml": "<h2 class=\"govuk-heading-l\">Costs order decision</h2>"
            },
            "items": [
              {
                "value": "1",
                "text": "An order that the Respondent shall pay the costs of the Petitioner",
                "conditional": {
                  "html": respondentPay
                }
              },
              {
                "value": "2",
                "text": "A financial order in terms agreed between the parties and approved by the court",
                "conditional": {
                  "html": financialOrder
                }
              },
              {
                "value": "3",
                "text": "No order for costs"
              },
              {
                "value": "4",
                "text": "Other"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Submit"
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}

{% block page_scripts %}
  <script>
    new RadiosReveal($('.govuk-radios'));
  </script>
{% endblock %}