{% extends "layouts/admin/base.html" %}

{% set pageID = "Make decision" %}

{% block page_title %}Make decision - Judicial UI prototype{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "./"
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">

        <h1 class="govuk-heading-xl">Make a decision</h1>

        <form method="post">

          {{ govukRadios({
            "idPrefix": "satisfied",
            "name": "satisfied",
            "classes": "govuk-radios--inline",
            "fieldset": {
              "legend": {
                "html": "Are you satisfied that <p class=\"govuk-body govuk-!-mt-r4  govuk-!-mb-r0\">David Francis is entitled to a decree nisi of divorce for reason of adultery.</p>",
                "classes": "govuk-fieldset__legend--m"
              }
            },
            "items": [
              {
                "value": "yes",
                "html": "Yes<span class=\"visually-hidden\">, I am satisfied</span>"
              },
              {
                "value": "no",
                "html": "No<span class=\"visually-hidden\">, I am not satisfied</span>"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}