{% extends "layouts/admin/base.html" %}

{% set pageID = "Make decision" %}

{% block page_title %}Make decision - Judicial UI prototype{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "./"
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid">

      <div class="govuk-grid__item  govuk-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">Make a decision</h1>

        <h2 class="govuk-heading-m">Are you satisfied that</h2>

        <p class="govuk-body">David Francis is entitled to a decree nisi of divorce for reason of adultery.</p>

        <form method="post">

          {{ govukRadios({
            "idPrefix": "satisfied",
            "name": "satisfied",
            "classes": "govuk-radios--inline",
            "fieldset": {
              "legendHtml": "",
              "legendHintText": ""
            },
            "items": [
              {
                "value": "yes",
                "html": "Yes<span class=\"visually-hidden\">, I am satisfied</span>"
              },
              {
                "value": "no",
                "html": "No<span class=\"visually-hidden\">, I am not satisfied</span>"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}