{% extends "layouts/admin/base.html" %}

{% set casenavId = "summary" %}

{% block page_title %}Case summary - Divorce{% endblock %}

{% block content %}

{% include "includes/casebar.html" %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    {% include "includes/casenav.html" %}

    <h1 class="govuk-heading-l">Summary</h1>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Case details</h2>

        {{ govukTable({
          "classes": "govuk-!-f-16  govuk-!-mb-r7  jui-table  jui-table--fixed",
          "firstCellIsHeader": true,
          "rows": detailsRows
        }) }}

      </div>

      <div class="govuk-grid-column-one-half">

        <h2 class="gov-heading-s  govuk-!-mb-r2">Representatives</h2>

        {{ govukTable({
          "classes": "govuk-!-f-16  govuk-!-mb-r7  jui-table  jui-table--fixed",
          "firstCellIsHeader": true,
          "rows": representativesRows
        }) }}

      </div>

    </div>

    <h2 class="govuk-heading-m">Recent events</h2>

    <div class="jui-timeline  govuk-!-mb-r6">

      <!-- 1 -->
      <div class="jui-timeline__item">

        <div class="jui-timeline__header">
          <time datetime="27-02-2017">27 February 2018</time>
        </div>

        <div class="jui-timeline__body">

          <div class="jui-timeline__event">

            <div class="jui-timeline__title">
              <h4>Application for decree nisi received</h4>
            </div>

            <div class="jui-document">
              <a class="jui-document__link" href="/v1/case/{{includes/casebar.id}}/casefile">
                <span class="jui-document__title">Application for decree nisi</span>
                <span class="jui-document__meta">PDF, 123KB, 1 page</span>
              </a>
            </div>

          </div>

        </div>

      </div>

      <!-- 2 -->
      <div class="jui-timeline__item">

        <div class="jui-timeline__header">
          <time datetime="24-02-2017">24 February 2018</time>
        </div>

        <div class="jui-timeline__body">

          <div class="jui-timeline__event">

            <div class="jui-timeline__title">
              <h4>Acknowledgement of service by the court</h4>
            </div>

            <div class="jui-document">
              <a class="jui-document__link" href="/v1/case/{{includes/casebar.id}}/casefile">
                <span class="jui-document__title">Aknowledgement of service</span>
                <span class="jui-document__meta">PDF, 123KB, 3 pages</span>
              </a>
            </div>

          </div>

        </div>

      </div>

      <!-- 3 -->
      <div class="jui-timeline__item">

        <div class="jui-timeline__header">
          <time datetime="18-02-2017">18 February 2018</time>
        </div>

        <div class="jui-timeline__body">

          <div class="jui-timeline__event">

            <div class="jui-timeline__title">
              <h4>Court issues petition to the respondent</h4>
            </div>

            <div class="jui-document">
              <a class="jui-document__link" href="/v1/case/{{includes/casebar.id}}/casefile">
                <span class="jui-document__title">Petition for divorce</span>
                <span class="jui-document__meta">PDF, 123KB, 3 pages</span>
              </a>
            </div>

          </div>

        </div>

      </div>

    </div>

  </main>

</div>

{% endblock %}