{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="jui-o-width-container">
  
  <main role="main" class="govuk-o-main-wrapper">

    <h1 class="govuk-heading-xl">Dashboard</h1>

    <p class="govuk-body govuk-!-mb-r6">Welcome, {{users.name}}</p>

    <!-- my cases -->
    <h1 class="govuk-heading-m">Cases I’m working on</h1>

    {{ govukTable({
      "firstCellIsHeader": true,
      "head": [
        {"text": "Case number"},
        {"text": "Parties"},
        {"text": "Type"},
        {"text": "Status"},
        {"text": "Date"},
        {"text": "Documents"},
        {"text": "Last action"}
      ],
      "rows": cases
      }) 
    }}

    <a class="govuk-c-button" href="#" role="button">Get new case</a>

  </main>

</div>

{% endblock %}
