{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">Judicial UI prototypes</h1>

  			<h2 class="govuk-heading-m">Version 1</h2>

  			<ul class="govuk-list govuk-list--bullet">
  				<li><a href="/v1/dashboard">Dashboard</a></li>
  			</ul>

        <h2 class="govuk-heading-m">Users</h2>
        <ul class="govuk-list govuk-list--bullet">
        {% for users in users -%}
          <li><a href="/dashboard/{{users.id}}">{{users.name}}</a> ({{users.role}})</li>
        {% endfor %}
        </ul>

      </div>
    </div>
  </main>
</div>

{% endblock %}
