{% extends "layout.html" %}

{% block page_title %}
  Judicial UI prototypes
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">

      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">Judicial UI prototypes</h1>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/v1">Version 1</a></li>
        </ul>

      </div>

    </div>

  </main>

</div>

{% endblock %}
