{% extends "layouts/service/base.html" %}

{% block page_title %}Prototype settings{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
    "text": "Back",
    "href": "/"
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid">

      <div class="govuk-grid__item  govuk-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">Prototype settings</h1>

        <form method="post" action="/setup">

          {{ govukCheckboxes({
            "idPrefix": "services",
            "name": "services",
            "classes": "govuk-!-mb-r4",
            "fieldset": {
              "legendHtml": "<h2 class=\"govuk-heading-m\">Service lines</h2>"
            },
            "items": services
          }) }}

          {{ govukButton({
            "text": "Start"
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}