{% extends "layouts/admin/base.html" %}

{% block page_title %}Sign in - Judicial case manager{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    <h1 class="govuk-heading-l">Sign in</h1>

    <form method="post">

      {{ govukInput({
        label: {
          html: "Email address",
          classes: "govuk-!-width-one-third"
        },
        id: "email-address",
        name: "email-address",
        classes: 'govuk-!-width-one-third'
      }) }}

      {{ govukInput({
        label: {
          html: "Password",
          classes: "govuk-!-width-one-third"
        },
        id: "password",
        name: "password",
        type: "password",
        classes: "govuk-!-width-one-third"
      }) }}

      {{ govukButton({
        "text": "Sign in",
        "classes": "govuk-!-mb-r4"
      }) }}

    </form>

    <p class="govuk-body"><a href="">Forgotten your password?</a></p>

  </main>

</div>

{% endblock %}