{% extends "layout.html" %}

{% block body_start %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block page_title %}Tabs for GDS{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <main role="main" class="govuk-o-main-wrapper">

    <h1 class="govuk-heading-xl">Tabs</h1>

    <div class="govuk-tabs">

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#beforeYouStart">Before you start</a></li>
        <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#needToKnow">Need to know</a></li>
        <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#waysToApply">Ways to apply</a></li>
      </ul>

      <section class="govuk-tabs__panel  js-hidden" id="beforeYouStart">

        <div class="govuk-prose-scope  govuk-!-pt-r6">

          <h2>Before you start</h2>

          <p>To get your first provisional driving licence online for a car, motorcycle or moped you must:</p>

          <ul>
            <li>be a resident of Great Britain &ndash; there&rsquo;s a different service in <a href="">Northern Ireland</a></li>
            <li>meet the minimum age requirement</li>
            <li>meet the <a href="">minimum eyesight requirement</a></li>
            <li>not be prevented from driving for any reason</li>
            <li>pay &pound;50 by MasterCard, Visa, Electron, Maestro or Delta debit or credit card</li>
            <li>have a valid UK passport or <a href="">other form of identity</a></li>
            <li>have your National Insurance number if known</li>
            <li>provide addresses where you&rsquo;ve lived for the last 3 years</li>
          </ul>

        </div>

      </section>

      <section class="govuk-tabs__panel js-hidden" id="needToKnow">

        <div class="govuk-prose-scope  govuk-!-pt-r6">

          <h2>Need to know</h2>

          <ul>
            <li>proof of identification required</li>
            <li>3 years of address details required</li>
            <li>debit or credit card required</li>
          </ul>
        </div>

      </section>

      <section class="govuk-tabs__panel  js-hidden" id="waysToApply">

        <div class="govuk-prose-scope  govuk-!-pt-r6">

          <h2>Ways to apply</h2>

          <p>You can apply by post by completing a D1 application form, which you can get from the <a href="">DVLA form ordering service</a> or from a Post Office.</p>

          <p>You&rsquo;ll also need to include:</p>

          <ul>
            <li>original documentation confirming your identity</li>
            <li>a colour <a href="">passport&ndash;style photograph</a></li>
            <li>the fee of &pound;50 by cheque or postal order payable to DVLA (do not send cash)</li>
          </ul>

          <p>Send your completed application and payment to DVLA, Swansea, SA99 1AD.</p>

          <p>If you&rsquo;re including non&ndash;UK identity documents send your application and payment to DVLA, Swansea, SA99 1AF.</p>

        </div>

      </section>

    </div>

  </main>

</div>

{% endblock %}

{% block page_scripts %}
  <script src="/public/javascripts/jui/Tabs.js"></script>
  <script>
    if(Tabs) {
      new Tabs($('.govuk-tabs'));
    } else {
      $('.govuk-tabs .js-hidden').removeClass('js-hidden');
      $('.js-tabs-enabled').removeClass('js-tabs-enabled');
    }
  </script>
{% endblock %}