{% extends "layouts/service/base.html" %}


{% block body_start %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block page_title %}Tabs for GDS{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">


    <h1 class="govuk-heading-xl">Tabs</h1>


     <!-- Tabbed panel -->
    <div class="govuk-!-mb-r9">

      {% set beforeYouStartPanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">

          <h2>Before you start</h2>

          <p>To get your first provisional driving licence online for a car, motorcycle or moped you must:</p>

          <ul>
            <li>be a resident of Great Britain &ndash; there&rsquo;s a different service in <a href="">Northern Ireland</a></li>
            <li>meet the minimum age requirement</li>
            <li>meet the <a href="">minimum eyesight requirement</a></li>
            <li>not be prevented from driving for any reason</li>
            <li>pay &pound;50 by MasterCard, Visa, Electron, Maestro or Delta debit or credit card</li>
            <li>have a valid UK passport or <a href="">other form of identity</a></li>
            <li>have your National Insurance number if known</li>
            <li>provide addresses where you&rsquo;ve lived for the last 3 years</li>
          </ul>

        </div>
      {% endset %}

      {% set needToKnowPanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">
          <h2>Need to know</h2>
          <ul>
            <li>proof of identification required</li>
            <li>3 years of address details required</li>
            <li>debit or credit card required</li>
          </ul>
        </div>
      {% endset %}

      {% set waysToApplyPanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">

          <h2>Ways to apply</h2>

          <p>You can apply by post by completing a D1 application form, which you can get from the <a href="">DVLA form ordering service</a> or from a Post Office.</p>

          <p>You&rsquo;ll also need to include:</p>

          <ul>
            <li>original documentation confirming your identity</li>
            <li>a colour <a href="">passport&ndash;style photograph</a></li>
            <li>the fee of &pound;50 by cheque or postal order payable to DVLA (do not send cash)</li>
          </ul>

          <p>Send your completed application and payment to DVLA, Swansea, SA99 1AD.</p>

          <p>If you&rsquo;re including non&ndash;UK identity documents send your application and payment to DVLA, Swansea, SA99 1AF.</p>

        </div>
      {% endset %}

      {{govukTabs({
        tabs: [{
          id: 'beforeYouStart',
          label: 'Before you start',
          panel: {
            html: beforeYouStartPanelHtml
          }
        }, {
          id: 'needToKnow',
          label: 'Need to know',
          panel: {
            html: needToKnowPanelHtml
          }
        }, {
          id: 'waysToApply',
          label: 'Ways to apply',
          panel: {
            html: waysToApplyPanelHtml
          }
        }]
      })}}

    </div>


  </main>

</div>

{% endblock %}

{% block page_scripts %}
  <script>
    if(Tabs) {
      new Tabs($('.govuk-tabs').eq(0));
    } else {
      $('.govuk-tabs .js-hidden').removeClass('js-hidden');
      $('.js-tabs-enabled').removeClass('js-tabs-enabled');
    }
  </script>
{% endblock %}