{% extends "./layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Manage organisation</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="/oct-2020/manage-organisation">
            Organisation
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/users">
            Users
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/cases/">
            Unassigned cases
          </a>
        </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link"  href="/oct-2020/manage-organisation/cases/case-list">
                        Assigned cases
                    </a>
                </li>

        <!--  <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/payments">
                        Fee accounts
                    </a>
                </li> -->
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
  {% include "./includes/phase-banner.html" %}
  <main role="main" class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Organisation</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-check-your-answers  govuk-check-your-answers--short  govuk-!-margin-bottom-6">
       
          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">Name</dt>
              <dd class="govuk-check-your-answers__answer">{{ data['org-name'] or 'Wedlake Bell' }}</dd>
              <dd class="govuk-check-your-answers__change">
                  <a href="manage-organisation/update-name">Change <span class="govuk-visually-hidden">organisation name</span></a>
              </dd>
          </div>
          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">SRA ID</dt>
              <dd class="govuk-check-your-answers__answer">{{ data['sra-number'] or 'SRA3347232' }}</dd>
              <dd class="govuk-check-your-answers__change">
                  <a href="manage-organisation/update-sra">Change <span class="govuk-visually-hidden">organistaion sra</span></a>
              </dd>
          </div>
          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">Organisation addresses</dt>
              <dd class="govuk-check-your-answers__answer">
                  <h4 class="govuk-heading-s">Main office</h4>
                  {{data['address-line-1'] or '102 Petty France' }}<br>
                  {{data['address-line-2'] or 'Westminster' }}<br>
                  {{data['address-town'] or 'London' }}<br>
                  {{data['address-postcode'] or 'SW1H 9AJ' }}<br><br/>

                  DX address: 152380 Westminster 8<br><br/>


                  <h4 class="govuk-heading-s">Newbury office</h4>
                  8 Market Street<br/>
                  Newbury<br/>
                  RG14 5BN<br><br/>

                  DX address: 931NR, Hayes<br><br/>
              </dd>
              <dd class="govuk-check-your-answers__change">
                  <a href="manage-organisation/organisation-address">Change <span class="govuk-visually-hidden">organistaion address</span></a>
              </dd>
          </div>
          <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">PBA numbers</dt>
              <dd class="govuk-check-your-answers__answer">
                  PBA1234567<br />
                  PBA2233444
              </dd>
              <dd class="govuk-check-your-answers__change">
                  <a href="manage-organisation/update-pba">Change <span class="govuk-visually-hidden">PBA number</span></a>
              </dd>
          </div>
        </dl>


      </div>
    </div>
  </main>
</div>
{% endblock %}
