{% extends "./layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Manage organisation</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="/oct-2020/manage-organisation">
            Organisation
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/users">
            Users
          </a>
        </li>

        <!--

        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/cases/">
            Unassigned cases
          </a>
        </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link"  href="/oct-2020/manage-organisation/cases/case-list">
                        Assigned cases
                    </a>
                </li>
        -->

        <!--  <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/payments">
                        Fee accounts
                    </a>
                </li> -->
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content%}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: '../manage-organisation'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width">
                <form action="/oct-2020/register-organisation/organisation-address" method="get">
                  <input type="hidden" name="addNew" value="true" />

                    {% if showConfirm == true %}
                      {% from "hmcts-banner/macro.njk" import hmctsBanner %}
                      {{ hmctsBanner({
                      type: 'success',
                      text: 'New office added.',
                      iconFallbackText: 'Success'
                      }) }} 
                    {% endif %}

                    <h1 class="govuk-heading-l">Manage office addresses</h1>

                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">                        
                          <th class="govuk-table__header" scope="col">Address</th>
                          <th class="govuk-table__header" scope="col">DX reference</th>
                          <th class="govuk-table__header" scope="col"></th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for address in data['addresses'] %}

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">{{ address.address }}</td>        
                          <td class="govuk-table__cell">{{ address.addressDX }}, {{ address.addressDXExchange }}</td>        
                          <td class="govuk-table__cell"><a class="change link" href="">Change</a> &nbsp; <a href="">Remove</a></td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                    {{govukButton({
                    text: 'Add another address'
                    })}}
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}