{% extends "./layout.html" %}
{% set serviceName = 'Manage organisation' %}
{% set primaryNavId = 'terms' %}
{% block page_title %}Terms{% endblock %}
{% block header %}
<header class="hmcts-header" role="banner">
    <div class="hmcts-header__container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <span class="govuk-header__logotype-text">
                        MyHMCTS
                    </span>
                </span>
            </a>
        </div>
        <a class="hmcts-header__link" href="/">Manage organisation</a>
        <div class="hmcts-header__content">
            <nav class="hmcts-header__navigation">
                <ul class="hmcts-header__navigation-list">
                    <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="/sign-out">
                            Sign out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endblock %}
{% block content%}
<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="column-two-thirds">
                    <h1 class="govuk-heading-xl">Using this service</h1>
                    <h2 class="govuk-heading-m">Terms and conditions</h2>
                    <p>We’ve recently updated the <a href="#" rel="noopener noreferrer" target="_blank">terms and conditions</a>.</p>
                    <p>You must review and accept them.</p>
                    <p><a href="index" role="button" draggable="false" class="govuk-button">
                            Confirm
                        </a></p>
                </div>
            </div>
        </div>


</main>
</div>

{% endblock %}
