{% extends "./layout.html" %}
{% block header %}
<header class="hmcts-header" role="banner">
  <div class="hmcts-header__container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            MyHMCTS
          </span>
        </span>
      </a>
    </div>
    <a class="hmcts-header__link" href="#">Manage organisation</a>
    <div class="hmcts-header__content">
      <nav class="hmcts-header__navigation" aria-label="Account navigation">
        <ul class="hmcts-header__navigation-list">
          <!-- <li class="hmcts-header__navigation-item">
                        <a class="hmcts-header__navigation-link" href="#1">
                            Profile
                        </a>
                    </li> -->
          <li class="hmcts-header__navigation-item">
            <a class="hmcts-header__navigation-link" href="#1">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="hmcts-primary-navigation">
      <ul class="hmcts-primary-navigation__list">
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" aria-current="page" href="/oct-2020/manage-organisation">
            Organisation
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/users">
            Users
          </a>
        </li>
        <li class="hmcts-primary-navigation__item">
          <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/cases/">
            Unassigned cases
          </a>
        </li>

        <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link"  href="/oct-2020/manage-organisation/cases/case-list">
                        Assigned cases
                    </a>
                </li>

        <!--  <li class="hmcts-primary-navigation__item">
                    <a class="hmcts-primary-navigation__link" href="/oct-2020/manage-organisation/payments">
                        Fee accounts
                    </a>
                </li> -->
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="hmcts-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{govukBackLink({
    href: 'organisation-dx-pre'
    })}}
    <main role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="../manage-organisation">
                    {% call govukFieldset({
                    legend: {
                    text: "What's the DX reference for your main office? (optional)",
                    classes: "govuk-fieldset__legend--xl",
                    isPageHeading: true
                    }
                    }) %}
                    {{ govukInput({
                    label: {
                    text: "DX number",
                    classes: 'govuk-label--m'
                    },
                    hint: {
                    text: "For example 931NR. You don't need to include 'DX'."
                    },
                    id: "dx-number",
                    name: "dx-number",
                    classes: "govuk-input--width-20",
                    value: '931NR'
                    }) }}
                    {{ govukInput({
                    label: {
                    text: "DX exchange",
                    classes: 'govuk-label--m'
                    },
                    hint: {
                    text: "For example: HAYES (MIDDLESEX)."
                    },
                    id: "dx-exchange",
                    name: "dx-exchange",
                    classes: "govuk-input--width-20",
                    value: 'HAYES (MIDDLESEX)'
                    }) }}
                    {% endcall %}
                    {{govukButton({
                    text: 'Update'
                    })}}
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}